mixin memberlist(members)
  dl.dl-horizontal
    for member in members
      dt: .member: a(href="/members/#{member.nickname}") #{member.nickname} 
      dd #{member.firstname} #{member.lastname}, #{member.location}
