extends ../../../views/layoutOnlyMain
include ../../activities/views/activities-mixins

block scripts
  script.
    $(document).ready(function () {
      $('a.chevron').click(function() {$(this).find('i').toggleClass('fa-toggle-down fa-toggle-right')});
    });

block title
  | Dashboard
block content
  #wikidialog.modal.fade(tabindex='-1')
    .modal-dialog.modal-lg
      .modal-content

  .page-header
    h2 #{t('dashboard.dashboard')} <br>
      small #{t('dashboard.description')}
  .row
    .col-sm-6
      +my_activities
  +my_groups

mixin my_groups
  h3 #{t('dashboard.your_groups')}
  .row
    each groups in groupsPerColumn
      .col-sm-4
        each group in groups
          -var panelid = group.id + '-grouppanel'
          .card.mb-2
            h5.card-header(style='background-color: ' + group.color + '; color: #FFFFFF;')
              a.inherit-color.chevron(data-toggle='collapse', data-target='#' + panelid): b
                i.far.fa-caret-square-down.fa-fw.blog
                | &nbsp;#{group.longName}
              a.inherit-color(href='/groups/' + group.id): span.float-right: i.fas.fa-users.fa-fw.tooltipify(data-toggle='tooltip', title=t('groups.tooltip.gotogroup'))
            .collapse.show.mx-3(id=panelid)
              +wikichangesOrBlogs(postsByGroup[group.id], panelid, 'blogs', t('wiki.blogposts'))
              +wikichangesOrBlogs(changesByGroup[group.id], panelid, 'changes', t('wiki.changes'))

mixin my_activities
  .card.mb-2
    h5.card-header
      b #{t('dashboard.upcoming_activities')}
    ul.list-group.list-group-flush
      each activity in activities
        -var angemeldet = (member && activity.allRegisteredMembers().indexOf(member.id()) > -1)
        li.list-group-item
          if (angemeldet)
            i.fas.fa-check.fa-fw.text-success.tooltipify(data-toggle='tooltip', title=t('activities.tooltip.registered'))
          else
            i.fas.fa-question.fa-fw.tooltipify(data-toggle='tooltip', title=t('activities.tooltip.unknown'))
          | &nbsp; #{activity.startMoment().locale(language).format('L')} &nbsp;
          a(href=activity.fullyQualifiedUrl()) #{activity.title()}
          a.float-right(href='/groups/' + activity.assignedGroup())
            .badge.text-white(style='background-color: ' + activity.colorRGB) #{activity.groupName()}

mixin wikichangesOrBlogs(items, panelid, prefix, title)
  if (items.length > 0)
    h5.card-title.my-2
      a.chevron(data-toggle='collapse', data-target='#' + panelid + ' .' + prefix)
        i.far.fa-caret-square-down.fa-fw.blog
        | &nbsp;#{title}
    ul.list-group.list-group-flush(class=prefix + ' collapse show')
      each item in items
        li.list-group-item.py-0
          a.modaldialog(data-toggle='modal', data-target='#wikidialog', data-link=item.dialogUrl(), href='#') #{item.pureName()}
          small.float-right #{item.date().locale(language).format('L')}&nbsp;
            a(href=item.url()): i.fas.fa-book.fa-fw.tooltipify(data-toggle='tooltip', title=t('wiki.tooltip.gotopage'))
