doctype html
html
  body
    h3 SoCraTes Change of Waitinglist
    p.
      Hello #{member.displayName()},
    p We have changed your waitinglist entry for the SoCraTes Conference 2017 as follows:
    p
      | You are waiting for a #{' '}
      b #{bookingdetails.desiredRooms.map(x => x.room).join(', ')}
      if (bookingdetails.desiredRooms[0].until !== undefined)
        | #{' '} for #{' '}
        b #{bookingdetails.desiredRooms[0].nights}
        | #{' '} nights until #{' '}
        b #{bookingdetails.desiredRooms[0].until}

      | .
    p Once we have drawn the lottery and you get a spot, we will book you a room.
    p You can review and modify your participant data at #{' '}
      a(href=url + '/members/edit') #{url}/members/edit

    p The organisers
