doctype html
html
  body
    -var p1 = bookingdetails.participant1
    -var p2 = bookingdetails.participant2
    h2 SoCraTes Room Sharing Confirmation
    p.
      Hello #{p1.displayName()} and #{p2.displayName()},
    p Congratulations! You are now sharing a room at SoCraTes Conference 2017.

    p If you don't know each other yet, you might want to get in touch with each other #{''}
      | before the start of the conference. An easy way to do so is to send an email to #{''}
      | the other person from their profile page:
    a(href=url + '/members/' + p1.nickname()) #{p1.displayName()}'s profile page
    p
    a(href=url + '/members/' + p2.nickname()) #{p2.displayName()}'s profile page

  p If you have questions, need help or want to give feedback, just reply to this e-mail.

  p The SoCraTes organisers
