doctype html
html
  body
    h3 SoCraTes Waitinglist Confirmation / Change
    p
      | #{member.displayName()} (#{member.nickname()}) is on the waitinglist for a #{' '}
      b #{bookingdetails.desiredRooms.map(room => room.room).join(', ')}
      if (bookingdetails.desiredRooms[0].until !== undefined)
        | #{' '} for #{' '}
        b #{bookingdetails.desiredRooms[0].nights}
        | #{' '} nights until #{' '}
        b #{bookingdetails.desiredRooms[0].until}
      | .
