doctype html
html
  body
    h3 SoCraTes Room Pair Removal Notification
    p
      -var p1 = bookingdetails.participant1
      -var p2 = bookingdetails.participant2
      | #{p1.displayName()} (#{p1.nickname()}) no longer shares a room with #{''}
      | #{p2.displayName()} (#{p2.nickname()})
