doctype html
html
  body
    h3 SoCraTes Waitinglist Confirmation
    p.
      Hello #{member.displayName()},
    p Congratulations! You entered the waitinglist for the SoCraTes Conference 2017.
    p
      if bookingdetails.desiredRooms.length === 1
        | You are waiting for a #{' '}
        b #{bookingdetails.desiredRooms[0].room}
      else
        | You are waiting for #{' '}
        b #{bookingdetails.desiredRooms.map(room => room.room).join(', ')}
      | #{' '} for #{' '}
      b #{bookingdetails.nights}
      | #{' '} nights until #{' '}
      b #{bookingdetails.until}
      | .

p We will inform you as soon as you got a spot through the lottery or from the waitinglist (in case you registered after the lottery deadline).
    p You can review and modify your waitinglist data at #{' '}
      a(href=url + '/members/edit') #{url}/members/edit

    p The organisers
