extends ../../../views/layout

block title
  | #{pageName} : #{subdir} vergleichen

block content
  .page-header
    h2 Vergleich von "#{pageName}"&nbsp;
      .btn-group.pull-right
        a.btn.btn-default(href="javascript:history.back()", type="cancel") Zurück
      small in Wiki "#{subdir}"

  table.compare.table.table-bordered.table-hover.table-condensed
    each line in lines
      tr
        td.ln #{line.ldln}
        td.ln #{line.rdln}
        td(class="#{line.class}") #{line.text}
