extends ../../../views/layout

include  ../../../views/formComponents

block title
  | #{pageName} : #{subdir} - #{t("general.edit")}

block content
  form(action='/wiki/#{subdir}/#{pageName}', method='post')
    fieldset
      .row
        .col-md-12
          legend
            -var params = {pageName: pageName, subdir: subdir}
            if page.content === ''
              | #{t("wiki.create", params)}
            else 
              | #{t("wiki.edit", params)}
          mixin hightextarea('content', t("wiki.contents"), page.content)
          mixin text('comment', t("wiki.message"), page.comment, t("wiki.commit_message"), t("wiki.commit_template"))
          mixin hidden('metadata', page.metadata)
          input(id="subdir", type="hidden", name="subdir", value=subdir)
          button.btn.btn-primary.pull-right(type="submit") #{t("general.save")}
          a.btn.btn-default.pull-right(href="javascript:history.back()", type="cancel") #{t("general.back")}
