extends ../../../views/layout

block title
  | #{pageName} : #{subdir}

block content
  .row
    .col-md-12
      .page-header
        h2 "#{pageName}"&nbsp;
          .btn-group.pull-right
              a.btn.btn-default(href="/wiki/list/#{subdir}/", title="Alle Seiten in \"#{subdir}\""): i.icon-list
              a.btn.btn-default(href="/wiki/versions/#{subdir}/#{pageName}", title="Revisionen"): i.icon-sort-by-attributes-alt
              if (typeof(user) !== 'undefined' && canEdit)
                a.btn.btn-default(href="/wiki/edit/#{subdir}/#{pageName}", title="Bearbeiten"): i.icon-edit
          form.hidden-print.form-search.pull-right(action='/wiki/search', method='post')
            input.form-control(type="text", name="searchtext", placeholder="Wiki durchsuchen")
          small in Wiki "#{subdir}"

  !{content}
