extends ../../../views/layout

block scripts
  script(src="/clientscripts/wiki_compare.js")

block title
  | #{pageName} : #{subdir} Revisionen

block content
  .page-header
    h2 #{pageName}
      .btn-group.pull-right
        a.btn.btn-default(href="javascript:history.back()", type="cancel") Zurück
        if (typeof(user) !== 'undefined')
          button(id="rev-compare", data-pageName="#{pageName}", data-subdir="#{subdir}").btn.btn-default
            i.icon-stethoscope 
            | &nbsp; Vergleichen…
      br
      small Wiki "#{subdir}"

  table.history.table.table-striped.table-bordered.table-hover.table-condensed
    each item in items
      tr
        td
          input(type="checkbox", value="#{item.fullhash}")
        td #{item.author}
        td #{item.date}
        td #{item.subject}
        td 
          a(href="/wiki/#{item.name}/#{item.hashRef}") #{item.hashRef || 'CURRENT'}

  script Jingo.init();
