// GENERAL
mixin controlLabel(name, label, tooltip)
  label.control-label(for=name)
    -if (typeof(tooltip) !== 'undefined')
      span.tooltiplabel(data-toggle="tooltip", data-original-title="#{tooltip}") #{label}:&nbsp;
        i.icon-question-sign
      script.
        $('.tooltiplabel').each(function(each) {$(this).tooltip()})
    -else
      | #{label}:

mixin text(name, label, object, tooltip, placeholder)
  .form-group
    mixin controlLabel(name, label, tooltip)
    input.form-control(id=name, type='text', name=name, value=object[name], placeholder=placeholder)

mixin textReadonly(name, label, object)
  .form-group
    mixin hidden(name, object)
    label(class="control-label", for=name) #{label}:
    input.form-control(id=name, type='text', name=name, value=object[name], placeholder=placeholder disabled)

mixin textarea(name, label, object)
  .form-group
    mixin controlLabel(name, label, tooltip)
    textarea.input-block-level(rows="7", id=name, type='text', name=name)
      | #{object[name]}

mixin hightextarea(name, label, object)
  .form-group
    mixin controlLabel(name, label, tooltip)
    textarea.input-block-level(rows="15", id=name, type='text', name=name)
      | #{object[name]}

mixin checkbox(name, label, checked, optionalValue)
  .checkbox
    label
      input(type='checkbox', name=name, value=optionalValue, checked=(checked ? "true" : undefined))
      | #{label}

mixin checkboxWithDescription(name, label, checked, description, optionalValue)
  .checkbox
    label
      input(type='checkbox', name=name, value=optionalValue, checked=(checked ? "true" : undefined))
      -if (!!description)
        span.popover-highlight(rel="tooltip-in-body", data-content="#{description}") #{label}
      -else
        | #{label}

mixin groupCheckboxes(checkboxName, regionalgroups, themegroups)
  .row
    .col-md-6
      h4 Regionale Gruppen
      .form-group
        each markedGroup in regionalgroups
          mixin checkboxWithDescription(checkboxName, markedGroup.group.longName, markedGroup.selected, markedGroup.group.descriptionHTMLFiltered("img"), markedGroup.group.id)
    .col-md-6
      h4 Themengruppen
      .form-group
        each markedGroup in themegroups
          mixin checkboxWithDescription(checkboxName, markedGroup.group.longName, markedGroup.selected, markedGroup.group.descriptionHTMLFiltered("img"), markedGroup.group.id)



mixin hidden(name, object, optionalAlternateValue)
  input(id=name, type="hidden", name=name, value=object[(optionalAlternateValue ? optionalAlternateValue : name)])

// PICKERS
mixin date(name, label, object, value, tooltip)
  .form-group
    mixin controlLabel(name, label, tooltip)
    input.form-control.datepicker(id=name, type='text', name=name, value=(value ? value : object[name]))

mixin time(name, label, object, value)
  .form-group.bootstrap-timepicker
    label(class="control-label", for=name) &nbsp;
    input.form-control.timepicker(id=name, type='text', name=name, value=(value ? value : object[name]))

mixin colorPicker(name, object)
  .form-group
    label.control-label(for="color") Farbe:
    #color.input-group(data-color="#{object[name]}", data-color-format="hex")
      input#colorText.form-control(type="text", name=name, value=object[name])
      span#colorSpan.input-group-addon(style="background-color: #{object[name]}")
    script.
      $("#color").colorpicker();
      $("#colorText").on("change", function (event) {
        $("#color").colorpicker("setValue", event.target.value);
      });
      $("#colorText").on("keyup", function (event) {
        $("#color").colorpicker("setValue", event.target.value);
      });
      $("#color").colorpicker().on('changeColor', function(event) {
        $("#colorText").val(event.color.toHex());
        $("#colorSpan").css("background-color", event.color.toHex());
      });

// PICKERS END

// SPECIAL
mixin twitter(name, label, object)
  .form-group
    label(class="control-label", for=name) #{label}:
    .input-group
      span.input-group-addon @
      input.form-control(id=name, type='text', name=name, value=object[name])

