mixin text(name, label, value, tooltip, placeholder)
  .form-group
    +controlLabel(name, label, tooltip)
    input.form-control(id=name, type='text', name=name, value=value, placeholder=placeholder)

mixin textReadonly(name, label, value)
  .form-group
    +hidden(name, value)
    label(class="control-label", for=name) #{label}:
    input.form-control(id=name, type='text', name=name, value=value, placeholder=placeholder disabled)

mixin textarea(name, label, value, tooltip)
  .form-group
    +controlLabel(name, label, tooltip)
    textarea.input-block-level(rows="7", id=name, type='text', name=name)
      | #{value}

mixin hightextarea(name, label, value, tooltip)
  .form-group
    +controlLabel(name, label, tooltip)
    textarea.input-block-level(rows="15", id=name, type='text', name=name)
      | #{value}

mixin checkbox(name, label, checked, optionalValue)
  .checkbox
    label
      input(type='checkbox', name=name, value=optionalValue, checked=(checked ? "true" : undefined))
      | #{label}

mixin groupCheckboxes(checkboxName, regionalgroups, themegroups)
  .row
    .col-md-6
      +controlLabel(t("groups.regional"), t("groups.regional"))
      .form-group
        each markedGroup in regionalgroups
          +checkboxWithDescription(checkboxName, markedGroup.group.longName, markedGroup.selected, markedGroup.group.descriptionHTMLFiltered("img"), markedGroup.group.id)
    .col-md-6
      +controlLabel(t("groups.themed"), t("groups.themed"))
      .form-group
        each markedGroup in themegroups
          +checkboxWithDescription(checkboxName, markedGroup.group.longName, markedGroup.selected, markedGroup.group.descriptionHTMLFiltered("img"), markedGroup.group.id)

mixin submitButtons(submitTextToken)
  .btn-group.pull-right
    a.btn.btn-default(href="javascript:history.back()", type="cancel") #{t("general.back")}
    button.btn.btn-primary(type="submit") #{t(submitTextToken)}


mixin hidden(name, value)
  input(id=name, type="hidden", name=name, value=value)

// PICKERS
mixin date(name, label, value, tooltip)
  .form-group
    +controlLabel(name, label, tooltip)
    input.form-control.datepicker(id=name, type='text', name=name, value=value)

mixin time(name, label, value)
  .form-group.bootstrap-timepicker
    label(class="control-label", for=name) &nbsp;
    input.form-control.timepicker(id=name, type='text', name=name, value=value)

mixin colorPicker(name, value)
  .form-group
    label.control-label(for="color") #{t("colors.color")}:
    input#color.form-control(type="text", name=name, value=value)
    script.
      $("#color").pickAColor();

// PICKERS END

// SPECIAL
mixin twitter(name, label, value)
  .form-group
    label(class="control-label", for=name) #{label}:
    .input-group
      span.input-group-addon @
      input.form-control(id=name, type='text', name=name, value=value)

// GENERAL
mixin controlLabel(name, label, tooltip)
  label.control-label(for=name)
    -if (typeof(tooltip) !== 'undefined')
      span.tooltiplabel(data-toggle="tooltip", data-original-title="#{tooltip}") #{label}:&nbsp;
        i.fa.fa-question-circle
      script.
        $('.tooltiplabel').each(function(each) {$(this).tooltip()})
    -else
      | #{label}:

mixin checkboxWithDescription(name, label, checked, description, optionalValue)
  .checkbox
    label
      input(type='checkbox', name=name, value=optionalValue, checked=(checked ? "true" : undefined))
      -if (!!description)
        span.popover-highlight(rel="tooltip-in-body", data-content="#{description}") #{label}
      -else
        | #{label}
        
mixin csrf
  +hidden('_csrf', csrf_token)

