mixin text(name, label, value, tooltip, placeholder, readonly)
  .form-group
    if (readonly)
      +hidden(name, value)
    +controlLabel(name, label, tooltip)
    input.form-control(id=name, type='text', name=name, value=value, placeholder=placeholder, disabled=readonly)

mixin textareaPure(name, label, value)
  +textareaInternal('form-control', '4', name, label, value)

mixin textarea(name, label, value, tooltip)
  +textareaInternal('md-textarea', '7', name, label, value, tooltip)

mixin hightextarea(name, label, value, tooltip)
  +textareaInternal('md-textarea', '15', name, label, value, tooltip)

mixin checkbox(name, label, checked, optionalValue)
  .checkbox
    label
      input(type='checkbox', name=name, value=optionalValue, checked=(checked ? 'true' : undefined))
      | #{label}

mixin groupCheckboxes(checkboxName, regionalgroups, themegroups)
  .row
    .col-md-6
      +controlLabel(t('groups.regional'), t('groups.regional'))
      .form-group
        each markedGroup in regionalgroups
          +checkboxWithDescription(checkboxName, markedGroup.group.longName, markedGroup.selected, markedGroup.group.descriptionHTMLFiltered('img'), markedGroup.group.id)
    .col-md-6
      +controlLabel(t('groups.themed'), t('groups.themed'))
      .form-group
        each markedGroup in themegroups
          +checkboxWithDescription(checkboxName, markedGroup.group.longName, markedGroup.selected, markedGroup.group.descriptionHTMLFiltered('img'), markedGroup.group.id)

mixin submitButtons(submitTextToken)
  .btn-group.pull-right
    a.btn.btn-default(href='javascript:history.back()', type='cancel') #{t('general.back')}
    button.btn.btn-primary(type='submit') #{t(submitTextToken)}


mixin hidden(name, value)
  input(type='hidden', name=name, value=value)

// PICKERS
mixin date(name, label, value, tooltip)
  .form-group
    +controlLabel(name, label, tooltip)
    input.form-control.datepicker(id=name, type='text', name=name, value=value)

mixin time(name, value)
  .form-group.bootstrap-timepicker
    label.control-label(for=name) &nbsp;
    input.form-control.timepicker(id=name, type='text', name=name, value=value)

mixin colorPicker(name, value)
  .form-group
    +controlLabel(name, t('colors.color'))
    input.form-control.colorpicker(id=name, type='text', name=name, value=value)
    script.
      $('.colorpicker').pickAColor();

// PICKERS END

// SPECIAL
mixin twitter(name, label, value)
  .form-group
    +controlLabel(name, label)
    .input-group
      span.input-group-addon @
      input.form-control(id=name, type='text', name=name, value=value)

// GENERAL
mixin csrf
  +hidden('_csrf', csrf_token)

mixin controlLabel(name, label, tooltip)
  label.control-label(for=name)
    -if (tooltip)
      span.tooltiplabel(data-toggle='tooltip', data-original-title=tooltip) #{label}:&nbsp;
        i.fa.fa-question-circle
      script.
        $('.tooltiplabel').each(function() {$(this).tooltip()})
    -else
      | #{label}:

mixin checkboxWithDescription(name, label, checked, description, optionalValue)
  .checkbox
    label
      input(type='checkbox', name=name, value=optionalValue, checked=(checked ? 'true' : undefined))
      -if (description)
        span.popover-highlight(rel='tooltip-in-body', data-content=description) #{label}
      -else
        | #{label}

mixin textareaInternal(classname, rowCount, name, label, value, tooltip)
  .form-group
    +controlLabel(name, label, tooltip)
    textarea(class=classname, id=name, rows=rowCount, type='text', name=name) #{value}


