extends commonLayout
block specific
  .col-md-8
    if (statusmessage)
      +notificationsBlock(statusmessage)
    block content
    p &nbsp;
  .col-md-4.hidden-print
    .page-header.visible-xs.visible-sm
      h2 #{t('activities.activities')}
    #calendar
    if (latestNews)
      h2 #{t('announcements.latest_news')}&nbsp;
        if (!!displayMoreNews)
          small: a(href='/announcements/') #{t('general.more')}…
      dl
        for announcement in latestNews
          dt #{announcement.fromMoment().lang(language).format('LL')}
          dd: a(href='/announcements/#{encodeURIComponent(announcement.url)}') #{announcement.title}
