doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(href="/stylesheets/screen.css", rel="stylesheet")

    script(src="/clientscripts/global.js")
    if (typeof(calViewYear) !== 'undefined')
      script.
        $(document).ready(function () {
          $('#calendar').fullCalendar('gotoDate', #{calViewYear}, #{calViewMonth});      
        });
    block scripts

    title
      block title
      | &nbsp;- SWK
    meta(property="og:image", content="https://raw.github.com/softwerkskammer/softwerkskammer-logos/master/Wappen%20mit%20Text/Softwerkskammer_WappenMitText.png")
    meta(property="og:type", content="website")
    meta(property="og:site_name", content="Softwerkskammer")
    block opengraph
    
  body
    include layoutComponents
    include loginComponent
    #cheatsheet.modal.fade(tabindex="-1")
    img.visible-print(src="/img/Softwerkskammer_Header.png", alt="Softwerkskammer")
    p.visible-print &nbsp;
    .navbar.navbar-default.navbar-fixed-top.hidden-print.hidden-xs(role="navigation")
      mixin topNavbar
    .navbar.navbar-default.navbar-top.hidden-print.visible-xs(role="navigation")
      mixin topNavbar

    .row.main
      .col-md-8
        if (statusmessage)
          mixin notificationsBlock(statusmessage)
        block content
      .col-md-4.hidden-print
        .page-header.visible-xs.visible-sm
          p &nbsp;
          h2.visible-xs.visible-sm Aktivitäten
        #calendar
        h2 Der Global Day of Coderetreat&nbsp;
          small: a(href="/activities/gdcr") Übersicht
        if (latestNews)
          h2 Das Neueste&nbsp;
            if (!!displayMoreNews)
              small: a(href='/announcements/') Mehr…
          dl
            for announcement in latestNews
              dt #{announcement.fromDate()}
              dd: a(href='/announcements/#{encodeURIComponent(announcement.url)}') #{announcement.title}
    mixin bottomNavbar
    
