mixin administrationMenu(top)
  if ((typeof(user) !== 'undefined') && user.member && user.member.isAdmin)
    ul(class="nav #{top ? "visible-desktop" : "hidden-desktop"}")
      li#administration.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          i.icon-dashboard
          | &nbsp; Verwaltung
          b.caret
        ul.dropdown-menu
          li: a(href="/administration/activityTable")
            i.icon-calendar
            | &nbsp;Aktivitäten
          li: a(href="/administration/groupTable")
            i.icon-group
            | &nbsp;Gruppen
          li: a(href="/administration/memberTable")
            i.icon-user
            | &nbsp;Mitglieder
          li: a(href="/administration/colors")
            i.icon-eye-open
            | &nbsp;Farben

mixin loginMenu
    ul.nav.pull-right
      if (typeof(user) !== 'undefined' && user.member)
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown") #{user.member.nickname} 
            i.icon-info-sign
            b.caret
          ul.dropdown-menu
            li: a(href="/members/edit/#{user.member.nickname}")
              i.icon-edit
              | &nbsp;Profil bearbeiten
            li: a(href="/auth/logout")
              i.icon-signout
              | &nbsp;Abmelden
            li: a(href="https://github.com/softwerkskammer/NeuePlattform-Implementierung/issues", target="_blank")
              i.icon-ambulance
              | &nbsp;Einen Bug melden
            li: include ../version
      else
        li: a.navbar-link(data-toggle="modal", href="#login")
          i.icon-signin
          | &nbsp;Anmelden
mixin bottomNavbar
  .navbar.navbar-fixed-bottom.no-print
    .navbar-inner
      ul.nav.pull-right
        mixin administrationMenu(false)
        li: a(href="/credits.html") Credits
        li: a(href="/impressum.html") Impressum

mixin externalUrl(url, text)
  a(href=url, target="_blank")
    i.icon-external-link
    | &nbsp;#{text}

