doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(href="/stylesheets/screen.css", rel="stylesheet")
    if (language === 'de')
      script(src="/clientscripts/global_de.js")
    else
      script(src="/clientscripts/global_en.js")
    if (typeof(calViewYear) !== 'undefined')
      script.
        $(document).ready(function () {
          $('#calendar').fullCalendar('gotoDate', #{calViewYear}, #{calViewMonth});      
        });
    block scripts

    title
      block title
      | &nbsp;- SWK
    meta(property="og:image", content="https://raw.github.com/softwerkskammer/softwerkskammer-logos/master/Wappen%20mit%20Text/Softwerkskammer_WappenMitText.png")
    meta(property="og:type", content="website")
    meta(property="og:site_name", content="Softwerkskammer")
    block opengraph
    
  body
    include layoutComponents
    include loginComponent
    #cheatsheet.modal.fade(tabindex="-1")
    img.visible-print(src="/img/Softwerkskammer_Header.png", alt="Softwerkskammer")
    p.visible-print &nbsp;
    .navbar.navbar-default.navbar-fixed-top.hidden-print.hidden-xs(role="navigation")
      mixin topNavbar
    .navbar.navbar-default.navbar-top.hidden-print.visible-xs(role="navigation")
      mixin topNavbar

    .row.main
      .col-md-8
        p(style="text-align: right; margin-top: 8px;").visible-xs.hidden-print
          a(href="/language/de?currentUrl=#{encodeURIComponent(currentUrl)}"): img(src="/img/flags/Germany.png", alt="Deutsch")
          | &nbsp;
          a(href="/language/en-gb?currentUrl=#{encodeURIComponent(currentUrl)}"): img(src="/img/flags/United-Kingdom.png", alt="English")
        if (statusmessage)
          mixin notificationsBlock(statusmessage)
        block content
      .col-md-4.hidden-print
        .page-header.visible-xs.visible-sm
          p &nbsp;
          h2.visible-xs.visible-sm #{t("activities.activities")}
        #calendar
        if (latestNews)
          h2 #{t("announcements.latest_news")}&nbsp;
            if (!!displayMoreNews)
              small: a(href='/announcements/') #{t("general.more")}…
          dl
            for announcement in latestNews
              dt #{announcement.fromMoment().lang(language).format('LL')}
              dd: a(href='/announcements/#{encodeURIComponent(announcement.url)}') #{announcement.title}
    mixin bottomNavbar
    
