doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/screen.css", rel="stylesheet")
    | <!--[if IE]><link href="/stylesheets/agora-ie-addon.css" rel="stylesheet"><![endif]-->

    script(src="/clientscripts/jquery-1.9.1.js")
    script(src="/clientscripts/bootstrap.js")
    script(src="/clientscripts/bootstrap-editable.js")
    script(src="/clientscripts/bootstrap-markdown.js")
    script(src="/clientscripts/markdown.js")
    script(src="/clientscripts/fullcalendar.js")
    script(src="/clientscripts/bootstrap-colorpicker.js")
    script(src="/clientscripts/bootstrap-datepicker.de.js")
    script(src="/clientscripts/jquery.validate-1.11.1.js")
    script(src="/clientscripts/additional-methods-1.11.1.js")
    script(src="/clientscripts/messages_de.js")
    script(src="/clientscripts/methods_de.js")
    script(src="/clientscripts/bootstrap-timepicker.js")
    script(src="/clientscripts/initPickers.js")
    script(src="/clientscripts/agora.js")
    script(src="/clientscripts/navbar-scripts.js")
    script(src="/clientscripts/surroundWithLink.js")
    script(src="/clientscripts/agora-calendar.js")
    script(src="/clientscripts/swipe.js")
    if (typeof(calViewYear) !== 'undefined')
      script
        $(document).ready(function () {
          $('#calendar').fullCalendar('gotoDate', #{calViewYear}, #{calViewMonth});      
        });
    block scripts

    title Softwerkskammer - 
      block title
  body
    include loginComponent
    include layoutComponents
    img.print-only(src="/img/Softwerkskammer_Header.png", alt="Softwerkskammer")
    .navbar.navbar-fixed-top.no-print
      .navbar-inner
        a.brand.no-padding(href="/")
          img(src="/img/SoftwerkskammerWappenLinks.png", alt="Softwerkskammer")
        .container.bottom
          a.btn.btn-navbar(data-toggle="collapse", data-target=".navbar-inverse-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          mixin loginMenu
          .nav-collapse.navbar-inverse-collapse
            ul.nav
              li#announcements: a(href="/announcements")
                i.icon-globe
                | &nbsp;Nachrichten
              li#activities.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  i.icon-calendar
                  | &nbsp;Aktivitäten
                  b.caret
                ul.dropdown-menu
                  li: a(href="/activities/upcoming") Kommende
                  li: a(href="/activities") Alle
              li#groups: a(href="/groups")
                i.icon-group
                | &nbsp;Gruppen
              if (typeof(user) !== 'undefined')
                li#members: a(href="/members")
                  i.icon-user
                  | &nbsp;Mitglieder
              mixin administrationMenu(true)

    .container-fluid
      .row-fluid
        .span9
          block content
        .span3.no-print
          .row-fluid
            #calendar.no-print
            if (typeof(latestNews) != 'undefined')
              hr
              #news
                h4 Das Neueste
                dl
                  for announcement in latestNews
                    dt #{announcement.fromDate()}
                    dd
                      a(href='/announcements/#{encodeURIComponent(announcement.url)}') #{announcement.title}


    mixin bottomNavbar
    
