extends ../../../views/layoutOnlyMain

include  ../../../views/formComponents

block title
  | #{activityResult.id()}

block scripts
  script(src='/clientscripts/activityResults.js')

block content
  .visible-print
    h1 #{activityResult.id()} #{''}
      small Session Snap
    h3 Share your session results and see what others did at softwerkskammer.org
    p(style='text-align:center;')
      img(height='300px', src='/qrcode/#{encodeURIComponent("/activityresults/" + activityResult.id())}')
  .hidden-print
    .row
      .col-md-12
        .page-header
          .pull-right
            form(id='recordForm', role='form', method='POST', action='/activityresults/' + encodeURIComponent(activityResult.id()) + '/upload' + '?_csrf=' + encodeURIComponent(csrf_token), enctype='multipart/form-data')
              +imageUpload
          h2(style='margin-top: 5px;') #{activityResult.id()}
    each days in activityResult.photosByDay()
      h3(style='margin-top: 5px;') #{days.day.locale(language).format('dddd, LL')}
      .row
        .col-md-12(style='overflow-x: auto')
          table
            tr.table-row
              each column, columnTitle in days.photosByTag
                th(style='padding-right: 15px;') #{columnTitle}
  
            tr.table-row
              each column in days.photosByTag
                td(style='vertical-align: top;padding-right: 15px;')
                  each photo in column
                    a(href=photo.uri()): img(src=photo.uri() + '?size=thumb', width='100%', alt=photo.title(), title=photo.title())
                    p.small
                      span(style='display:inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 70%;') #{photo.title()}
                      if (accessrights.canEditPhoto(photo))
                        span &nbsp;
                          a.pull-right(href='/activityresults/' + activityResult.id() + '/photo/' + photo.id() + '/edit', title=t('general.edit')) 
                            i.fa.fa-fw.fa-edit
                      span.pull-right #{photo.time().locale(language).format('LT')}

    hr
