extends ../../../views/layoutOnlyMain

include  ../../../views/formComponents
include  ../../../views/imageUpload

block title
  | #{activityResult.id()}

block content
  .visible-print
    h1 #{activityResult.id()} #{''}
      small Session Snap
    h3 Share your session results and see what others did at softwerkskammer.org
    p(style='text-align:center;')
      img(height='300px', src='/qrcode?url=' + encodeURIComponent('activityresults/' + activityResult.id()))
  .hidden-print
    .row
      .col-xs-12
        .page-header
          .pull-right
            form#recordForm(role='form', method='POST', action='/activityresults/' + encodeURIComponent(activityResult.id()) + '/upload' + '?_csrf=' + encodeURIComponent(csrf_token), enctype='multipart/form-data')
              +imageUpload
          h1 #{activityResult.id()}
    each days in activityResult.photosByDay()
      h3 #{days.day.locale(language).format('dddd, LL')}
      .row.photo-day
        each photosOfTag, tagTitle in days.photosByTag
          .col-xs-12.photo-room
            h4 #{tagTitle}
            div(style='overflow: auto;white-space: nowrap;')
              each photo in photosOfTag
                div(style='display: inline-block; margin-right: 5px')
                  a(href=photo.uri()): img(src=photo.uri() + '?size=thumb', width='300px', alt=photo.title(), title=photo.title())
                  p.small
                    span(style='display:inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 70%;') #{photo.title()}
                    if (accessrights.canEditPhoto(photo))
                      span &nbsp;
                        a.pull-right(href='/activityresults/' + activityResult.id() + '/photo/' + photo.id() + '/edit', title=t('general.edit'))
                          i.fa.fa-fw.fa-edit
                    span.pull-right #{photo.time().locale(language).format('LT')}
      hr
