extends ../../../views/layoutOnlyMain
include ../../../views/formComponents
include ../../activities/views/activities-mixins

block title
  | Dashboard
block content
  .row
    .col-md-8
      +my_activities()
    .col-md-4
  .row
    .col-md-8
      +my_groups()
    .col-md-4
  +groupPanels()

mixin my_groups()
  h3 #{t("members.member_of")}
  ul
    each group in member.subscribedGroups
      li
        strong: a(href='/groups/#{group.id}') #{group.longName}
        | &nbsp;
        if (group.organizers.indexOf(member.id()) > -1)
          span.label(style="background-color: #DF5353") #{t("groups.contact")}

mixin groupPanels()
  -var n = member.subscribedGroups.length
  -for(var i = 0; i < n; i += 3)
    .row
      -for(var j = i; j < Math.min(n, 3+i); j++)
        -var group = member.subscribedGroups[j]
          .col-md-4
            .panel.panel-default
              .panel-heading(style="background-color: #{group.color};color: #FFFFFF")
                b #{group.longName}
              .panel-body
                p Dies ist der Body

mixin my_activities()
  .panel.panel-default
    .panel-heading
      b Kommende Aktivitäten
    table.table.table-condensed.table-hover
      tr
        th &nbsp;
        th Datum
        th Titel
        th Gruppe
      each activity in activities
        -var angemeldet = (member && activity.allRegisteredMembers().indexOf(member.id()) > -1)
        tr
          td
            if (angemeldet)
              i.fa.fa-check.fa-fw.text-success.tooltipify(data-toggle="tooltip" title="Du bist angemeldet.")
            else
              i.fa.fa-question.fa-fw.tooltipify(data-toggle="tooltip" title="Du bist noch nicht angemeldet.")
          td #{activity.startMoment().lang(language).format('LL')}
          td
            a(href='/activities/#{encodeURIComponent(activity.url())}') #{activity.title()}
          td(style="color: #{activity.colorRGB};")
            | #{activity.groupName()}
                                     
