extends ../../../views/layout

mixin text(name, label)
  .control-group
    label(class="control-label", for=name) #{label}:
    input(id=name, class="input-block-level input-xlarge", type='text', name=name, value=member[name])

mixin twitter(name, label)
  .control-group
    label(class="control-label", for=name) #{label}:
    div(class="input-prepend input-block-level input-xlarge")
      span(class="add-on", style="width: 5%;float: left;") @
      input(id=name, class="input-block-level input-xlarge", style="width: 93%;", type='text', name=name, value=member[name])


mixin textarea(name, label)
  .control-group
    label(class="control-label", for=name) #{label}:
    textarea(rows="4", class="input-block-level input-xxlarge", id=name, type='text', name=name)
      | #{member[name]}

mixin checkboxForGroup(groupId, groupName, subscribed)
  div
    .checkbox
      input(type='checkbox', name='newSubscriptions', value=groupId, checked=(subscribed===true ? "true" : undefined))
      | #{groupName}

block scripts
  script(src="/clientscripts/jquery.validate-1.11.1.js")
  script(src="/clientscripts/messages_de.js")
  script(src="/clientscripts/check-memberform.js")


block title
  | Profil
  - if (user.member)
    |  bearbeiten
  - else
    |  anlegen

block content
  form(id='memberform', action='/members/submit',method='post')
    fieldset
      if (member)
        input(type="hidden", name="id", value=member.id)
      .span12
        legend
          | Profil
          - if (user.member)
            |  bearbeiten für Mitglied "#{member.nickname}"
          - else
            |  anlegen
      .span6
        - if (!user.member)
          mixin text('nickname', 'Nickname')
        - else
          input(type="hidden", name="nickname", value=member.nickname)
        mixin text('firstname', 'Vorname')
        mixin text('lastname', 'Nachname')
        mixin text('email', 'Email')
        mixin twitter('twitter', 'Twitter')
      .span6
        mixin text('location', 'Ort / Region')
        mixin text('profession', 'Beruf')
        mixin text('interests', 'Interessenschwerpunkte')
        mixin text('site', 'Website / Blog')
        - if (user.member && user.member.isAdmin)
          div
            .checkbox
              input(type='checkbox', name='isAdmin', checked=(!!member.isAdmin ? "true" : undefined)) 
              | Administrator

      - if (!user.member)
        .span12
          mixin textarea('reference', 'Wie ich von der Softwerkskammer erfahren habe')

      .span6
        legend Gruppenmitgliedschaft
        .control-group
          each markedGroup in markedGroups
            mixin checkboxForGroup(markedGroup.group.id, markedGroup.group.longName, markedGroup.selected)
          p
            button(class="btn btn-primary", type="submit") Speichern
            - if (user.member)
              a(href="javascript:history.back()", class="btn", type="cancel") Zurück
              - if (user.member.id === member.id)
                a(href="/auth/logout", class="btn", type="cancel") Abmelden
            - else
              a(href="/auth/logout", class="btn", type="cancel") Abbrechen

