extends ../../../views/layout

block title
  | Profil bearbeiten
block content
  h1 Profil bearbeiten

  - if (user.registered)
    p: a(href="/auth/logout") log out

  mixin text(name, label)
    div
      label #{label}:
      input(id=name, type='text', name=name, value=member[name])

  div#userform
    form(action='submit',method='post')
      - if (user.registered)
        div
          label #{'Nickname'}:
          input(id='nickname', type='text', name='nickname', value=member.nickname, readonly=true)
      - else
        mixin text('nickname', 'Nickname')
      mixin text('firstname', 'Vorname')
      mixin text('lastname', 'Nachname')
      mixin text('email', 'Email')
      mixin text('twitter', 'Twitter')
      mixin text('location', 'Ort / Region')
      mixin text('profession', 'Beruf')
      mixin text('interests', 'Interessenschwerpunkte')
      mixin text('site', 'Website / Blog')
      mixin text('reference', 'Wie ich von der Softwerkskammer erfahren habe')

      div
        input(type="submit", value="Submit")