extends ../../../views/layout

block title
  | Profil bearbeiten
block content
  h1 Profil bearbeiten

  - if (user.registered)
    p: a(href="/auth/logout") log out

  mixin text(name, label)
    div
      label #{label}:
      input(id=name, type='text', name=name, value=member[name])

  mixin checkbox(groupId, groupName, subscribed)
    div
      input(type='checkbox', name='newSubscriptions', value=groupId, checked=(subscribed===true ? "true" : undefined))
      | &nbsp; #{groupName}

  div#userform
    form(action='submit',method='post')
      - if (user.registered)
        div #{'Nickname'}: #{member.nickname}
      - else
        mixin text('nickname', 'Nickname')
      mixin text('firstname', 'Vorname')
      mixin text('lastname', 'Nachname')
      mixin text('email', 'Email')
      mixin text('twitter', 'Twitter')
      mixin text('location', 'Ort / Region')
      mixin text('profession', 'Beruf')
      mixin text('interests', 'Interessenschwerpunkte')
      mixin text('site', 'Website / Blog')
      mixin text('reference', 'Wie ich von der Softwerkskammer erfahren habe')

      h2 Gruppenmitgliedschaft
      ul
        each markedGroup in markedGroups
          mixin checkbox(markedGroup.group.id, markedGroup.group.longName, markedGroup.selected)

      div
        input(type="submit", value="Submit")

