extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/check-memberform.js")


block title
  - if (accessrights.isRegistered())
    | #{t("members.edit")}
  - else
    | #{t("members.create")}

block content
  form(id='memberform', action='/members/submit',method='post')
    fieldset
      .row
        .col-md-12
          h2
            if (accessrights.isRegistered())
              | "#{member.nickname()}"
            else
              | #{t("members.new")}
            .btn-group.pull-right
              if (accessrights.isRegistered())
                if (accessrights.isMember(member))
                  a.btn.btn-default(href="/auth/logout", type="cancel") #{t("general.logout")}
                a.btn.btn-default(href="javascript:history.back()", type="cancel") #{t("general.back")}
              else
                a.btn.btn-danger(href="/auth/logout", type="cancel") #{t("members.cancel")}
              button.btn.btn-primary(type="submit") #{t("general.save")}

      .row
        .col-md-12
          legend #{t("members.group_membership")}
          mixin groupCheckboxes('newSubscriptions', regionalgroups, themegroups)
      .row
        .col-md-12
          legend #{t("members.personal_data")}
      .row
        .col-md-6
          mixin hiddenWithValue('id', member.id())
          mixin hiddenWithValue('previousNickname', member.nickname())
          mixin hiddenWithValue('previousEmail', accessrights.isRegistered() ? member.email() : '')
          mixin hiddenWithValue('created', member.created())
          mixin textWithValue('nickname', t("members.nickname"), member.nickname())
          mixin textWithValue('firstname', t("members.firstname"), member.firstname())
          mixin textWithValue('lastname', t("members.lastname"), member.lastname())
          mixin textWithValue('email', t("members.email"), member.email())
          mixin twitter('twitter', t("members.twitter"), member.twitter())
        .col-md-6
          mixin textWithValue('location', t("members.location"), member.location())
          mixin textWithValue('profession', t("members.profession"), member.profession())
          mixin textWithValue('interests', t("members.interests"), member.interests())
          mixin textWithValue('site', t("members.web"), member.site())
          mixin textWithValue('reference', t("members.reference"), member.reference())
      if (accessrights.isRegistered())
        .row
          .col-md-12
            legend #{t("members.authenticated_via")}:
            ul
              each auth in member.authentications()
                li #{auth}
        if (accessrights.isMember(member))
          .row
            .col-md-6
              a.btn.btn-primary(data-toggle="modal", href="#login")
                i.fa.fa-plus-square.fa-fw
                | &nbsp;#{t("members.authenticate")}
