extends ../../../views/layout

block title
  | Profil für #{member.firstname} #{member.lastname}
block content
  .span12
    .page-header
      h2 "#{member.nickname}"
        small  
          - if (member.isAdmin)
            |  Admin
          - else
            |  Profilansicht 
        - if (user.member.isAdmin)
          a(href="edit/#{member.nickname}", class="btn") Bearbeiten
    p
      strong Vorname:
      |  #{member.firstname}
    p
      strong Nachname:
      |  #{member.lastname}
    p
      strong Email:
      |  #{member.email}
    p
      strong Twitter:
      |  #{member.twitter}
    p
      strong Ort / Region:
      |  #{member.location}
    p
      strong Beruf:
      |  #{member.profession}
    p
      strong Interessenschwerpunkte:
      |  #{member.interests}
    p
      strong Website / Blog:
      |  #{member.site}


    h3 Mitglied in:
    ul
      each group in subscribedGroups
        li: .group: strong: a(href='../groups/#{group.id}') #{group.longName}
