extends ../../../views/layout

block title
  | Übersicht der Mitglieder

block content
  .span12
    .page-header
      h1 Mitglieder
        small  Alle
    ul
      for member in members
        li: .member: strong: a(href='#{member.nickname}') #{member.nickname}
          | #{member.firstname} #{member.lastname},
          | #{member.email}
