mixin memberlist(members, organizers)
  dl.dl-horizontal
    for member in members
      dt: .member: a(href="/members/#{encodeURIComponent(member.nickname)}") #{member.nickname}
      dd #{member.firstname} #{member.lastname}, #{member.location}&nbsp;
        if (organizers && organizers.indexOf(member.id) > -1)
          a(href="/mailsender/contactMember/#{encodeURIComponent(member.nickname)}", title="Nachricht schreiben"): span.badge(style="background-color: #DF5353") Ansprechpartner &nbsp;
        if (!organizers && member.isAdmin)
          a(href="/mailsender/contactMember/#{encodeURIComponent(member.nickname)}", title="Nachricht schreiben"): span.badge(style="background-color: #DF5353") Admin
