extends ../../../views/layout

include ./mailheader-mixin

mixin mailIndex(mailHeaders)
  -if(typeof(mailHeaders) !== 'undefined')
    ul
      for mailHeader in mailHeaders
        li
          a(href="../message?id=" + encodeURIComponent(mailHeader.id) ) #{mailHeader.subject}
          | (
          mixin mailattributes(mailHeader)
          | )
          mixin mailIndex(mailHeader.responses)


block title
  | #{group} 
  | mails 

block content
  .span12
    .page-header
      h2 Mails der Gruppe 
        a(href="/groups/" + encodeURIComponent(group) ) #{group}
      -if(threaded)
        a(href=encodeURIComponent(group)+"?thread=false" ) Anzeigen nicht gruppiert
      -else
        a(href=encodeURIComponent(group)+"?thread=true" ) Anzeigen gruppiert nach Thema
  .row-fluid
    .span12
      -if(mailHeaders.length == 0) 
        h4 Keine Mails
      -else
        mixin mailIndex(mailHeaders)
