mixin pageHeader(group, range)
  .btn-group.pull-right
    .btn-group
      a.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
        | #{range} &nbsp;
        span.caret
      ul.dropdown-menu
        li: a(href="../threaded/#{encodeURIComponent(group)}") Threaded
        li: a(href="../flat/#{encodeURIComponent(group)}") Flat
  h2 #{group}&nbsp;
    small Mailarchiv

mixin mailattributes(mailHeader)
  if (!!mailHeader.memberNickname())
    a(href="/members/" + encodeURIComponent(mailHeader.memberNickname())) #{mailHeader.displayedSenderName()}
  else
    | #{mailHeader.displayedSenderName()}
  | , #{mailHeader.displayedTime}

mixin mailIndex(mailHeaders)
  if(!!mailHeaders)
    ul
      for mailHeader in mailHeaders
        li
          div(id="messageDetails" + mailHeader.timeUnix, tabindex="-1").modal.fade
          a(data-toggle="modal", data-target="#messageDetails" + mailHeader.timeUnix, href="../../message/" + encodeURIComponent(mailHeader.id)) #{mailHeader.subject} 
          | (
          mixin mailattributes(mailHeader) 
          | )
          mixin mailIndex(mailHeader.sortedResponses())
