mixin pageHeader(group)
  h2 Mails der Gruppe 
    a(href="/groups/" + encodeURIComponent(group) ) #{group}

mixin mailattributes(mailHeader)
  - if (mailHeader.memberNickname != null)
    a(href="/members/" + encodeURIComponent(mailHeader.memberNickname)) #{mailHeader.displayedSenderName}
  - else
    | #{mailHeader.displayedSenderName}
  | , #{mailHeader.displayedTime}

mixin mailIndex(mailHeaders)
  -if(typeof(mailHeaders) !== 'undefined')
    ul
      for mailHeader in mailHeaders
        li
          a(href="../message?id=" + encodeURIComponent(mailHeader.id)) #{mailHeader.subject} 
          | (
          mixin mailattributes(mailHeader) 
          | )
          mixin mailIndex(mailHeader.responses)
