mixin pageHeader(group, range)
  .btn-group.pull-right
    .btn-group
      a.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
        | #{range} &nbsp;
        span.caret
      ul.dropdown-menu
        li: a(href="../threaded/#{encodeURIComponent(group)}") Threaded
        li: a(href="../flat/#{encodeURIComponent(group)}") Flat
  h2 #{group}&nbsp;
    small Mailarchiv

mixin mailattributes(mailHeader)
  - if (mailHeader.memberNickname() != null)
    a(href="/members/" + encodeURIComponent(mailHeader.memberNickname())) #{mailHeader.displayedSenderName()}
  - else
    | #{mailHeader.displayedSenderName()}
  | , #{mailHeader.displayedTime}

mixin mailIndex(mailHeaders)
  -if(typeof(mailHeaders) !== 'undefined')
    ul
      for mailHeader in mailHeaders
        li
          a(href="../../message/" + encodeURIComponent(mailHeader.id)) #{mailHeader.subject} 
          | (
          mixin mailattributes(mailHeader) 
          | )
          mixin mailIndex(mailHeader.responses)
