extends ../../../views/layoutOnlyMain

block title
  | #{t('general.events_in_europe')}
block content
  .row
    .col-xs-12
      .page-header
        .btn-group.pull-right
          a.btn.btn-default(href='../alle/europaweite-veranstaltungen-' + year, title=t('wiki.as_table'))
            i.fa.fa-table.fa-fw
            | &nbsp;#{t('wiki.as_table')}
        h2 #{t('general.events_in_europe')} #{year}
  .row
    .col-lg-4.col-sm-6
      #eventsJan
    .col-lg-4.col-sm-6
      #eventsFeb
    .clearfix.visible-sm.visible-md
    .col-lg-4.col-sm-6
      #eventsMar
    .clearfix.visible-lg
    .col-lg-4.col-sm-6
      #eventsApr
    .clearfix.visible-sm.visible-md
    .col-lg-4.col-sm-6
      #eventsMai
    .col-lg-4.col-sm-6
      #eventsJun
    .clearfix.visible-sm.visible-md.visible-lg
    .col-lg-4.col-sm-6
      #eventsJul
    .col-lg-4.col-sm-6
      #eventsAug
    .clearfix.visible-sm.visible-md
    .col-lg-4.col-sm-6
      #eventsSep
    .clearfix.visible-lg
    .col-lg-4.col-sm-6
      #eventsOkt
    .clearfix.visible-sm.visible-md
    .col-lg-4.col-sm-6
      #eventsNov
    .col-lg-4.col-sm-6
      #eventsDez
block scripts
  script.
    $(document).ready(function () {
      initParameterisedCalendar('#eventsJan', #{year} + '-01-01');
      initParameterisedCalendar('#eventsFeb', #{year} + '-02-01');
      initParameterisedCalendar('#eventsMar', #{year} + '-03-01');
      initParameterisedCalendar('#eventsApr', #{year} + '-04-01');
      initParameterisedCalendar('#eventsMai', #{year} + '-05-01');
      initParameterisedCalendar('#eventsJun', #{year} + '-06-01');
      initParameterisedCalendar('#eventsJul', #{year} + '-07-01');
      initParameterisedCalendar('#eventsAug', #{year} + '-08-01');
      initParameterisedCalendar('#eventsSep', #{year} + '-09-01');
      initParameterisedCalendar('#eventsOkt', #{year} + '-10-01');
      initParameterisedCalendar('#eventsNov', #{year} + '-11-01');
      initParameterisedCalendar('#eventsDez', #{year} + '-12-01');
    });
  style.
    .fc-content {
      max-height: 60px !important;
    }
    
