extends ../../../views/layout

block title
  | #{subdir} (#{t('wiki.subwiki')})

block content
  .page-header
    .btn-group.float-end
      a.btn.btn-light(href='javascript:history.back()', type='cancel') #{t('general.back')}
    h1 #{t('wiki.overview')} "#{subdir}"

  table.history.table.table-striped.table-bordered.table-hover.table-sm
    each item in items
      tr: td: a(href='/wiki/' + item.fullname) #{item.name}
