extends ../../../views/layout

block title
  | #{t('wiki.searchresults')}

block content
  .row
    .col-md-12
      .page-header
        h2 "#{searchtext}"&nbsp;
          small #{t('wiki.searchresults')}
      if (matches.length === 0)
        h3 #{t('wiki.no_results')}
      else 
        dl
          each match in matches
            if (match.line)
              dt
                a(href='/wiki/' + match.pageName) #{match.pageName}
                |  (#{t('wiki.line')} #{match.line})
              dd: em "#{match.text}"
            else
              dt
                a(href='/wiki/' + match.pageName) #{match.pageName}
                |  (#{t('wiki.filename')})

