mixin blogposts-panel(posts, feedUrl)
  div
    .btn-group.float-end
      a.btn.btn-sm.btn-light(href=feedUrl)
        i.fa-solid.fa-fw.fa-rss
        | &nbsp;#{t('wiki.subscribe')}
    h4 #{t('wiki.blogposts')}:
  each post in posts
    .card.mb-2
      .card-header
        h5.card-title #{post.title}
          small.float-end #{post.date().setLocale(language).toLocaleString(DateTime.DATE_FULL)}
      .card-body
        .card-text !{post.teaser}
        small.float-end: a(href=post.url()) #{t('groups.more')}

