mixin blogposts-panel(posts, feedUrl)
  div
    .btn-group.float-right
      a.btn.btn-sm.btn-light(href=feedUrl)
        i.fas.fa-fw.fa-rss
        | &nbsp;#{t('wiki.subscribe')}
    h4 #{t('wiki.blogposts')}:
  each post in posts
    .card.mb-2
      .card-header
        h5.card-title #{post.title}
          small.float-right #{post.date().locale(language).format('LL')}
      .card-body
        .card-text !{post.teaser}
        small.float-right: a(href=post.url()) #{t('groups.more')}

