extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/check-mailsenderform.js")

block title
  | #{t("mailsender.notification")}

block content
  form(id='mailform', action='/mailsender/send', method='post')
    fieldset
      .row
        .col-md-12
          legend
            | #{t("mailsender.write")}
          if (regionalgroups)
            mixin groupCheckboxes('invitedGroups', regionalgroups, themegroups)
            h4 #{t("mailsender.others")}
            mixin checkbox('toParticipants', t("mailsender.to_participants"), false, 'toParticipants')
          if (message.receiver)
            mixin textReadonly('nickname', t("mailsender.to_member"), message.receiver.nickname())
          mixin text('subject', t("mailsender.subject"), message.subject)
          mixin hightextarea('markdown', t("mailsender.contents"), message)
          mixin checkbox('sendCopyToSelf', t("mailsender.copy_to_self"), false)
          mixin hidden('htmlAddOn', message)
          input(id="successURL", type="hidden", name="successURL", value="#{successURL}")

          button.btn.btn-primary.pull-right(type="submit") #{t("mailsender.send")}
          a.btn.btn-default.pull-right(href="javascript:history.back()", type="cancel") #{t("general.back")}
