extends ../../../views/layoutOnlyMain

include  ../../../views/formComponents
include ./mixins

block title
  | #{activityResult.id}

block scripts
  script(src='/clientscripts/activityResults.js')

block content
  #detail-overlay.noisy_red
    .header
      p.close
        a.close-centered(href='#', style='color: white;')
          span(class='glyphicon glyphicon-remove')
          | &nbsp;
          = t('general.close')
      p.tag
        | #lovelace
    .slideshow
      .prev-img
        img(width='100', height='100')
        a#prev-img
          span.glyphicon.glyphicon-chevron-up
      a#image-detail-link
        img#image-detail.current-img
      .next-img
        img(width='100', height='100')
        a#next-img(href='#')
          span.glyphicon.glyphicon-chevron-down

  .row
    .col-md-12
      h2(style='margin-top: 5px;') #{activityResult.id}

  .row
    .col-md-12
      form(id='recordForm', role='form', method='POST', action=recordImagePath + '?_csrf=' + encodeURIComponent(csrf_token), enctype='multipart/form-data')
        +csrf
        div
          span.btn.btn-primary.btn-file.record(style='width: 100%')
            i.glyphicon.glyphicon-camera &nbsp;
            span= t('activityresults.record_image')
            input#input-file(type='file', accept='image/*', name='image')
        div#previewContainer(style='display: none')
          img#preview(style='max-width: 100%')
          div
            button(type='submit').btn.btn-success.pull-right= t('activityresults.submit')
            span#btn-cancel.btn.btn-warning= t('activityresults.cancel')

  hr
  each timestamp in dayTimeStamps
    - var columns = days[timestamp]
    h3(style='margin-top: 5px;')= moment(timestamp*1000).lang(language).format('dddd, l')
    .row
      .col-md-12(style='overflow-x: auto')

        - var i = 0;
        table.row.timeline
          tr.table-row
            each column, columnTitle in columns
              th.col-without-padding.venue(class=getBackgroundForIndex(i++))
                p.tag= '#' + columnTitle

          - i = 0;
          tr.table-row(style='display: table-row')
            each column, columnTitle in columns
              td.col-without-padding.venue(class=getBackgroundForIndex(i++))
                each img in column
                  a.thumb(href=activityResult.uriForPhoto(img.id), data-columntitle='#' +columnTitle)
                    img.thumb(src=activityResult.uriForPhoto(img.id) + '?size=thumb', alt=img.title, title=img.title)
                    span.small(style='color: black')
                      +thumbnailInfos(img)
