extends ../../../views/layoutOnlyMain

include  ../../../views/formComponents

block title
  = activityResultName

block content
  #detail-overlay(style='z-index: 100; position: fixed; background: #000; height: 100%; width: 100%; display: none; left: 0px; top: 0px;')
    p(style='color: #fff; padding: 0.5em 0.5em; text-transform: uppercase; text-align: center;')
      a.close-centered(href='#', style='color: white;')
        span(class='glyphicon glyphicon-remove')
        | &nbsp;Close
    div(style='text-align: center; height: 100%;')
      .prev-img
        img(src='/gallery/fdd09e6d-baf1-4c44-a767-a786d22002bd.JPG?size=thumb', width='100', height='100')
        a#prev-img
          span(class='glyphicon glyphicon-chevron-up')
      img.current-img(id='image-detail', src='/gallery/9475905d-b979-4296-af47-ac0164788a1a.JPG', style='margin-bottom: 1em; margin-top: 1em; max-height: 30%; max-width: 100%;')
      .next-img
        img(src='/gallery/1806f88e-8ed7-4b3e-92bd-3173c9965541.JPG?size=thumb', width='100', height='100')
        a#next-img(href='#')
          span(class='glyphicon glyphicon-chevron-down')

  .row
    .col-md-12
      h2(style='margin-top: 5px;')= activityResultName

  .row
    .col-md-12
      form(role='form',method='POST',action='?_csrf=' + encodeURIComponent(csrf_token),enctype='multipart/form-data')
        +csrf
        div
          span.btn.btn-primary.btn-file(style="width: 100%")
            i.glyphicon.glyphicon-camera &nbsp;
            span RECORD
            input#input-file(type="file",accept="image/*",name="image")
        div#previewContainer(style="display: none")
          img#preview(style="max-width: 100%")
          div
            button(type="submit").btn.btn-success SUBMIT
            span#btn-cancel.btn.btn-warning CANCEL


      script.
        function getPreview(files, callback) {
          if(!files || !files[0])
            return null;
          var reader = new FileReader();
          reader.onload = function (e) {
            callback(e.target.result);
          };
          reader.readAsDataURL(files[0]);
        }

        $("#input-file").on("change", function () {
          getPreview(this.files, function (imagedata) {
            $("img#preview").attr("src", imagedata);
            $("#previewContainer").css("display", "block");
          });
        });

  .row
    .col-md-12
      h3(style='margin-top: 5px;')= 'Friday'

  .row.timeline
    .table-row
      each column, columnIndex in columns
        .col-xs-3.col-without-padding.venue(class=getBackgroundForIndex(columnIndex))
          p(style="text-align: center")= column.columnTitle
          each img in column.images
            a(href=img.uri)
              img.thumb(src=img.uri + '?size=thumb', style="margin-top: " + img['margin-top']+ ";")

  .row
    .col-md-12
      h3(style='margin-top: 5px;')= 'Thursday'

  script(type='text/javascript').
    jQuery(function() {

    $('#detail-overlay').find('a.close-centered').click(function(e) {
      $('#detail-overlay').css('display', 'none');
    });

    $('.timeline a').click(function(ev) {
      setPreviousImage(previousImage(this.href));
      setCurrentImage(this.href);
      setNextImage(nextImage(this.href));
      $('#detail-overlay').fadeIn();
      return false;
    });

    function previousImage(currentImage) {
      var currentThumb = $('img.thumb').filter(function(index, thumbnail){
        return thumbnail.src.indexOf(currentImage) !== -1;
      })
      return currentThumb.parent().prev('a').attr('href');
    }

    function nextImage(currentImage) {
      var currentThumb = $('img.thumb').filter(function(index, thumbnail){
        return thumbnail.src.indexOf(currentImage) !== -1;
      });
      return currentThumb.parent().next('a').attr('href');
    }

    function setPreviousImage(previousImage) {
      if(undefined === previousImage){
        $('.prev-img').addClass('disabled')
      } else {
        $('.prev-img').removeClass('disabled')
        $('.prev-img img').attr('src', previousImage + '?size=thumb');
      }
    }

    function setCurrentImage(currentImage) {
      $('#image-detail').attr('src', currentImage);
    }

    function setNextImage(nextImage){
      if(undefined === nextImage){
        $('.next-img').addClass('disabled')
      } else {
        $('.next-img').removeClass('disabled')
        $('.next-img img').attr('src', nextImage + '?size=thumb');
      }
    }

    $('#prev-img').click(function(e) {
      var $image = $('#image-detail');
      var currentImage = $image.attr('src');
      var predecessor = previousImage(currentImage);
      if(predecessor){
        setPreviousImage(previousImage(predecessor));
        setCurrentImage(predecessor);
        setNextImage(currentImage);
      }
      return false;
    });
    $('#next-img').click(function(e) {
      var $image = $('#image-detail');
      var currentImage = $image.attr('src');
      var successor = nextImage(currentImage);
      if(successor) {
        setPreviousImage(currentImage);
        setCurrentImage(successor);
        setNextImage(nextImage(successor));
      }
      return false;
    });

    });
