extends ../../../views/layoutOnlyMain

include  ../../../views/formComponents
include ./mixins

block title
  = activityResultName

block content
  #detail-overlay.noisy_red
    .header
      p.close
        a.close-centered(href='#', style='color: white;')
          span(class='glyphicon glyphicon-remove')
          | &nbsp;
          = t('general.close')
      p.tag
        | #lovelace
    .slideshow
      .prev-img
        img(width='100', height='100')
        a#prev-img
          span(class='glyphicon glyphicon-chevron-up')
      a#image-detail-link
        img#image-detail.current-img
      .next-img
        img(width='100', height='100')
        a#next-img(href='#')
          span(class='glyphicon glyphicon-chevron-down')

  .row
    .col-md-12
      h2(style='margin-top: 5px;')= activityResultName

  .row
    .col-md-12
      form(id='recordForm',role='form',method='POST',action=recordImagePath + '?_csrf=' + encodeURIComponent(csrf_token),enctype='multipart/form-data')
        +csrf
        div
          span.btn.btn-primary.btn-file.record(style="width: 100%")
            i.glyphicon.glyphicon-camera &nbsp;
            span= t('activityresults.record_image')
            input#input-file(type="file",accept="image/*",name="image")
        div#previewContainer(style="display: none")
          img#preview(style="max-width: 100%")
          div
            button(type="submit").btn.btn-success.pull-right= t('activityresults.submit')
            span#btn-cancel.btn.btn-warning= t('activityresults.cancel')


      script.
        function getPreview(files, callback) {
          if(!files || !files[0])
            return null;
          var reader = new FileReader();
          reader.onload = function (e) {
            callback(e.target.result);
          };
          reader.readAsDataURL(files[0]);
        }

        $("#input-file").on("change", function () {
          getPreview(this.files, function (imagedata) {
            $("img#preview").attr("src", imagedata);
            $("#previewContainer").slideDown();
          });
          $('.record').hide();
        });

        $('#btn-cancel').click(function () {
          $('#previewContainer').slideUp(200, function() {
            $('.record').slideDown();
          });
        });

  hr
  each columns, title in days
    .row
      .col-md-12(style='overflow-x: auto')
        h3(style='margin-top: 5px;')= moment(title*1000).lang(language).format("dddd, l")

        - var i = 0;
        table.row.timeline
          tr.table-row
            each column, columnTitle in columns
              th.col-without-padding.venue(class=getBackgroundForIndex(i++))
                p.tag= '#' + columnTitle

          - i = 0;
          tr.table-row(style='display: table-row')
            each column, columnTitle in columns
              td.col-without-padding.venue(class=getBackgroundForIndex(i++))
                each img in column
                  a.thumb(href=img.uri, data-columntitle='#'+columnTitle)
                    img.thumb(src=img.uri + '?size=thumb', alt=img.title, title=img.title)
                    span.small(style="color: black")
                      +thumbnailInfos(img)

  script(type='text/javascript').
    $('#recordForm').on('submit', function() {
      $('#recordForm button[type="submit"]').prepend($('<i class="fa fa-spinner fa-spin"/>&nbsp;'));
    });

    var numColsPerScreen = 5;
    function resizeColumns(totalWidth) {
      var columns = $('.timeline td, .timeline th');
      var newColumnWidth = Math.round(totalWidth/numColsPerScreen)+"px";
      columns.css('width', newColumnWidth);
      columns.css('min-width', newColumnWidth);
    }

    $(function() {
      resizeColumns(window.screen.availWidth);
      $(window).resize(function () {
        resizeColumns(window.screen.availWidth);
      });
    })