extends ../../../views/commonLayout
block title 
  | History - SoCraTes
block content
  .row
    .col-sm-12
      .page-header
        .btn-group.pull-right
          a.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
            | The Archives #{''}
            i.fa.fa-fw.fa-caret-down
          ul.dropdown-menu(role='menu')
            li: a(href='http://www.softwerkskammer.org/wiki/socrates2014/index', target='_blank') 2014 
            li: a(href='http://www.softwerkskammer.org/wiki/socrates2013/index', target='_blank') 2013 
            li: a(href='http://www.softwerkskammer.org/wiki/socrates2012/index', target='_blank') 2012 
            li: a(href='http://www.softwerkskammer.org/wiki/socrates2011/index', target='_blank') 2011 
        h1
          | The history&nbsp;
          small from 2011 to today.

      p.extraspace
        img.img-responsive(src='img/socrates2012_history_wall.jpg')
        small.pull-right Image courtesy of 
          a(href='http://www.softwareleid.de/', target='_blank') Christoph Pater #{''}
            i.fa.fa-external-link

  .row
    .col-md-12
      p.lead.
        Back in 2011, the first &ldquo;Software Craftsmanship and Testing (un)conference&rdquo; 
        took place in Germany. Since then, the community and the event grew larger.
      p
        | Markus Gärtner has written 
        a(href='http://www.shino.de/2014/03/03/socrates-2014/', target='_blank')
          | a nice blog post 
          i.fa.fa-external-link
        |  which sums up some details why and how SoCraTes was established. He graciously allowed us to quote the following parts of it:
      h3 2010 #{''}
        small The Beginning
      p
        a(href='https://twitter.com/leiderleider') Andreas Leidig
        |  and #{''}
        a(href='https://twitter.com/NicoleRauch') Nicole Rauch
        |  started the whole thing way back in late 2010. They wanted to get a discussion going regarding a conference 
        |  on Software Craftsmanship in Germany. We decided to meet up during #{''}
        a(href='http://www.xpdays.de') XP Days Germany
        |  in 2010, and see what we could do. We quickly agreed on an unconference format, two days, somewhere laid back. 
        |  Some folks had organized the German Agile Coach Camp and #{''}
        a(href='https://twitter.com/Play4Agile') Play4Agile
        |  in Rückersbach close to Frankfurt. We decided on that spot as well, and organized everything for 2011. 
      p
        | Early on, we figured that we will need outside support. That was when we started to reach out to other craftsmen, like #{''}
        a(href='https://twitter.com/slagyr') Micah Martin
        |, #{''}
        a(href='https://twitter.com/ade_oshineye') Adewale Oshineye
        |, #{''}
        a(href='https://twitter.com/SandroMancuso') Sandro Mancuso
        |, and many, many more. We had around 10-20 participants from outside Germany with us at the first SoCraTes. All the tales
        |  they told us on how they were running things in London, Israel, Finland, you-name-it engaged us. It felt good to be around so
        |  many like-minded folks, and receive outside inspiration.
      h3 2011 #{''}
        small(style='color:darkred') First year
      p.
        The first SoCraTes - Software Craftsmanship and Testing (un)conference - was a success. We had some track sessions back 
        then, and a full day of Open Space. During the Open Space I joined a session that took a look on how to continue. 
        With all the energy in the place, we put ourselves on a virtual map of Germany. That was when I noticed, oh, there 
        are a bunch of other folks around me that come from a similar location as I do. That was also when we decided that 
        we needed to keep that spirit going. We talked to folks in our neighborhood, and found soon some company for local
        user groups to keep on spreading the word.
      h3 2012 #{''}
        small(style='color:darkgreen') Second year 
      p
        | One year later, we came back for SoCraTes 2012. Since the first conference we had established 10 user groups all 
        | over Germany on Software Craftsmanship, all organized under the banner of #{''}
        a(href='http://softwerkskammer.org') Softwerkskammer
        |. There was one in Hamburg, one in Karlsruhe, one in Munich, one in Nürnberg, one in Berlin, one in Frankfurt, one 
        | in Dortmund, one in Düsseldorf, and one shared around Münster, Osnabrück, and Bielefeld. We created a timeline of 
        | events that had happened in the various local communities since our first get-together.
      p We were amazed about the various events, code retreats, user group meetings, and so on.
      p.
        We still adhered to reserve space for foreign inspirations at that time. We had 10-20 people from outside Germany with us.
        However, Rückersbach had just 70 beds overall available. With ten local user groups potentially joining our unconference, we
        faced a serious problem. From each location just around 5 people would be able to join. So, with such a large community, we
        already excluded many potential attendees.
      p.
        The format of the conference had shifted though. We had abandoned previously-set track sessions all-together. Instead we
        focused on two full days of Open Space. That provided the freedom necessary. In the end, we decided to run the conference
        again in Rückersbach, but have it organized by a different group of people. We explicitly decided to pass over the organizing
        responsibility to one of the local groups from year to year.
      h3 2013 #{''}
        small(style='color:blue') Third year
      p.
        In 2013, the limited amount of beds became a problem. We discussed again what to do about it, and asked the organizers to seek a
        location that may scale up to 200 participants.
      h3 2014 #{''}
        small(style='color:grey') Moving on
      p.
        Rückersbach had an advantage: it was close to Frankfurt airport (about a one hour ride by car). That made it easy for people
        from other countries to attend, since Frankfurt is the largest airport in Germany. It would be hard to find such a spot with
        more beds in such a good position.
      p.
        The spot we found, looks promising according to the folks that have been there to inspect the place. The spot has 200 beds 
        (with close-by hotels for expansion), and is located in Soltau. That's about a one hour ride by car outside from Hamburg. 
        There are ten meeting rooms all set up with video projectors, flipcharts, and so on, one central place where everyone meets, 
        one large room for the Open Space opening, a bar with space for 170 people in the evening, a swimming pool, decent space 
        outside close to nature. We are convinced that this is a fitting place to scale SoCraTes to a larger audience.
