extends ../../../views/layout
block title 
  | History - SoCraTes
block content
  .row
    .col-sm-12
      .page-header
        h1
          | History&nbsp;
          small from 2011 to today.

      p.extraspace
        img.img-responsive(src='img/socrates2012_history_wall.jpg')
        small.pull-right Image courtesy of 
          +extlink('http://www.softwareleid.de/', 'Christoph Pater')

  .row
    .col-md-12
      .well
        p.
          Back in 2011, the first &ldquo;Software Craftsmanship and Testing (un)conference&rdquo; 
          took place in Germany. Since then, the community and the event grew larger.
        p
          | Markus Gärtner has written a nice #{''}
          +extlink('http://www.shino.de/2014/03/03/socrates-2014/', 'blog post') 
          | in 2014, which sums up some details why and how SoCraTes was
          | established. He graciously allowed us to quote parts of it in the
          | text that follows.
      h3 2010 #{''}
        small The Beginning
      p
        +extlink('https://twitter.com/leiderleider', 'Andreas Leidig')
        |  and #{''}
        +extlink('https://twitter.com/NicoleRauch', 'Nicole Rauch')
        |  started the whole thing way back in late 2010. They wanted to get a discussion going regarding a conference 
        |  on Software Craftsmanship in Germany. We decided to meet up during #{''}
        +extlink('http://www.xpdays.de', 'XP Days Germany')
        |  in 2010, and see what we could do. We quickly agreed on an unconference format, two days, somewhere laid back. 
        |  Some folks had organized the German Agile Coach Camp and #{''}
        +extlink('https://twitter.com/Play4Agile', 'Play4Agile')
        |  in Rückersbach close to Frankfurt. We decided on that spot as well, and organized everything for 2011. 
      p
        | Early on, we figured that we will need outside support. That was when we started to reach out to other craftsmen, like #{''}
        +extlink('https://twitter.com/slagyr', 'Micah Martin')
        |, #{''}
        +extlink('https://twitter.com/ade_oshineye', 'Adewale Oshineye')
        |, #{''}
        +extlink('https://twitter.com/SandroMancuso', 'Sandro Mancuso')
        |, and many, many more. We had around 10-20 participants from outside Germany with us at the first SoCraTes. All the tales
        |  they told us on how they were running things in London, Israel, Finland, you-name-it engaged us. It felt good to be around so
        |  many like-minded folks, and receive outside inspiration.
      h3 2011 #{''}
        small(style='color:darkred') First year
      p.
        The first SoCraTes - Software Craftsmanship and Testing (un)conference - was a success. We had some track sessions back 
        then, and a full day of Open Space. During the Open Space I joined a session that took a look on how to continue. 
        With all the energy in the place, we put ourselves on a virtual map of Germany. That was when I noticed, oh, there 
        are a bunch of other folks around me that come from a similar location as I do. That was also when we decided that 
        we needed to keep that spirit going. We talked to folks in our neighborhood, and found soon some company for local
        user groups to keep on spreading the word.
      h3 2012 #{''}
        small(style='color:darkgreen') Second year 
      p
        | One year later, we came back for SoCraTes 2012. Since the first conference we had established 10 user groups all 
        | over Germany on Software Craftsmanship, all organized under the banner of #{''}
        +extlink('http://softwerkskammer.org', 'Softwerkskammer')
        |. There was one in Hamburg, one in Karlsruhe, one in Munich, one in Nürnberg, one in Berlin, one in Frankfurt, one 
        | in Dortmund, one in Düsseldorf, and one shared around Münster, Osnabrück, and Bielefeld. We created a timeline of 
        | events that had happened in the various local communities since our first get-together.
      p We were amazed about the various events, code retreats, user group meetings, and so on.
      p.
        We still adhered to reserve space for foreign inspirations at that time. We had 10-20 people from outside Germany with us.
        However, Rückersbach had just 70 beds overall available. With ten local user groups potentially joining our unconference, we
        faced a serious problem. From each location just around 5 people would be able to join. So, with such a large community, we
        already excluded many potential attendees.
      p.
        The format of the conference had shifted though. We had abandoned previously-set track sessions all-together. Instead we
        focused on two full days of Open Space. That provided the freedom necessary. In the end, we decided to run the conference
        again in Rückersbach, but have it organized by a different group of people. We explicitly decided to pass over the organizing
        responsibility to one of the local groups from year to year.
      h3 2013 #{''}
        small(style='color:blue') Third year
      p.
        In 2013, the limited amount of beds became a problem.
      p.
        Notwithstanding the size, Rückersbach had an advantage: it was close to
        Frankfurt airport (about a one hour ride by car). That made it easy for
        people from other countries to attend, since Frankfurt is the largest
        airport in Germany. It would be hard to find such a spot with more beds
        in such a good position.
      p.
        We discussed again what to do about it, and asked the organizers to
        seek a location that may scale up to 200 participants.
      h3 2014 #{''}
        small(style='color:grey') Fourth year
      p.
        This year we switched to a new location. The choice fell on Soltau, a
        small town conveniently located about an hour's drive away from
        Hamburg. The hotel gives off a family vibe and has enough rooms and
        outside locations enabling leisure sessions. It can easily support 200
        participants and so provides room for growth.
      p.
        2014 turned out to be a great year. We had grown significantly, to 150
        participants. People loved the new location and in general seemed to
        have a good time. There were two days of Open Space followed by a day
        of workshops.
      p.
        The new location set up an intimate feel for the whole event: cozy
        outside sessions, plenty of opportunities for discussion in groups of
        varying sizes and a nice bar area enabling quality evening time.
        Discussions tended to last deep into the night or even until the sun
        would declare the start of a new day. On the way back to normal lives
        everybody seemed to promise to meet again at the same place next year.
      h3 2015 #{''}
        small(style='color:darkblue') Fifth year
      p.
        This was the second year in Soltau. If possible, the location felt even
        more inviting this year - it was familiar by now. We had 160
        participants, a maximum given the conference dates. We faced an
        unexpected situation - the schedule for open space was over 80% full on
        both days. The energy and desire to contribute was heartwarming and
        inspiring to observe.
      p
        | Too many amazing things happend to note them all down, so instead
        | here is a short #{''}
        +extlink('https://www.youtube.com/watch?v=8XpB30AWE4Y', 'song')
        |  that shows the SoCraTes spirit. The only thing left to say is: "see
        | you next year in Soltau".
