extends ../../../views/layout

block title
  |  Schedule - SoCraTes
block content
  .row
    .col-sm-12
      .page-header
        h1 Schedule
  .row
    .col-sm-12
      h2 Format
      p
        | The event will be run as a two day #{''}
        +extlink('http://agilecoachcamp.org/tiki-index.php?page=OpenSpace', 'Open Space')
        | , facilitated by the outstanding facilitator #{''}
        +extlink('http://blog.connexxo.com/', 'Pierluigi Pugliese')
        |.
      .panel.panel-primary.col-sm-4(style='float:right;padding: 0px;')
        .panel-heading
          h4.panel-title Open Space Technology
        .panel-body.
          is an approach for hosting meetings, conferences, corporate-style retreats and community summit events,
          focused on a specific and important purpose or task &ndash; but beginning without any formal agenda, beyond
          the overall purpose or theme.
        .panel-footer
          cite
            +extlink('http://en.wikipedia.org/wiki/Open_Space_Technology','Wikipedia')
      dl
        dt Thursday
        dd.
          The conference starts at 5pm on Thursday, August 25th 2016.
          This is the time to get to know new faces or meet old friends, have
          some drinks at the bar, explore the surrounding area etc.
          T-Shirts are being distributed.
        //- TODO "and deposits are returned" ?
        dd.
          Starting around 6pm the hotel will serve a buffet so that even
          people who arrived a little later will get something to eat.
        dd Later around 7.30pm we will officially start the conference with a #{''}
          +extlink('https://en.wikipedia.org/wiki/The_World_Cafe', 'World Café')
          | , to help kickstart everyone into a great conference experience.
        dt Friday
        dd Friday is completely reserved for a full-day #{''}
          +extlink('http://agilecoachcamp.org/tiki-index.php?page=OpenSpace', 'Open Space')
          | .
        dd.
          We start the marketplace at 9am and the first sessions will start
          around 10.30am. The last session timeslot ends at 6pm, which is also
          the time we all meet again in the marketplace room for a joint
          retrospective of the day.
        dd
          | Around 7pm dinner is available for around 2h, so everyone can start
          | into the evening at their own pace. Of course there's lots of room for
          | shared evening activities like board games, making music, hacking
          | or just talking and having fun. Take a look at #{''}
          a(href='/wiki/' + (currentYear - 1) + '/evening-activities') last year's activities
          |  to get an impression of the kind of activities that will happen.
        dt Saturday
        dd Saturday is also completely reserved for a full-day #{''}
          +extlink('http://agilecoachcamp.org/tiki-index.php?page=OpenSpace', 'Open Space')
          | .
        dd.
          We start the marketplace again at 9am and the first sessions will
          start around 10.30am too. The last session timeslot ends at 4.30pm.
          After that we again all meet for the closing of the conference and a
          retrospective of the two days. The closing of the conference will most
          likely end around 5.30pm.
        dd Participants staying until Sunday (or longer) can have dinner starting at 7pm.
        dt Sunday
        dd
          | Sunday is reserved for workshop oriented formats. Last year we had
          | the following #{''}
          a(href='/wiki/' + (currentYear - 1) + '/sunday-workshops') Sunday Workshops
          | .
        dd.
          Each workshop can choose themselves when they want to start (though
          rooms are available from 9am) and when they want to end, but the latest
          they have to end sometime around 6pm.
      p
        //- TODO newer pictures
        | To get an impression of what you can expect, have a look at 2013's Open Space timetable for #{''}
        a(href='/static/socrates_2013_collection/large-12.html') Friday
        |  and #{''}
        a(href='/static/socrates_2013_collection/large-13.html') Saturday.
        |  You can see that the range of topics is quite diverse, as is the kind of session (discussion, hands-on coding, …).
      p
        | Open Space means there is no agenda, or rather: #{''}
        strong you #{''}
        | set the agenda. This is your time, make the best of it!
        | For ideas about what you can do in advance have a look at #{''}
        +extlink('http://www.unconference.net/unconferencing-how-to-prepare-to-attend-an-unconference/', 'this article')
        |.
      p To get an even better impression, check out some of the #{''}
        a(href='/experienceReports.html') experience reports
        | #{''} from previous years.
      p Facilitation will be in English. However, it will be possible to run sessions in other languages.

      h2 Evening activities
      p
          | Participants organize evening activities. In the previous years there
          | were a multitude of things going on in the evenings, from music (some participants
          | brought instruments, songbooks etc., one year they even wrote a song about the conference) over board games to #{''}
          +extlink('https://github.com/janernsting/maexchen', 'live-hacking programs to play mia against each other')
          |. And of course there's always plenty of people to just talk to, or continue discussions from the day.
      p
          | Check out the #{''}
          a(href='/wiki/' + (currentYear) + '/evening-activities') wiki
          |  page to see what is currently being proposed. Don't forget to contribute your ideas.
