extends ../../../views/layout

block title
  | Sponsoring - SoCraTes
block content
  .row
    .col-sm-12
      .page-header
        img.logo-left-small(src='/img/socrates_no_text_40.png', alt='SoCraTes Conference 2016 - Software Craftsmanship and Testing')
        h1 Sponsoring SoCraTes 2016
  .row
    .col-sm-12
      p Thank you for your interest in making SoCraTes 2016 happen!
      p.
        We invite you to sponsor the conference and help make this a brilliant event. Your financial support makes a
        huge difference to the event and helps make sure it will be affordable for our attendees.
      .well
        h3 About the event
        p.
          The sixth annual Software Craftsmanship and Testing Conference will take place from 25 - 28 August 2016
          in Soltau near Hamburg, Germany.
        p This year, up to 220 people can participate &ndash; after our successful upscaling to 160 participants in 2015.
        p.
          The event will be non-commercial, community-driven and low-price. A two-day Open Space will be followed by a
          Coderetreat and other workshops. SoCraTes is an international non-profit conference for craftsmen by craftsmen.
        p Contact:
          span.mailtoify sponsoring@socrates-conference.de

      h2 Our Offer
      p For sponsorings of 750 &euro; or more we offer the following:
      ul
        li <b>Your logo</b> on our website
        li Our logo for your <b>marketing activities</b>
        li You will be <b>mentioned</b> during the opening and closing sessions of the conference
        li You will be mentioned in SoCraTes' <b>official social media</b> communications
      p Depending on the amount you choose to invest, you will also get
      ul
        li Guaranteed <b>participant slots</b> (you'll still need to pay for the hotel accommodation)
        li Your company name in <b>official mailings</b>

      p.
        Best of all, by the virtue of sending your employees to the conference, you'll have the opportunity to come in
        contact with highly motivated and skilled craftsmen.


      .panel.panel-default
        .panel-heading
          h4 Our Standard Packages
        table.table.table-condensed(style='font-size: small;')
          tr
            th
            th Basic (750 &euro;)
            th Comfort (1500 &euro;)
            th Premium (2500 &euro;)
          tr
            th Slots
            td One
            td Three
            td Five
          tr
            th Mailings
            td No
            td Yes
            td Yes
          tr.no-print
            th
            td: a(href='mailto:sponsoring@socrates-conference.de?subject=I%20am%20interested%20in%20the%20Basic%20Package')
              i.fa.fa-envelope-o
              span #{''} Contact us
            td: a(href='mailto:sponsoring@socrates-conference.de?subject=I%20am%20interested%20in%20the%20Comfort%20Package')
              i.fa.fa-envelope-o
              span #{''} Contact us
            td: a(href='mailto:sponsoring@socrates-conference.de?subject=I%20am%20interested%20in%20the%20Premium%20Package')
              i.fa.fa-envelope-o
              span #{''} Contact us

      p: small In addition to the above packages, you can also #{''}
        a(href='mailto:sponsoring@socrates-conference.de?subject=I%20am%20interested%20in%20sponsoring%20a%20SoCraTes%20sunday%20workshop')
          i.fa.fa-envelope-o
          span #{''} sponsor
        | #{''} one of the dedicated workshops or the Coderetreat that will take place on Sunday.
