extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/check-announcementform.js")

block title
  | #{t("announcements.announcement")}

block content
  form(id='announcementform', action='/announcements/submit', method='post')
    if (announcement.id)
      mixin hidden('id', announcement)
    mixin hidden('fromUnix', announcement)
    mixin hidden('previousUrl', announcement, 'url')
    mixin hidden('author', announcement)
    fieldset
      .row
        .col-md-12
          legend
            if (announcement.id)
              |  #{t("announcements.edit")}
            else
              |  #{t("announcements.create")}
      .row
        .col-md-6
          mixin text('title', t("general.title"), announcement)
          mixin text('url', t("general.url"), announcement)
        .col-md-6
          mixin date('thruDate', t("announcements.show_until"), announcement, announcement.thruDate())
      .row
        .col-md-12
          mixin hightextarea('message', t("announcements.text"), announcement)
      .row
        .col-md-12
          button.btn.btn-primary.pull-right(type="submit") #{t("general.save")}
          a.btn.btn-default.pull-right(href="javascript:history.back()", type="cancel") #{t("general.back")}
