extends ../../../views/layout
block title
  | #{announcement.title}

block content
  .row-fluid
    .span12
      .page-header
        h2 #{announcement.title}
          small  #{moment(announcement.fromDate).format('DD.MM.YYYY')}
          if (typeof(user) !== 'undefined' && user.member.isAdmin)
            a.pull-right.btn(href="/announcements/edit/#{announcement.url}"): i.icon-edit
      .row-fluid
        .span8
          p #{announcement.shortDescription}
          p #{announcement.text}
          p
            i #{announcement.author}
