extends ../../../views/layout
include ../../members/views/memberlist-mixin

block title
  | #{announcement.title}

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          if (accessrights.canEditAnnouncement(announcement))
            a.btn.btn-default(href='/announcements/edit/#{encodeURIComponent(announcement.url)}', title=t('general.edit')): i.fa.fa-edit.fa-fw
        h2 #{announcement.title}&nbsp;
          small #{announcement.fromMoment().lang(language).format('LL')}
      .row
        .col-md-8
          | !{announcement.messageHTML()}
          p
            em
              if ('automatisch' === announcement.authorname)
                | #{t('announcements.automatic')}
              else
                +linkedMember(announcement.authorname)
