extends ../../../views/layout
block title
  | #{announcement.title}

block content
  .row-fluid
    .span12
      .page-header
        h2 #{announcement.title}&nbsp;
          small #{moment(announcement.fromDate).format('DD.MM.YYYY')}
          if (typeof(user) !== 'undefined' && user.member.isAdmin)
            a.pull-right.btn(href="/announcements/edit/#{encodeURIComponent(announcement.url)}"): i.icon-edit
      .row-fluid
        .span8
          p !{announcement.messageHTML()}
          p
            em
              a(href="/members/#{announcement.authorname}") #{announcement.authorname}
