extends ../../../views/layout

block title
  | #{announcement.title}
block content
  .span12
    .page-header
      h1 #{announcement.title}
        small  Informationen
    p #{announcement.shortDescription}
    p #{announcement.text}
    p #{announcement.author}
