extends ../../../views/layout
block title
  | #{announcement.title}

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          if (accessrights.canEditAnnouncement(announcement))
            a.btn.btn-default(href="/announcements/edit/#{encodeURIComponent(announcement.url)}", title="Bearbeiten"): i.fa.fa-edit.fa-fw
        h2 #{announcement.title}&nbsp;
          small #{announcement.fromDate()}
      .row
        .col-md-8
          !{announcement.messageHTML()}
          p
            em
              if ('automatisch' === announcement.authorname)
                | #{announcement.authorname}
              else
                a(href="/members/#{encodeURIComponent(announcement.authorname)}") #{announcement.authorname}
