extends ../../../views/layout

block title
  | #{t('announcements.latest_news')}

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          if (accessrights.canCreateAnnouncement())
            a.pull-right.btn.btn-default(href='new/', title=t('announcements.new')): i.fa.fa-file-o.fa-fw
        h2 #{t('announcements.announcements')}&nbsp;
          small #{t('general.all')}
  
      dl.dl-horizontal
        for announcement in announcements
          dt #{announcement.fromMoment().lang(language).format('LL')}
          dd
            a(href='#{encodeURIComponent(announcement.url)}') #{announcement.title}
