extends ../../../views/layout

mixin defItem(title, url, text)
  dt #{title}:
  dd: a(href=url, target="_blank")
    i.fa.fa-external-link
    | &nbsp;#{text}

mixin externalUrl(url, text)
  a(href=url, target="_blank")
    i.fa.fa-external-link
    | &nbsp;#{text}


block title
  | Credits
block content
  .row
    .col-md-6
      h2 Server
      dl.dl-horizontal
        +defItem('Uberspace', 'http://uberspace.de', 'Webhoster')
        +defItem('Node.js', 'http://nodejs.org', 'Plattform')
        +defItem('MongoDB Treiber', 'http://mongodb.github.io/node-mongodb-native/contents.html', 'Persistenz')
        +defItem('Async', 'https://github.com/caolan/async', 'Funktionale Erweiterungen')
        +defItem('Express', 'http://expressjs.com/api.html', 'Applikationsframework')
        +defItem('Winston', 'https://github.com/flatiron/winston', 'Logging')
        +defItem('Winston-Config', 'https://github.com/triplem/winston-config', 'Logging Einfach')
        +defItem('Lo-Dash "_"', 'http://lodash.com', 'Funktionale Erweiterungen')
        +defItem('Underscore String "_s"', 'http://epeli.github.com/underscore.string/', 'String Erweiterungen')
        +defItem('Moment', 'http://momentjs.com/', 'Datum und Uhrzeit leicht gemacht')
        +defItem('Marked.js', 'https://github.com/chjj/marked', 'Markdown nach HTML')
        +defItem('Node-syntaxhighlighter.js', 'https://github.com/thlorenz/node-syntaxhighlighter', 'Syntax Highlighting in markdown')
        +defItem('Connect-Mongo', 'https://github.com/kcbanner/connect-mongo/', 'Persistente Sessions')
    .col-md-6
      h2 Frontend
      dl.dl-horizontal
        +defItem('Twitter Bootstrap', 'http://getbootstrap.com', 'UI Basis')
        +defItem('JQuery', 'http://api.jquery.com', 'API Referenz')
        +defItem('JQuery Validation', 'http://plugins.jquery.com/validation/', 'Frontend Validierung')
        +defItem('Bootstrap-Markdown', 'http://toopay.github.com/bootstrap-markdown/', 'Markdown Editor für Textareas')
        +defItem('Tiny Color', 'https://github.com/bgrins/TinyColor', 'Farben auswählen im Bootstrap Stil')
        +defItem('Full Calendar', 'http://arshaw.com/fullcalendar/', 'Der Kalender')
        +defItem('Font-Awesome', 'http://fortawesome.github.com/Font-Awesome/', 'Bessere Icons für Buttons etc.')

  .row
    .col-md-6.col-md-push-6
      h2 Dev/Build/Test
      dl.dl-horizontal
        +defItem('Grunt', 'http://gruntjs.com', 'Build-Runner')
        +defItem('JSHint', 'http://www.jshint.com', 'Metrik/Qualitäts/Style Checker')
        +defItem('JSHint (grunt)', 'https://github.com/gruntjs/grunt-contrib-jshint', 'Grunt Integration für JSHint')
        +defItem('Grunt Watch', 'https://github.com/gruntjs/grunt-contrib-watch', 'Automatisch Grunt starten bei Änderungen')
        +defItem('Mocha', 'http://visionmedia.github.io/mocha/', 'Test Framework')
        +defItem('Grunt Mocha Test', 'https://github.com/pghalliday/grunt-mocha-test', 'Grunt Integration für Mocha')
        +defItem('QUnit', 'http://qunitjs.com', 'Test Framework (Frontend)')
        +defItem('Grunt QUnit', 'https://github.com/gruntjs/grunt-contrib-qunit', 'Grunt Integration für QUnit')
        +defItem('Grunt Less', 'https://github.com/gruntjs/grunt-contrib-less', 'Grunt Integration für LESS Compilierung')
        +defItem('Grunt Concat', 'https://github.com/gruntjs/grunt-contrib-concat', 'Grunt Concatenierung für JS-Files')
        +defItem('Blanket', 'http://blanketjs.org', 'Coverage (rudimentär)')
        +defItem('Travis Cov', 'https://github.com/alex-seville/travis-cov', 'Coverage als Test, so dass Builds fehlschlagen')
        +defItem('Chai', 'http://chaijs.com', 'BDD TDD Assertion Library')
        +defItem('Sinon', 'http://sinonjs.org', 'Mock Framework')
        +defItem('Request', 'http://github.com/mikeal/request.git', 'Für Integrationstests')
        +defItem('Supertest', 'https://github.com/visionmedia/supertest', 'Einfache Integrationstests')
    .col-md-6.col-md-pull-6
      .well
        h3 Credits
        p.
          Diese Site ist freie Software und ihre Entstehung wäre ohne das Vorhandensein freier Software undenkbar. An dieser
          Stelle möchten wir uns ausdrücklich bei allen bedanken, die ihre Arbeit uneigennützig zur freien Verwendung zulassen,
          indem wir diese Arbeit hier erwähnen.

