include  ../../../views/formComponents
include userinfoform

extends ../../../views/layout

block scripts
  script(src='/clientscripts/check-memberform.js')
  script(src='/clientscripts/check-socrates-memberform.js')

block title
  - if (accessrights.isRegistered())
    | #{t('members.edit')}
  - else
    | #{t('members.create')}

block content
  form#memberform.relaxed(action='/members/submit',method='post')
    +editButtons

    +hidden('returnToParticipantsListing', returnToParticipantsListing)
    +csrf
    .row
      .col-sm-12
        legend
          h4 #{t('members.personal_data')}

    +memberinfoform(member, subscriber, accessrights.isRegistered() ? null : 'members.edit_preregistration', allCountries)
    if (addon && addon.homeAddress)
      +userinfoform(addon, participation, sharesARoom)
      .gutter
      p &nbsp;

    +editButtons

mixin editButtons
  .btn-group.pull-right
    if (accessrights.isRegistered())
      a.btn.btn-default(href='javascript:history.back()', type='cancel') #{t('general.back')}
    else
      a.btn.btn-danger(href='/auth/logout', type='cancel') #{t('members.cancel')}

    button.btn.btn-primary(type='submit') #{t('general.save')}
  
