extends ../../../views/layout

include ../../../views/formComponents
include ../../../../softwerkskammer/lib/members/views/editavatar

block title
  | #{member.firstname()} #{member.lastname()} - #{t('members.profile')}

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          if (accessrights.canEditMember(member))
            a.btn.btn-default(href='/members/edit'): i.fa.fa-edit.fa-fw
          if (accessrights.canDeleteMember(member))
            +reallyDeleteModal('members.delete', '/members/delete/' +encodeURIComponent(member.nickname()))
        h2
          | #{member.nickname()}
          small
            | &nbsp;#{t('members.profile')}
  .row
    .col-md-8
      p
        strong #{t('members.firstname')}:&nbsp;
        | #{member.firstname()}
      p
        strong #{t('members.lastname')}:&nbsp;
        | #{member.lastname()}
      p
        strong #{t('members.twitter')}:&nbsp;
        span.twitterify
          | #{member.twitter()}

      p
        if(accessrights.canEditMember(member) && isInDoubleBedRoom)
          strong #{t('members.roommate')}:&nbsp;
          | #{roommate}

      p &nbsp;
    .col-md-4
      if(accessrights.canEditMember(member))
        +avatar(member)
      else
        div(style='width: 200px')
          img(src=member.avatarUrl())

  .row
    .col-md-12
      a.btn.btn-primary(href='/mailsender/contactMember/#{encodeURIComponent(member.nickname())}')
        i.fa.fa-envelope
        | &nbsp;#{t('members.send_email', {firstname: member.firstname(), lastname: member.lastname()})}
