include  ../../../../commonComponents/pug/formComponents

mixin memberinfoform(member, subscriber, newmember_text, allCountries)
  +hidden('id', member.id())
  +hidden('previousNickname', member.nickname())
  +hidden('previousEmail', accessrights.isRegistered() ? member.email() : '')
  +hidden('created', member.created())
  +hidden('socratesOnly', member.socratesOnly())
  +hidden('notifyOnWikiChanges', member.notifyOnWikiChanges())
  .row
    .col-sm-12
      if(newmember_text)
        .well.well-sm
          p #{t(newmember_text)}

  .row
    .col-sm-12
      if (accessrights.isRegistered())
        if (member.socratesOnly())
          p #{t('members.edit_socrates_only')}
        else
          p #{t('members.edit_socrates_softwerkskammer')}
    .col-sm-6
      +text('nickname', 'Nickname', member.nickname())
      .row
        .col-sm-6
          +text('firstname', 'First name', member.firstname())
        .col-sm-6
          +text('lastname', 'Last name', member.lastname())
        .col-sm-12
          +singleselect('country', 'Country of Residence', subscriber ? subscriber.country() : null, 'Select your country', allCountries)
        .col-sm-12
          +text('pronoun', 'Preferred pronoun (will appear on your name tag)', subscriber && (typeof subscriber.addon === 'function') ? subscriber.addon().pronoun():'')


    .col-sm-6
      +text('email', 'E-Mail', member.email())
      +twitter('twitter', 'Twitter', member.twitter())
      if subscriber
        +checkbox('notifyOnWikiChangesSoCraTes', t('members.notifyOnWikiChanges'), subscriber.notifyOnWikiChangesSoCraTes())
      else
        +checkbox('notifyOnWikiChangesSoCraTes', t('members.notifyOnWikiChanges'), true)

mixin userinfoform(addon, participation, sharesARoom)
  .row
    .col-sm-12
      legend
        h4 Participation Data
      p.
        The home address is required by the hotel. It needs to be the address where you are living (not your company's address).
        In case you want a different address on the invoice, please fill in the billing address.
    .col-sm-6
      +textareaPure('homeAddress', 'Home Address', addon.homeAddress())
    .col-sm-6
      +textareaPure('billingAddress', 'Billing Address (if different)', addon.billingAddress())
    .col-sm-12
      p.
        All meals will include one vegan and one 'with meat' option. If you have additional dietary restrictions, such as allergies or
        other intolerances, please fill in the field below. While we can't promise to solve every issue, we will try our best to work
        something out with the kitchen.
      +text('diet', 'Special dietary restrictions', addon.diet())
  .row
    .col-sm-6.col-sm-push-6
      if participation
        +hidden('hasParticipationInformation', true)
        if sharesARoom
          .well.well-sm
            h4 Roommate
            p You have chosen to share a room with another participant.
            p.
              Please tell us who you want to share a room with. In case you do not have a preferred roommate, you can 
              specify restrictions if you like, e.g. "females only".
            p You can come back to this page and adjust this setting at any time. 
            +text('roommate', 'Roommate', participation.roommate(), '', 'The name of my preferred roommate')
    .col-sm-6.col-sm-pull-6
      .row#tShirtBox
        .col-sm-6
          .form-group(style='margin-bottom:0;')
            label.control-label(for='tShirtSizeMale') T-Shirt (Male):
            select#tShirtSizeMale.form-control(name='tShirtSize')
              for item in ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', 'No Shirt' ]
                option(value=item, selected=addon.tShirtSize() === item) #{item}
        .col-sm-6
          .form-group(style='margin-bottom:0;')
            label.control-label(for='tShirtSizeFemale') T-Shirt (Female):
            select#tShirtSizeFemale.form-control(name='tShirtSize')
              for item in ['', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL', 'Ladies\' No Shirt' ]
                option(value=item, selected=addon.tShirtSize() === item) #{item}
      .row
        p
          br

  .row#conferenceBuddy
    .col-sm-12
      legend
        h4 "Conference Buddy"
      p.
        In order to make more people feel instantly welcome, we want to try something new for SoCraTes 2017: A system of support to make it easier to
        get started with the Open Space chaos, and the many new acquaintances and sometimes intense social experience our lively and exuberant
        community provides.
    .col-sm-6
      p.
        If you believe you would benefit from someone to assist you with anything, be it coming up with a session idea, or announcing it in front
        of 200 others in the market place, or just letting them show you the premises, please check the box below.
      +checkbox('needsAssistance', 'I would like someone to assist/support me', addon.needsAssistance())
    .col-sm-6
      p.
        Likewise, if you have been to SoCraTes or one of its sister conferences before, and you feel comfortable explaining the World Café,
        joining someone's first try at Powerpoint Karaoke, or introducing them to a bunch of others, etc. etc., please check the box below.
      +checkbox('canProvideAssistance', 'I have been to SoCraTes before, and I can assist/support others', addon.canProvideAssistance())
  .row#remarks
    .col-sm-12
      +textareaPure('remarks', 'Additional remarks (e.g., if you require child care arrangements)', addon.remarks())
