include  ../../../views/formComponents

mixin memberinfoform(member, newmember_text)
  +hidden('id', member.id())
  +hidden('previousNickname', member.nickname())
  +hidden('previousEmail', accessrights.isRegistered() ? member.email() : '')
  +hidden('created', member.created())
  +hidden('socratesOnly', member.socratesOnly())
  .row
    .col-sm-12
      .well.well-sm
        p #{t(newmember_text)}
        if (accessrights.isRegistered())
          if (member.socratesOnly())
            p #{t('members.edit_socrates_only')}
          else
            p #{t('members.edit_socrates_softwerkskammer')}

  .row
    .col-sm-6
      +text('nickname', 'Nickname', member.nickname())
      .row
        .col-sm-6
          +text('firstname', 'First name', member.firstname())
        .col-sm-6
          +text('lastname', 'Last name', member.lastname())
    .col-sm-6
      +text('email', 'E-Mail', member.email())
      +twitter('twitter', 'Twitter', member.twitter())

mixin userinfoform(addon, participation)
  .row
    .col-sm-6
      +textareaPure('homeAddress', 'Home Address', addon.homeAddress())
      p.small The home address is required by the hotel. It needs to be the address where you are registered, not your company's.
    .col-sm-6
      +textareaPure('billingAddress', 'Billing Address (if different)', addon.billingAddress())
      p.small In case you want a different address on the invoice of the hotel, fill in the billing address.
  .row
    .col-sm-6
      .row#tShirtBox
        .col-sm-6
          .form-group(style='margin-bottom:0;')
            label.control-label(for='tShirtSizeMale') T-Shirt (Male):
            select#tShirtSizeMale.form-control(name='tShirtSize')
              for item in ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL' ]
                option(selected=addon.tShirtSize() === item) #{item}
        .col-sm-6
          .form-group(style='margin-bottom:0;')
            label.control-label(for='tShirtSizeFemale') T-Shirt (Female):
            select#tShirtSizeFemale.form-control(name='tShirtSize')
              for item in ['', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL' ]
                option(selected=addon.tShirtSize() === item) #{item}
  if participation
    .row
      .col-sm-12
        legend
          h4 &nbsp;
        p Please tell us a little bit about you by answering the following questions.
      .col-md-6
        +textarea('question1', 'What is your relation to Software Craftsmanship', participation.question1(), null, 'Opinions, Questions, Experiences...')
        +textarea('question2', 'What do you want to share with the other participants', participation.question2(), null, 'This can e.g. be your blog or your code repository.')
      .col-md-6
        +textarea('question3', 'What do you want to take home from the event', participation.question3(), null, 'Expectations, Hopes, Wishes...')
  script.
    $('#tShirtSizeMale').on('change', function (e) {
      if ($(this).val() !== '') {
        $('#tShirtSizeFemale').val('');    
      }
    });
    $('#tShirtSizeFemale').on('change', function (e) {
      if ($(this).val() !== '') {
        $('#tShirtSizeMale').val('');    
      }
    });
