include  ../../../views/formComponents

mixin memberinfoform(member, subscriber, newmember_text, allCountries)
  +hidden('id', member.id())
  +hidden('previousNickname', member.nickname())
  +hidden('previousEmail', accessrights.isRegistered() ? member.email() : '')
  +hidden('created', member.created())
  +hidden('socratesOnly', member.socratesOnly())
  +hidden('notifyOnWikiChanges', member.notifyOnWikiChanges())
  .row
    .col-sm-12
      if(newmember_text)
        .well.well-sm
          p #{t(newmember_text)}

  .row
    .col-sm-12
      if (accessrights.isRegistered())
        if (member.socratesOnly())
          p #{t('members.edit_socrates_only')}
        else
          p #{t('members.edit_socrates_softwerkskammer')}
    .col-sm-6
      +text('nickname', 'Nickname', member.nickname())
      .row
        .col-sm-6
          +text('firstname', 'First name', member.firstname())
        .col-sm-6
          +text('lastname', 'Last name', member.lastname())
        .col-sm-12
          +singleselect('country', 'Country of Residence', subscriber ? subscriber.country() : null, 'Select your country', allCountries)

    .col-sm-6
      +text('email', 'E-Mail', member.email())
      +twitter('twitter', 'Twitter', member.twitter())
      if subscriber
        +checkbox('notifyOnWikiChangesSoCraTes', t('members.notifyOnWikiChanges'), subscriber.notifyOnWikiChangesSoCraTes())
      else
        +checkbox('notifyOnWikiChangesSoCraTes', t('members.notifyOnWikiChanges'), true)

mixin userinfoform(addon, participation, sharesARoom)
  .row
    .col-sm-12
      hr
      p.
        The home address is required by the hotel. It needs to be the address where you are living (not your company's address).
        In case you want a different address on the invoice, please fill in the billing address.
    .col-sm-6
      +textareaPure('homeAddress', 'Home Address', addon.homeAddress())
    .col-sm-6
      +textareaPure('billingAddress', 'Billing Address (if different)', addon.billingAddress())
  .row
    .col-sm-6
      .row#tShirtBox
        .col-sm-6
          .form-group(style='margin-bottom:0;')
            label.control-label(for='tShirtSizeMale') T-Shirt (Male):
            select#tShirtSizeMale.form-control(name='tShirtSize')
              for item in ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL' ]
                option(selected=addon.tShirtSize() === item) #{item}
        .col-sm-6
          .form-group(style='margin-bottom:0;')
            label.control-label(for='tShirtSizeFemale') T-Shirt (Female):
            select#tShirtSizeFemale.form-control(name='tShirtSize')
              for item in ['', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL' ]
                option(selected=addon.tShirtSize() === item) #{item}
    .col-sm-6
      +textareaPure('remarks', 'Remarks (e.g. dietary restrictions)', addon.remarks())
  if participation
    +hidden('hasParticipationInformation', true)
    if sharesARoom
      .row
        .col-sm-12
          hr
          +text('roommate', 'Who do you want to share your room with', participation.roommate())
  script.
    $('#tShirtSizeMale').on('change', function (e) {
      if ($(this).val() !== '') {
        $('#tShirtSizeFemale').val('');    
      }
    });
    $('#tShirtSizeFemale').on('change', function (e) {
      if ($(this).val() !== '') {
        $('#tShirtSizeMale').val('');    
      }
    });
