extends ../../../views/layoutOnlyMain
include ../../../../commonComponents/pug/dataTables-mixin

block scripts
  +dataTableImport
  +dataTable('#activitytable', '[ 1, "asc" ]', '[{targets: 0, sortable: false}, {targets: [3,4], type: "date-eu"}]', true)

block title
  | Übersicht der Gruppen

block content
  .row
    .col-md-12
      .page-header
        h2 Verwaltung
          small  Aktivitäten  
  .row
    .col-md-12
      .table-responsive
        table.table.table-condensed.table-hover.table-striped#activitytable
          thead
            tr
              th Edit
              th Titel
              th Adress-Suffix
              th Start
              th Ende
              th Veranstaltungsort
              th Beschreibung
              th Wegbeschreibung
              th Gruppe
          tbody
            for activity in activities
              tr
                td: a.btn-sm(href='/activities/edit/' + encodeURIComponent(activity.url())): i.fa.fa-edit.fa-fw
                td #{activity.title()}
                td #{activity.url()}
                td #{activity.startMoment().locale(language).format('L')}
                td #{activity.endMoment().locale(language).format('L')}
                td #{activity.location()}
                td.ellipsis: span(rel='tooltip', data-placement='left', data-content=activity.descriptionHTML(), data-title='<h4>' + activity.title() + '</h4>') #{activity.description()}
                td.ellipsis: span(rel='tooltip', data-placement='left', data-content=activity.directionHTML()) #{activity.direction()}
                td #{activity.groupName()}
