extends ../../../views/layoutOnlyMain
include ../../../views/dataTables-mixin

block scripts
  +dataTableImport
  +dataTable('#grouptable', '[ 1, "asc" ]', '[{targets: 0, sortable: false}]', true)

block title
  | Übersicht der Gruppen

block content
  .row
    .col-12
      .page-header
        h2 Verwaltung #{' '}
          small  Gruppen
      .table-responsive
        table.table.table-sm.table-hover.table-striped#grouptable
          thead
            tr
              th Edit
              th Name
              th Titel
              th Präfix
              th Beschreibung
              th Gruppenart
          tbody
            for group in groups
              tr
                td: a.btn-sm(href='/groups/edit/' + encodeURIComponent(group.id)): i.fa-solid.fa-pen-to-square.fa-fw
                td: b #{group.id}
                td #{group.longName}
                td #{group.emailPrefix}
                td.ellipsis: span(rel='tooltip', data-content=group.descriptionHTML()) #{group.description}
                td #{group.type}
