extends ../../../views/layoutOnlyMain
include ../../members/views/memberlist-mixin
include ../../../views/dataTables-mixin

block scripts
  +dataTableImport
  +dataTable('#membertable', '[ 1, "desc" ]', '[{targets: 0, sortable: false}, {targets: [1], type: "date-eu"}]', true)

block title
  | Übersicht der Mitglieder

block content
  .row
    .col-md-12
      .page-header
        h2 Verwaltung
          small  Mitglieder
      .table-responsive
        table.table.table-condensed.table-hover.table-striped#membertable
          thead
            tr
              th Edit
              th Angelegt
              th Nickname
              th Vorname
              th Nachname
              th Ort/Region
              th Wie&nbsp;ich&nbsp;von&nbsp;der&nbsp;Softwerkskammer&nbsp;erfahren&nbsp;habe
              th Interessenschwerpunkte
              th Website/Blog
              th Beruf
              th Email
              th Twitter
              th Wiki-Changes
              th Authentifizierung
          tbody
            for member in members
              tr
                td: a.btn-sm(href='/members/edit/#{encodeURIComponent(member.nickname())}'): i.fa.fa-edit.fa-fw
                td #{member.created()}
                td
                  | !{(member.socratesOnly() ? '<img src="https://www.socrates-conference.de/img/favicon.ico">&nbsp;' : '')}
                  +linkedMember(member.nickname())
                td #{member.firstname()}
                td #{member.lastname()}
                td #{member.location()}
                td #{member.reference()}
                td.ellipsis: span(rel='tooltip', data-placement='left', data-content='#{member.interests()}') #{member.interests()}
                td #{member.site()}
                td #{member.profession()}
                td #{member.email()}
                td #{member.twitter()}
                td #{member.notifyOnWikiChanges()}
                td #{member.authentications() ? member.authentications().join(', ') : ''}
