extends ../../../views/layoutOnlyMain
include ../../activities/views/activities-mixins
include ../../mailarchive/views/mailheader-mixin

block scripts
  script.
    $(document).ready(function () {
      $('a.chevron').click(function() {$(this).find('i').toggleClass('fa-chevron-down fa-chevron-right')});
    });

block title
  | Dashboard
block content
  .row
    .col-sm-6
      +my_activities
    .col-sm-6
      .well: p Hier muss dann nochmal was sein
  +my_groups

mixin my_groups
  -var n = member.subscribedGroups.length
  -for(var i = 0; i < n; i += 3)
    .row
      -for(var j = i; j < Math.min(n, 3+i); j++)
        -var group = member.subscribedGroups[j]
          .col-sm-4
            -var panelid = group.id + '-grouppanel'
            .panel.panel-default(id="#{panelid}")
              .panel-heading(style="background-color: #{group.color}; color: #FFFFFF;")
                b #{group.longName}
                a(style="color: #FFFFFF;", href="/groups/#{group.id}"): span.pull-right: i.fa.fa-group.fa-fw
              .panel-body
                +wikichangesOrBlogs(postsByGroup[group.id], panelid, 'blogs', 'Blogposts')
                +wikichangesOrBlogs(changesByGroup[group.id], panelid, 'changes', 'Wiki-Changes')
                if (mailsByGroup[group.id].length > 0)
                  h4: a.chevron(data-toggle="collapse", data-target="##{panelid} .mails")
                    i.fa.fa-chevron-down.fa-fw.blog
                    | Latest from Mailarchive
                  .mails.collapse.in
                    +mailIndex(mailsByGroup[group.id])

mixin my_activities
  .panel.panel-default
    .panel-heading
      b Kommende Aktivitäten
    ul.list-group
      each activity in activities
        -var angemeldet = (member && activity.allRegisteredMembers().indexOf(member.id()) > -1)
        li.list-group-item
          if (angemeldet)
            i.fa.fa-check.fa-fw.text-success.tooltipify(data-toggle="tooltip" title="Du bist angemeldet.")
          else
            i.fa.fa-question.fa-fw.tooltipify(data-toggle="tooltip" title="Du bist nicht angemeldet.")
          | &nbsp; #{activity.startMoment().lang(language).format('L')} &nbsp; 
          a(href='/activities/#{encodeURIComponent(activity.url())}') #{activity.title()}
          span.pull-right(style="color: #{activity.colorRGB};") #{activity.groupName()}

mixin wikichangesOrBlogs(items, panelid, prefix, title)
  if (items.length > 0)
    h4: a.chevron(data-toggle="collapse", data-target="##{panelid} .#{prefix}")
      i.fa.fa-chevron-down.fa-fw.blog
      | #{title}
    div(class="#{prefix} collapse in")
      ul.list-unstyled
        each item in items
          li
            div(id="#{item.dialogId()}", tabindex="-1").modal.fade.bs-modal-lg
              .modal-dialog.modal-lg
                .modal-content
            a(data-toggle="modal", data-target="##{item.dialogId()}", href="#{item.dialogUrl()}") #{item.pureName()}
            small.pull-right #{item.date().lang(language).format('L')}&nbsp;
              a(href="#{item.url()}", title="go to item's page"): i.fa.fa-book.fa-fw
    hr
