extends ../../../views/layout

include ../../../views/formComponents
include ../../activities/views/activities-mixins
include editavatar

block title
  | #{member.firstname()} #{member.lastname()} - #{t('members.profile')}

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          if (accessrights.canEditMember(member))
            a.btn.btn-default(href='/members/edit/#{encodeURIComponent(member.nickname())}'): i.fa.fa-edit.fa-fw
          if (accessrights.canDeleteMember(member))
            -var deleteoptions = {url: '/members/delete', params: {nickname: member.nickname()}}
            +reallyDeleteModalPost('members.delete', deleteoptions)
        h2
          | !{(member.socratesOnly() ? '<img src="https://www.socrates-conference.de/img/socrates_no_text_40.png">&nbsp;' : '')}
          | #{member.nickname()}
          small
            if (member.isContactperson())
              | &nbsp;#{t('groups.contact')}
            else
              | &nbsp;#{t('members.profile')}
  .row
    .col-md-8
      p
        strong #{t('members.firstname')}:
        |  #{member.firstname()}
      p
        strong #{t('members.lastname')}:
        |  #{member.lastname()}
      p
        strong #{t('members.twitter')}:&nbsp;
        span.twitterify
          | #{member.twitter()}
      p
        strong #{t('members.location')}:
        |  #{member.location()}
      p
        strong #{t('members.profession')}:
        |  #{member.profession()}
      p
        strong #{t('members.interests')}:
        span.interestify  #{member.interests()}
      p
        strong #{t('members.web')}:&nbsp;
        span.urlify
          | #{member.site()}

      p &nbsp;
    .col-md-4
      if(accessrights.canEditMember(member))
        +avatar(member)
      else
        div(style='width: 200px')
          img(src=member.avatarUrl())
  .row
    .col-md-12
      a.btn.btn-primary(href='/mailsender/contactMember/#{encodeURIComponent(member.nickname())}')
        i.fa.fa-envelope
        | &nbsp;#{t('members.send_email', {firstname: member.firstname(), lastname: member.lastname()})}

      h3 #{t('members.member_of')}:
      ul
        each group in member.subscribedGroups
          li
            strong: a(href='/groups/#{group.id}') #{group.longName}&nbsp;
            if (group.organizers.indexOf(member.id()) > -1)
              span.label(style='background-color: #DF5353') #{t('groups.contact')}

      h3 #{t('members.participated_in')}
      +activityList(pastActivities)
