extends ../../../views/layout

include ../../../../commonComponents/pug/formComponents
include ../../activities/views/activities-mixins
include editavatar

block title
  | #{member.firstname()} #{member.lastname()} - #{t('members.profile')}

block content
  .row
    .col-12
      .page-header
        .btn-group.float-right
          if (accessrights.canEditMember(member))
            a.btn.btn-light(href='/members/edit/' + encodeURIComponent(member.nickname())): i.fa.fa-edit.fa-fw
          if (accessrights.canDeleteMember(member))
            -var deleteoptions = {url: '/members/delete', params: {nickname: member.nickname()}}
            +reallyDeleteModalPost('members.delete', deleteoptions)
        h2
          | #{member.nickname()}
          small
            if (member.isContactperson())
              | &nbsp;#{t('groups.contact')}
            else
              | &nbsp;#{t('members.profile')}
  .row
    .col-lg-8
      p.mb-1
        strong #{t('members.firstname')}:
        |  #{member.firstname()}
      p.mb-1
        strong #{t('members.lastname')}:
        |  #{member.lastname()}
      p.mb-1
        strong #{t('members.twitter')}:&nbsp;
        span.twitterify
          | #{member.twitter()}
      p.mb-1
        strong #{t('members.location')}:
        |  #{member.location()}
      p.mb-1
        strong #{t('members.profession')}:
        |  #{member.profession()}
      p.mb-1
        strong #{t('members.interests')}:
        span.interestify  #{member.interests()}
      p.mb-1
        strong #{t('members.web')}:&nbsp;
        span.urlify
          | #{member.site()}

      p &nbsp;
    .col-lg-4
      if(accessrights.canEditMember(member))
        +avatar(member)
      else
        div(style='width: 200px')
          img(src=member.avatarUrl())
  .row
    .col-12
      a.btn.btn-primary(href='/mailsender/contactMember/' + encodeURIComponent(member.nickname()))
        i.fa.fa-envelope
        | &nbsp;#{t('members.send_email', {firstname: member.firstname(), lastname: member.lastname()})}

      h3.mt-2 #{t('members.member_of')}:
      ul.list-unstyled
        each group in member.subscribedGroups
          li
            strong: a(href='/groups/' + group.id) #{group.longName}&nbsp;
            if (group.organizers.indexOf(member.id()) > -1)
              span.badge.text-white(style='background-color: #DF5353') #{t('groups.contact')}

  .row
    .col-6
      h3 #{t('members.participated_in')}
      +activityList(pastActivities)
    .col-6
      h3 #{t('members.organizer_or_editor_of')}
      +activityList(organizedOrEditedActivities)

  .row
    .col-12
      h3 #{t('members.wikipages_edited')}
        -var wikis = Object.keys(modifiedWikiFiles).sort()
        each wiki in wikis
          h4
            =wiki
          ul.list-unstyled
            each file in modifiedWikiFiles[wiki]
              li: a(href='/wiki/' + wiki + '/' + encodeURIComponent(file)) #{file}



block scripts
  +avatarscript
