include  ../../../views/formComponents

mixin memberform(member, regionalgroups, themegroups, tags)
  form#memberform(action='/members/submit',method='post')
    +csrf
    fieldset
      .row
        .col-md-12
          h2
            if (accessrights.isRegistered())
              | !{(member.socratesOnly() ? '<img src="https://www.socrates-conference.de/img/socrates_no_text_40.png">&nbsp;' : '')}
              | #{member.nickname()}
            else
              | #{t('members.new')}
            +memberSubmitButtons

      .row
        .col-md-12
          legend #{t('members.group_membership')}
          +groupCheckboxes('newSubscriptions', regionalgroups, themegroups)
      .row
        .col-md-12
          legend #{t('general.settings')}
          +checkbox('notifyOnWikiChanges', t('members.notifyOnWikiChanges'), member.notifyOnWikiChanges())
      .row
        .col-md-12
          legend #{t('members.personal_data')}
      .row
        .col-md-6
          +hidden('id', member.id())
          +hidden('previousNickname', member.nickname())
          +hidden('previousEmail', accessrights.isRegistered() ? member.email() : '')
          +hidden('created', member.created())
          +hidden('socratesOnly', false)
          +text('nickname', t('members.nickname'), member.nickname())
          +text('firstname', t('members.firstname'), member.firstname())
          +text('lastname', t('members.lastname'), member.lastname())
          +text('email', t('members.email'), member.email())
          +twitter('twitter', t('members.twitter'), member.twitter())
        .col-md-6
          +text('location', t('members.location'), member.location())
          +text('profession', t('members.profession'), member.profession())
          +textWithTags('interests', t('members.interests'), member.interestsForSelect2(), tags)
          +text('site', t('members.web'), member.site())
          +text('reference', t('members.reference'), member.reference())
      if (accessrights.isRegistered())
        .row
          .col-md-12
            legend #{t('members.authenticated_via')}:
            ul
              each auth in member.authentications()
                li #{auth}
        if (accessrights.isMember(member))
          .row
            .col-md-6
              a.btn.btn-primary(data-toggle='modal', data-target='#login', href='/loginDialog?returnUrl=' + encodeURIComponent(currentUrl ||  '/'))
                i.fa.fa-plus-square.fa-fw
                | &nbsp;#{t('members.authenticate')}
        if (accessrights.isSuperuser())
          .row
            .col-md-6
              +text('additionalAuthentication', t('members.authenticate'), '')
      .row
        .col-md-12
          +memberSubmitButtons

mixin memberSubmitButtons
  .btn-group.pull-right
    if (accessrights.isRegistered())
      a.btn.btn-default(href='javascript:history.back()', type='cancel') #{t('general.back')}
    else
      a.btn.btn-danger(href='/auth/logout', type='cancel') #{t('members.cancel')}
    button.btn.btn-primary(type='submit') #{t('general.save')}
