include  ../../../views/formComponents

mixin memberform(member, regionalgroups, themegroups, tags)
  #passwordDialog.modal.fade(tabindex='-1')
    .modal-dialog.modal-lg
      .modal-content

  form#memberform(action='/members/submit', method='post')
    +csrf
    fieldset
      .row
        .col-12
          h2
            if (accessrights.isRegistered())
              | #{member.nickname()}
            else
              | #{t('members.new')}
            +memberSubmitButtons(t('general.save'))

      .row
        .col-md-12
          legend #{t('members.group_membership')}
          p #{t('members.group_explanation')}
          +groupCheckboxes('newSubscriptions', regionalgroups, themegroups)
      .row
        .col-md-12
          legend #{t('members.personal_data')}
      .row
        .col-md-6
          +hidden('id', member.id())
          +hidden('previousNickname', member.nickname())
          +hidden('previousEmail', accessrights.isRegistered() ? member.email() : '')
          +hidden('created', member.created())
          if (!member.authentications())
            label.control-label(for='password') #{t('authentication.password')}:
            input#password.form-control.trim-text(type='password', name='password', value='')
          +text('nickname', t('members.nickname'), member.nickname())
          +text('firstname', t('members.firstname'), member.firstname())
          +text('lastname', t('members.lastname'), member.lastname())
          +textWithIcon('email', t('members.email'), member.email(), "fa-eye-slash")
          +twitter('twitter', t('members.twitter'), member.twitter())
        .col-md-6
          +text('location', t('members.location'), member.location())
          +text('profession', t('members.profession'), member.profession())
          +textWithTags('interests', t('members.interests'), member.interestsForSelect2(), tags)
          +text('site', t('members.web'), member.site())
          +textWithIcon('reference', t('members.reference'), member.reference(), "fa-eye-slash")
      .row
        .col-md-12
          legend
            i.far.fa-eye-slash.fa-fw
            | #{' '}#{t('general.settings')}
          +checkbox('notifyOnWikiChanges', t('members.notifyOnWikiChanges'), member.notifyOnWikiChanges())
      if (accessrights.isRegistered())
        .row
          .col-md-12
            legend
              i.far.fa-eye-slash.fa-fw
              | #{' '}#{t('members.authenticated_via')}:
            ul
              each auth in member.authentications()
                li #{auth}
        if (accessrights.isMember(member))
          .row
            .col-md-6
              span.btn.btn-primary.modaldialog(data-toggle='modal', data-target='#login', data-link='/loginDialog?returnUrl=' + encodeURIComponent(currentUrl ||  '/'))
                i.far.fa-plus-square.fa-fw
                | &nbsp;#{t('members.authenticate')}
            .col-md-6
              span.btn.btn-primary.modaldialog(data-toggle='modal', data-target='#passwordDialog', data-link='/passwordDialog?returnUrl=' + encodeURIComponent(currentUrl ||  '/'))
                i.fas.fa-key.fa-fw
                | &nbsp;#{t('authentication.change_password')}
        if (accessrights.isSuperuser())
          .row
            .col-md-6
              +text('additionalAuthentication', t('members.authenticate'), '')
      .row
        .col-md-12
          +memberSubmitButtons(t('general.save'))
