extends ../../../views/layout

block scripts
    script(src="/clientscripts/jquery.validate-1.11.1.js")
    script(src="/clientscripts/messages_de.js")
    script(src="/clientscripts/check-groupform.js")

block title
  | Gruppe

block content
  - if (group.isValid())
    h1 Gruppe bearbeiten
  - else
    h1 Gruppe anlegen

  mixin text(name, label)
    div
      label #{label}:
      input(id=name, type='text', name=name, value=group[name])

  div#userform

    form(id='groupform', action='submit',method='post')
      - if (group.isValid())
        div #{'Name'}: #{group.id}
        input(id='id', type='hidden', name='id', value=group['id'])
      - else
        mixin text('id', 'Name')
      mixin text('longName', 'Titel')
      mixin text('description', 'Beschreibung')
      mixin text('type', 'Gruppenart')

      div
        - if (group.isValid())
          input(type="submit", value="Speichern")
        - else
          input(type="submit", value="Anlegen")
