extends ../../../views/layout


block title
  | Gruppe

block content
  - if (group.isValid())
    h1 Gruppe bearbeiten
  - else
    h1 Gruppe anlegen

  mixin text(name, label)
    div
      label #{label}:
      input(id=name, type='text', name=name, value=group[name])

  div#userform
    form(action='submit',method='post')
      - if (group.isValid())
        div #{'Name'}: #{group.id}
      - else
        mixin text('id', 'Name')
      mixin text('longName', 'Titel')
      mixin text('description', 'Beschreibung')
      mixin text('type', 'Gruppenart')

      div
        - if (group.isValid())
          input(type="submit", value="Speichern")
        - else
          input(type="submit", value="Anlegen")
