extends ../../../views/layout

include  ../../../views/formComponents

block scripts
  script(src="/clientscripts/jquery.validate-1.11.1.js")
  script(src="/clientscripts/messages_de.js")
  script(src="/clientscripts/check-groupform.js")
  script(src="/clientscripts//additional-methods-1.11.1.js")

block title
  | Gruppe #{group.id}
  - if (group.isValid())
    |  bearbeiten
  - else
    |  anlegen

block content
  form(id='groupform', action='/groups/submit', method='post')
    fieldset
      .span6
        legend
          | Gruppe
          if (group.isValid())
            |  "#{group.id}" bearbeiten
          else
            |  anlegen
        if (group.isValid())
          input#id(type='hidden', name='id', value=group['id'])
        else
          mixin text('id', 'Name')
        mixin text('longName', 'Titel', group)
        mixin textarea('description', 'Beschreibung', group)
        if (!group.isValid())
          mixin text('emailPrefix', 'Präfix für Emails', group)
        else
          input#emailPrefix(type='hidden', name='emailPrefix', value=group['emailPrefix'])
          p
            strong
              | Präfix für Emails:
            |  #{group.emailPrefix}

        .control-group
          label.control-label(for="type") Gruppenart:
          select#type.input-block-level.input-xlarge(name="type")
            for item in group.allTypes()
              option(selected=group.type === item) #{item}
        .row-fluid
          .span12
            if group.isValid()
              button.btn.btn-primary.pull-right(type="submit") Speichern
            else
              button.btn.btn-primary.pull-right(type="submit") Anlegen
            a.btn.pull-right(href="javascript:history.back()", type="cancel") Zurück

block scripts
  script(src="/clientscripts/jquery.validate-1.11.1.js")
  script(src="/clientscripts/messages_de.js")
  script(src="/clientscripts/check-groupform.js")
