extends ../../../views/layout

mixin text(name, label)
  .control-group
    label(class="control-label", for=name) #{label}:
    input(id=name, class="input-block-level input-xlarge", type='text', name=name, value=group[name])

block scripts
  script(src="/clientscripts/jquery.validate-1.11.1.js")
  script(src="/clientscripts/messages_de.js")
  script(src="/clientscripts/check-groupform.js")
  script(src="/clientscripts//additional-methods-1.11.1.js")

block title
  | Gruppe #{group.id}
  - if (group.isValid())
    |  bearbeiten
  - else
    |  anlegen

block content
  form(id='groupform', action='/groups/submit', method='post')
    fieldset
      .span6
        legend
          | Gruppe
          - if (group.isValid())
            |  "#{group.id}" bearbeiten
          - else
            |  anlegen
        - if (group.isValid())
          input(id='id', type='hidden', name='id', value=group['id'])
        - else
          mixin text('id', 'Name')
        mixin text('longName', 'Titel')
        mixin text('description', 'Beschreibung')
        .control-group
          label(class="control-label", for="type") Gruppenart:
          select(id="type", class="input-block-level input-xlarge", name="type")
            for item in group.allTypes()
              option(selected=group.type == item) #{item}
        p
          - if (group.isValid())
            button(class="btn btn-primary", type="submit") Speichern
          - else
            button(class="btn btn-primary", type="submit") Anlegen
          a(href="javascript:history.back()", class="btn", type="cancel") Zurück

block scripts
  script(src="/clientscripts/jquery.validate-1.11.1.js")
  script(src="/clientscripts/messages_de.js")
  script(src="/clientscripts/check-groupform.js")
