extend ../../../views/layout

block title
    | #{group.longName}

block content
    h1 #{group.longName}
    p Beschreibung: #{group.description}
    p Gruppenart: #{group.type}

    h2 Mitglieder der Gruppe:
    ul
        each item in users
            li= item
