extends ../../../views/layout
include ../../members/views/memberlist-mixin

block title
    | #{group.longName}

block content
  .row
    .col-md-12
      .page-header
        h2 #{group.longName}&nbsp; 
          .btn-group.pull-right
            a.btn.btn-default(href="/wiki/#{group.id}/")
              i.icon-book 
              | &nbsp;Wiki
            a.btn.btn-default(href="/mailarchive/list/#{group.id}?thread=true") Mailarchiv
            if (user && user.member.isAdmin)
              a.btn.btn-default(href="/groups/edit/#{group.id}", title="Bearbeiten"): i.icon-edit
          small #{group.type} 
      p
        strong
          | Adresse:
        | 
        a(href="mailto:#{group.id}@softwerkskammer.org")
          | #{group.id}@softwerkskammer.org
      |!{group.descriptionHTML()}

      h4 Mitglieder:
      | Diese Gruppe hat
      if (users.length === 1)
        |  ein Mitglied.
      else if (users.length === 0)
        |  keine Mitglieder.
      else
        |  #{users.length} Mitglieder.
      if (user)
        mixin memberlist(users, organizers)
        if (user)
          if (userIsGroupMember)
            a.btn.btn-primary(href="unsubscribe/#{group.id}") Gruppe verlassen
          else
            a.btn.btn-primary(href="subscribe/#{group.id}") Gruppe beitreten
