extends ../../../views/layout
include ../../groupsAndMembers/views/gm-mixins

block title
    | #{group.longName}

block content
  .row-fluid
    .span12
      .page-header
        h2 #{group.longName}&nbsp; 
          small #{group.type} 
          if (user && user.member.isAdmin)
            a.pull-right.btn(href="/groups/edit/#{group.id}"): i.icon-edit
      p
        strong
          | Adresse:
        | 
        a(href="mailto:#{group.id}@softwerkskammer.de")
          | #{group.id}@softwerkskammer.de
      |!{group.descriptionHTML()}
  
      h4 Mitglieder:
      | Diese Gruppe hat
      if (users.length === 1)
        |  ein Mitglied.
      else if (users.length === 0)
        |  keine Mitglieder.
      else
        |  #{users.length} Mitglieder.
      if (user)
        mixin memberlist(users)
        if (user)
          if (userIsGroupMember)
            a.btn.btn-primary(href="unsubscribe/#{group.id}") Gruppe verlassen
          else
            a.btn.btn-primary(href="subscribe/#{group.id}") Gruppe beitreten
