extend ../../../views/layout

block title
    | #{group.longName}

block content
  .span12
    .page-header
      h1 #{group.longName}
        small  #{group.type}

    p Beschreibung: #{group.description}

    h3 Mitglieder der Gruppe:
    ul
      each member in users
        li #{member.firstname} #{member.lastname}

    - if (userIsRegistered)
      - if (userIsGroupMember)
        a(href="/unsubscribe/#{group.id}", class="btn btn-primary") Gruppe verlassen
      - else
        a(href="/subscribe/#{group.id}", class="btn btn-primary") Gruppe beitreten
