extend ../../../views/layout

block title
  | #{title}

block content
  h1 #{title}

  ul
    li: a(href='#{baseUrl}/lists') Die angelegten Listen
    li: a(href='#{baseUrl}/users') Die User der Liste neueplattform
    li: a(href='#{baseUrl}/subscribed') Die Listen, in denen Nicole subscribed ist