extends ../../../views/layout

block title
  | Übersicht der Gruppen

block content
  .row-fluid
    .span12
      .page-header
        h2 Gruppen&nbsp;
          small Alle
          if (typeof(user) !== 'undefined' && user.member.isAdmin)
            a.pull-right.btn(href="new/"): i.icon-file
  .row-fluid
    .span6
      h3 Regionalgruppen
      ul.unstyled
        each group in regionalgroups
          li: strong: a.group(href="#{group.id}") #{group.longName}&nbsp;
            span.badge(style="background-color: #{group.color}") #{group.members.length} Mitglieder
    .span6
      h3 Themengruppen
      ul.unstyled
        each group in themegroups
          li: strong: a.group(href="#{group.id}") #{group.longName}&nbsp;
            span.badge(style="background-color: #{group.color}") #{group.members.length} Mitglieder
