extends ../../../views/layout

block title
  | Übersicht der Gruppen

block content
  .row-fluid
    .span12
      .page-header
        h2 Gruppen&nbsp;
          small Alle
          if (typeof(user) !== 'undefined' && user.member.isAdmin)
            a.pull-right.btn(href="new/"): i.icon-file
  .row-fluid
    .span6
      h3 Regionalgruppen
      dl.dl-horizontal
        each group in regionalgroups
          dt
            strong: a.group(href="#{group.id}") #{group.longName}&nbsp;
            span.badge(style="background-color: #{group.color}") #{group.members.length}
          dd Schicke eine Nachricht an: 
            span.mailtoify #{group.id}@softwerkskammer.org
    .span6
      h3 Themengruppen
      dl.dl-horizontal
        each group in themegroups
          dt
            strong: a.group(href="#{group.id}") #{group.longName}&nbsp;
            span.badge(style="background-color: #{group.color}") #{group.members.length}
          dd Schicke eine Nachricht an: 
            span.mailtoify #{group.id}@softwerkskammer.org
