extends ../../../views/layout

block title
  | Übersicht der Gruppen

block content
  .row
    .col-md-12
      .page-header
        h2 Gruppen&nbsp;
          .btn-group.pull-right
            if (typeof(user) !== 'undefined' && user.member.isAdmin)
              a.btn.btn-default(href="new/", title="Neue Gruppe"): i.icon-file
          small Alle
    .col-md-6
      h3 #{regionalgroups.length} Regionalgruppen

      ul.unstyled
        each group in regionalgroups
          li
            span.label(style="background-color: #{group.color};min-width:30px;text-align:right;display:inline-block") #{group.members.length}
            |  &nbsp;
            strong: a.group(href="#{group.id}") &nbsp; #{group.longName}
    .col-md-6
      h3 #{themegroups.length} Themengruppen
      
      ul.unstyled
        each group in themegroups
          li 
            span.label(style="background-color: #{group.color};min-width:30px;text-align:right;display:inline-block") #{group.members.length}
            |  &nbsp;
            strong: a.group(href="#{group.id}") #{group.longName}
