extends ../../../views/layout


mixin grouplist(title, groupsOfAKind)
    h3 #{groupsOfAKind.length} #{title}
    ul.unstyled
      each group in groupsOfAKind
        li
          span.label(style="background-color: #{group.color}; min-width:30px; text-align:right; display:inline-block") #{group.members.length}
          | &nbsp;&nbsp;
          strong: a.group(href="#{group.id}") 
            span.popover-highlight(rel="tooltip-in-body", data-content="#{group.descriptionHTMLFiltered('img')}") #{group.longName}

mixin placeGroupLabels(groupsOfAKind)
    each group in groupsOfAKind
      if (group.mapX && group.mapY && group.shortName)
        strong: a.group(href="#{group.id}")
          .label(style="background-color: #{group.color}; top: #{group.mapYrelative()}%; left: #{group.mapXrelative()}%;  padding: .3em .4em .2em .4em; position:absolute")
            span(rel="tooltip-in-body", data-title="<h4>#{group.longName}</h4>", data-content="#{group.descriptionHTMLFiltered('img')}") #{group.shortName}

block title
  | Übersicht der Gruppen

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          if (typeof(user) !== 'undefined' && user.member.isAdmin)
            a.btn.btn-default(href="new/", title="Neue Gruppe"): i.icon-file
        h2 Gruppen&nbsp;
          small Alle
  .row
    .col-md-6
      mixin grouplist('Regionalgruppen', regionalgroups)
      mixin grouplist('Themengruppen', themegroups)
    .col-md-6.visible-xs.visible-sm.groupsmap(style="font-size: 1.1em; position: relative; width: 100%; height: 100px; background-image:url('/img/map.svg'); background-size: 100% 100%; background-repeat: no-repeat;")
      mixin placeGroupLabels(regionalgroups)
    .col-md-6.hidden-xs.hidden-sm.groupsmap(style="font-size: 1.1em; position: relative; width: 50%; height: 100px; background-image:url('/img/map.svg'); background-size: 100% 100%; background-repeat: no-repeat;")
      mixin placeGroupLabels(regionalgroups)
  script.
    function adjustMapsize() {
      $('.groupsmap').each(function() {$(this).height(1.289 * $(this).width()); })
    }
    $(document).ready(adjustMapsize);
    $.event.add(window, "resize", adjustMapsize);

