extends ../../../views/layout

mixin grouplist(title, groupsOfAKind)
  .col-md-6
    h3 #{groupsOfAKind.length} #{title}
    ul.unstyled
      each group in groupsOfAKind
        li
          span.label(style="background-color: #{group.color};min-width:30px;text-align:right;display:inline-block") #{group.members.length}
          | &nbsp;
          strong: a.group(href="#{group.id}") &nbsp; #{group.longName}


block title
  | Übersicht der Gruppen

block content
  .row
    .col-md-12
      .page-header
        h2 Gruppen&nbsp;
          .btn-group.pull-right
            if (typeof(user) !== 'undefined' && user.member.isAdmin)
              a.btn.btn-default(href="new/", title="Neue Gruppe"): i.icon-file
          small Alle
    mixin grouplist('Regionalgruppen', regionalgroups)
    mixin grouplist('Themengruppen', themegroups)
