doctype html
html
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 #{t('authentication.authentication')}
  .modal-body
    .row
      .col-md-12
        p #{t('authentication.authentication_text')}
    .row
      .col-md-4
        a.btn.btn-default.btn-block(href='/auth/openidconnect?returnTo=' + encodeURIComponent(returnUrl))
          img(src='/img/googleplus.ico', alt='google', width='16', height='16')
          | &nbsp;Google
      .col-md-4
        a.btn.btn-default.btn-block(href='/auth/github?returnTo=' + encodeURIComponent(returnUrl))
          img(src='/img/github.ico', alt='github', width='16', height='16')
          | &nbsp;Github
      .col-md-4
        a.btn.btn-default.btn-block(href='/auth/openid?openid_identifier=' + encodeURIComponent('https://openid.stackexchange.com') + '&returnTo=' + encodeURIComponent(returnUrl))
          img(src='/img/stackexchange.ico', alt='stackexchange', width='16', height='16')
          | &nbsp;StackExchange
    .row
      .col-md-12
        form(action='/auth/openid', method='get')
          p &nbsp; 
          input(type='hidden', name='returnTo', value=returnUrl)
          .panel.panel-default
            .panel-heading
              a.accordion-toggle(href='#openIDinput', data-toggle='collapse') #{t('authentication.alternative_url')}:
            #openIDinput.collapse.panel-collapse
              .input-group
                input.form-control(id='openid_identifier', type='text', name='openid_identifier')
                .input-group-btn
                  button.btn.btn-default(type='submit') #{t('authentication.authenticate')}
