.modal-header
  h3.modal-title #{t('authentication.password_dialog_title')}
  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
.modal-body
  .row
    .col-12
      form#passwordform(action='/members/updatePassword', method='post')
        input(type='hidden', name='_csrf', value=csrf_token)
        input(type='hidden', name='id', value=user.member.id())
        .row
          .col-6
            label.control-label(for='password') #{t('authentication.password')}:
            input#password.form-control.trim-text(type='password', name='password', value='')
          .col-6
            .form-group
              label.control-label(for='password2') #{t('authentication.password_repeat')}:
              input#password2.form-control.trim-text(type='password', name='password2', value='')
        .row
          .col-12
            .btn-group.float-right
              button.btn.btn-primary(type='submit') #{t('general.save')}

script.
  $(document).ready(function () {
    user_validator = $('#passwordform').validate({
      rules: {
        password: {
          required: true,
          minlength: 5
        },
        password2: {
          required: true,
          minlength: 5,
          equalTo: '#password'
        }
      },
      errorPlacement: function (error, element) { error.insertAfter(element); },
      errorElement: 'span',
      errorClass: 'help-block text-danger',
      highlight: function (element) { $(element).addClass('is-invalid'); },
      unhighlight: function (element) { $(element).removeClass('is-invalid'); }
    });

    user_validator.form();

    function handler(each) {
      return function () {
        user_validator.element(each);
      };
    }

    ['#passwordform [name=password]', '#passwordform [name=password2]'].forEach(
      function (each) {
        $(each).change(handler(each));
        $(each).keyup(handler(each));
      }
    );
  });
