extends ../../../views/layoutNoFooter

block title
  | #{subdir} (#{t('wiki.subwiki')})

block content
  .page-header
    .btn-group.pull-right
      a.btn.btn-default(href='javascript:history.back()', type='cancel') #{t('general.back')}
    h2 #{t('wiki.overview')} "#{subdir}"

  table.history.table.table-striped.table-bordered.table-hover.table-condensed
    each item in items
      tr: td: a(href='/wiki/' + item.fullname) #{item.name}
