mixin visitorCount(anzahl)
  p Bislang
    if (anzahl === 0)
      |  gibt es keine Teinahmezusagen.
    else if (anzahl === 1)
      |  hat ein Mitglied seine Teilnahme zugesagt.
    else
      |  haben #{anzahl} Mitglieder ihre Teilnahme zugesagt.


mixin subscriptionButtons(registeredMembers, url, resource, currentMemberId, totalNumberOfResources)
  if (totalNumberOfResources === 1)
    if (registeredMembers.indexOf(currentMemberId) > -1)
      a.btn.btn-default(href="unsubscribe/#{encodeURIComponent(url)}/#{encodeURIComponent(resource)}") Ich kann doch nicht…
    else
      a.btn.btn-primary(href="subscribe/#{encodeURIComponent(url)}/#{encodeURIComponent(resource)}") Ich bin dabei!

  else
    form.form-horizontal
      .form-group
        label.control-label.col-xs-6(style="text-align: left;") #{resource}:
        if (registeredMembers.indexOf(currentMemberId) > -1)
          a.col-xs-6.btn.btn-default(href="unsubscribe/#{encodeURIComponent(url)}/#{encodeURIComponent(resource)}") Absagen
        else
          a.col-xs-6.btn.btn-primary(href="subscribe/#{encodeURIComponent(url)}/#{encodeURIComponent(resource)}") Anmelden
