mixin visitorCount(anzahl)
  p Bislang
    if (anzahl === 0)
      |  gibt es keine Teinahmezusagen.
    else if (anzahl === 1)
      |  hat ein Mitglied seine Teilnahme zugesagt.
    else
      |  haben #{anzahl} Mitglieder ihre Teilnahme zugesagt.


mixin subscriptionButtons(activity, resourceName, currentMemberId)
  registeredMembers = activity.registeredMembers(resourceName)
  url = encodeURIComponent(activity.url())
  limit = activity.resources().named(resourceName).limit()
  registrationOpen = activity.registrationOpenFor(resourceName)

  if (activity.resourceNames().length === 1)
    if (registeredMembers.indexOf(currentMemberId) > -1)
      a.btn.btn-default(href="unsubscribe/#{url}/#{encodeURIComponent(resourceName)}") Ich kann doch nicht…
    else if (registrationOpen && !activity.isFull(resourceName))
        a.btn.btn-primary(href="subscribe/#{url}/#{encodeURIComponent(resourceName)}") Ich bin dabei!
    else
      if (limit === 0)
        | Für dieses Event kannst Du Dich nicht bei der Softwerkskammer anmelden.
      else if (!registrationOpen && (!limit || !!limit && registeredMembers.length === 0))
        | Anmeldung ist zur Zeit nicht möglich.
      else
        | Alle Plätze sind belegt.

  else
    form.form-horizontal
      .form-group
        label.control-label.col-xs-6(style="text-align: left;") #{resourceName}:
        if (registeredMembers.indexOf(currentMemberId) > -1)
          a.col-xs-6.btn.btn-default(href="unsubscribe/#{url}/#{encodeURIComponent(resourceName)}") Absagen
        else if (registrationOpen && !activity.isFull(resourceName))
          a.col-xs-6.btn.btn-primary(href="subscribe/#{url}/#{encodeURIComponent(resourceName)}") Anmelden
        else
          if (limit === 0)
            span.control-label.col-xs-6(style="text-align: center;") Anmeldung nicht über die Softwerkskammer möglich.
          else if (!registrationOpen && (!limit || !!limit && registeredMembers.length === 0))
            span.control-label.col-xs-6(style="text-align: center;") Anmeldung ist zur Zeit nicht möglich.
          else
            span.control-label.col-xs-6(style="text-align: center;") Alle Plätze sind belegt.
