extends ../../../views/layout
include  ../../../views/formComponents
block scripts
  script(src="/clientscripts/activityDateModel.js")
  script(src="/clientscripts/activityform-dateAdapter.js")
  script(src="/clientscripts/check-activityform.js")
  script(src="/clientscripts/moment.js")
  script(src="/clientscripts/inputHelpers.js")

block title
  | Aktivität

block content
  form(id='activityform', action='/activities/submit', method='post')
    if (activity.id)
      mixin hidden('id', activity)
    mixin hidden('previousUrl', activity, 'url')
    mixin hidden('registeredMembers', activity)
    fieldset
      .row
        .col-md-12
          legend
            | Aktivität
            if (activity.id)
              |  bearbeiten
            else
              |  anlegen

      .row
        .col-md-6
          mixin text('title', 'Titel', activity, 'Kurz und knackig für Übersichten')
          .row
            .col-md-3
              mixin date('startDate', 'Start', activity, activity.startDate(), 'Enddatum und -uhrzeit werden automatisch verschoben (die Dauer bleibt gleich)')
            .col-md-3
              mixin time('startTime', '&nbsp;', activity, activity.startTime())
            .col-md-3
              mixin date('endDate', 'Ende', activity, activity.endDate(), 'Hiermit kannst Du die Dauer verändern')
            .col-md-3
              mixin time('endTime', '&nbsp;', activity, activity.endTime())
          mixin textarea('description', 'Beschreibung', activity)
        .col-md-6
          .form-group
            button.btn.btn-default.btn-xs.pull-right(type="button", onclick="fillUrlFromText('url', 'title')") 
              | Vorschlag
            mixin controlLabel('url', 'Adress-Suffix', 'Für die Verlinkung innerhalb dieser Site')
            input.form-control(id='url', type='text', name='url', value=activity['url'])
          mixin text('location', 'Veranstaltungsort', activity)
          mixin textarea('direction', 'Wegbeschreibung', activity)
          .form-group
            label.control-label(for="assignedGroup") Gruppe:
            select#assignedGroup.form-control(name="assignedGroup")
              for group in groups
                option(value=group.id, selected = (activity.assignedGroup != undefined && activity.assignedGroup == group.id)) #{group.longName}
          .form-group
            label.control-label(for="type") Farbe:
            select#type.form-control(name="color")
              for color in colorlist
                option(selected=activity.color === color) #{color}

      .row
        .col-md-12
          button.btn.btn-primary.pull-right(type="submit") Speichern
          a.btn.btn-default.pull-right(href="javascript:history.back()", type="cancel") Zurück
