extends ../../../views/layout
include  ../../../views/formComponents

mixin resourceRow(name, limit, registrationOpen)
  .row.form-group
    .col-xs-6.col-sm-8
      input.form-control(name="resources[names]", value=name, type="text", placeholder="Bezeichnung")
    .col-xs-3.col-sm-2
      input.form-control(name="resources[limits]", value=limit, type="text", placeholder="unbegrenzt")
    .col-xs-3.col-sm-2
      .checkbox
        input(name="resources[registrationOpen]", value=registrationOpen, type="checkbox", checked=(registrationOpen ? "true" : undefined))
        | möglich

block scripts
  script(src="/clientscripts/moment.min.js")
  script(src="/clientscripts/activityDateModel.js")
  script(src="/clientscripts/activityform-dateAdapter.js")
  script(src="/clientscripts/check-activityform.js")
  script(src="/clientscripts/activityResources.js")
  script#resource-template(type="text/html")
    mixin resourceRow(undefined, undefined, true)
  script.
    function fillUrlFromText (urlId, textId) {
      var title = document.getElementById(textId).value;
      var urlContent = encodeURIComponent(title.replace(/^\s\s*/, '').replace(/\s\s*$/, '').replace(/[ #,!?ßöäü:"']/gi, '_'));
      //- " <- help syntax highlighting by closing open quotes
      var urlInput = $('#' + urlId);
      urlInput.val(urlContent);
      urlInput.change();
      urlInput.focus();
    }

block title
  | Aktivität

block content
  form(id='activityform', action='/activities/submit', method='post')
    if (activity.id())
      mixin hiddenWithValue('id', activity.id())
    mixin hiddenWithValue('previousUrl', activity.url())
    fieldset
      .row
        .col-md-12
          legend
            | Aktivität
            if (activity.id())
              |  bearbeiten
            else
              |  anlegen

      .row
        .col-md-6
          mixin textWithValue('title', 'Titel', activity.title(), 'Kurz und knackig für Übersichten')
          .row
            .col-xs-6(style="padding-right:5px")
              .col-xs-6(style="padding-left:0px;padding-right:3px")
                mixin date('startDate', 'Start', activity, activity.startDate(), 'Enddatum und -uhrzeit werden automatisch verschoben (die Dauer bleibt gleich)')
              .col-xs-6(style="padding-left:3px;padding-right:0px")
                mixin time('startTime', '&nbsp;', activity, activity.startTime())
            .col-xs-6(style="padding-left:5px")
              .col-xs-6(style="padding-left:0px;padding-right:3px")
                mixin date('endDate', 'Ende', activity, activity.endDate(), 'Hiermit kannst Du die Dauer verändern')
              #dates.col-xs-6(style="padding-left:3px;padding-right:0px")
                mixin time('endTime', '&nbsp;', activity, activity.endTime())
          mixin textareaWithValue('description', 'Beschreibung', activity.description())
        .col-md-6
          .form-group
            button.btn.btn-default.btn-xs.pull-right(type="button", onclick="fillUrlFromText('url', 'title')") 
              | Vorschlag
            mixin controlLabel('url', 'Adress-Suffix', 'Für die Verlinkung innerhalb dieser Site')
            input.form-control(id='url', type='text', name='url', value=activity.url())
          mixin textWithValue('location', 'Veranstaltungsort', activity.location())
          mixin textareaWithValue('direction', 'Wegbeschreibung', activity.direction())
          .form-group
            label.control-label(for="assignedGroup") Gruppe:
            select#assignedGroup.form-control(name="assignedGroup")
              for group in groups
                option(value=group.id, selected = (activity.assignedGroup() != undefined && activity.assignedGroup() == group.id)) #{group.longName}

      .row
        .col-md-12
          #resources
            legend Ressourcen
            .row
              .col-xs-6.col-sm-8
                mixin controlLabel("bezeichnung", "Bezeichnung", "Name der zu buchenden Einheit (z. B. Einzelzimmer, Doppelzimmer)")
              .col-xs-3.col-sm-2
                mixin controlLabel("anzahl", "Anzahl", "Maximale Teilnehmerzahl (keine Beschränkung bei leerem Feld, keine Registrierung möglich bei 0)")
              .col-xs-3.col-sm-2
                mixin controlLabel("registrierung", "Anmeldung", "Hiermit lässt sich die Registrierung freigeben oder sperren")
            each name in activity.resourceNames()
              - var resource = activity.resources().named(name)
              mixin resourceRow(name, resource.limit(), resource.registrationOpen())
              mixin hiddenWithValue("resources[previousNames]", name)
            .row.form-group
              .col-md-12
                button.add.btn.btn-sm.btn-default(type="button")
                  i.fa.fa-plus
                  | Ressource
      .row
        .col-md-12
          button.btn.btn-primary.pull-right(type="submit") Speichern
          a.btn.btn-default.pull-right(href="javascript:history.back()", type="cancel") Zurück
