extends ../../../views/layout

mixin text(name, label)
  .control-group
    label(class="control-label", for=name) #{label}:
    input(id=name, class="input-block-level input-xlarge", type='text', name=name, value=activity[name])
mixin textarea(name, label)
  .control-group
    label(class="control-label", for=name) #{label}:
    textarea(rows="4", class="input-block-level input-xxlarge", id=name, type='text', name=name)
      | #{activity[name]}
mixin date(name, label)
  .control-group
    label(class="control-label", for=name) #{label}:
    input(id=name, class="input-block-level input-xlarge datepicker", type='text', name=name, value=activity[name])
mixin time(name, label)
  .control-group.bootstrap-timepicker
    label(class="control-label", for=name) #{label}:
    input(id=name, class="input-block-level input-xlarge timepicker", type='text', name=name, value=activity[name])

block scripts
  script(src="/clientscripts/jquery.validate-1.11.1.js")
  script(src="/clientscripts/messages_de.js")
  script(src="/clientscripts/methods_de.js")
  script(src="/clientscripts/bootstrap-datepicker.de.js")
  script(src="/clientscripts/bootstrap-timepicker.js")
  script(src="/clientscripts/check-activityform.js")

block title
  | Aktivität

block content
  .container
    form(id='activityform', action='/activities/submit',method='post')
      fieldset
        .span12
          legend
            | Aktivität
        .span6
          .control-group
            label(class="control-label", for="assignedGroup") Gruppe:
            select(id="assignedGroup", class="input-block-level input-xlarge", name="assignedGroup", disabled=activity.assignedGroup != undefined)
              for group in groups
                if activity.assignedGroup != undefined && activity.assignedGroup == group.id
                  option(value=group.id, selected)  #{group.longName}
                else
                  option(value=group.id)  #{group.longName}
          mixin text('title', 'Titel')
          mixin date('activityDate', 'Datum')
          mixin time('startTime', 'Uhrzeit')
        .span6
          mixin text('location', 'Veranstaltungsort')
          mixin textarea('description', 'Beschreibung')
          mixin textarea('direction', 'Wegbeschreibung')

        .span12
          button(class="btn btn-primary", type="submit") Speichern
          a(href="javascript:history.back()", class="btn", type="cancel") Zurück
