extends ../../../views/layout
block title
  | Aktivitäten

block content
  .span12
    .page-header
      h2  
        if (typeof(user) !== 'undefined' && user.member.isAdmin)
          a.btn.btn-mini(href="/activities/edit/#{activity.url}")
            i.icon-edit
          | &nbsp
        | #{activity.title} 
        small #{activity.startDate} (#{activity.startTime}
          if (activity.endDate && activity.endDate !== activity.startDate)
            | ) - #{activity.endDate} (#{activity.endTime})
          else (activity.endTime)
            |  - #{activity.endTime})
      p
        strong #{activity.groupName(groups)}
  .row-fluid
    .span8
      h3 Beschreibung
      p !{activity.descriptionHTML()}
      h3 Ort
      p #{activity.location}
      h4 Wegbeschreibung: 
      p !{activity.directionHTML()}

block scripts
  script
    $(document).ready(function () {
      $('#calendar').fullCalendar('select', $.fullCalendar.parseDate(#{activity.startUnix}), $.fullCalendar.parseDate(#{activity.endUnix()}), true);      
    });
  
