extends ../../../views/layout
include ../../members/views/memberlist-mixin
include ../../../views/googlemaps-component
include ../../../views/formComponents
include activities-mixins

block title
  | #{activity.title} - Aktivitäten

block opengraph
  meta(property="og:description", content!=activity.descriptionPlain().substring(0,500))
  meta(property="og:title", content=activity.title)

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          a.btn.btn-default(href="/activities/ical/#{encodeURIComponent(activity.url)}", title="Für Kalender exportieren"): i.icon-calendar
          a.btn.btn-default(href="/mailsender/invitation/#{encodeURIComponent(activity.url)}", title="Einladung versenden"): i.icon-envelope
          a.btn.btn-default(href="/activities/newLike/#{encodeURIComponent(activity.url)}", title="Neu auf Basis dieser Aktivität"): i.icon-copy
          if (typeof(user) !== 'undefined' && user.member.isAdmin)
            a.btn.btn-default(href="/activities/edit/#{encodeURIComponent(activity.url)}", title="Bearbeiten"): i.icon-edit
        h2 #{activity.title}
          br
          small #{activity.startDate()} (#{activity.startTime()}
            if (activity.endDate() && activity.endDate() !== activity.startDate())
              |  Uhr) - #{activity.endDate()} (#{activity.endTime()} Uhr)
            else 
              |  - #{activity.endTime()} Uhr)
  .row
    .col-md-12
      !{activity.descriptionHTML()}
      hr
  .row
    .col-md-6
      h3 Adresse:
      p #{activity.location}
      if (activity.hasDirection())
        h4 Wegbeschreibung: 
        !{activity.directionHTML()}
      hr
      div.hidden-print
        mixin visitorCount(visitors.length)
        if (typeof(user) !== 'undefined' && user.member)
          each resourceName in activity.resourceNames()
            mixin subscriptionButtons(activity.registeredMembers(resourceName), activity.url, resourceName, user.member.id)
          h4 Zugesagt haben:
          mixin memberlist(visitors)

      hr.hidden-print
      p.hidden-print Veranstaltet von der Gruppe: #{activity.groupNameFrom(groups)}
    .col-md-6
      mixin map(activity.location, '100%', '450px')

block scripts
  script.
    $(document).ready(function () {
      $('#calendar').fullCalendar('select', $.fullCalendar.parseDate(#{activity.startMoment().unix()}), $.fullCalendar.parseDate(#{activity.endMoment().unix()}), true);
    });
  
