extends ../../../views/layout
include ../../members/views/memberlist-mixin
include ../../../views/googlemaps-component
include ../../../views/formComponents

block title
  | #{activity.title} - Aktivitäten

block opengraph
  meta(property="og:description", content!=activity.descriptionHTMLWithoutAnchors())
  meta(property="og:title", content=activity.title)

block content
  .row
    .col-md-12
      .page-header
        h2 #{activity.title}
          .btn-group.pull-right
            a.btn.btn-default(href="/activities/ical/#{encodeURIComponent(activity.url)}", title="Für Kalender exportieren"): i.icon-calendar
            a.btn.btn-default(href="/mailsender/invitation/#{encodeURIComponent(activity.url)}", title="Einladung versenden"): i.icon-envelope
            a.btn.btn-default(href="/activities/newLike/#{encodeURIComponent(activity.url)}", title="Neu auf Basis dieser Aktivität"): i.icon-copy
            if (typeof(user) !== 'undefined' && user.member.isAdmin)
              a.btn.btn-default(href="/activities/edit/#{encodeURIComponent(activity.url)}", title="Bearbeiten"): i.icon-edit
          br
          small #{activity.startDate()} (#{activity.startTime()}
            if (activity.endDate() && activity.endDate() !== activity.startDate())
              |  Uhr) - #{activity.endDate()} (#{activity.endTime()} Uhr)
            else (activity.endTime())
              |  - #{activity.endTime()} Uhr)
  .row
    .col-md-12
      !{activity.descriptionHTML()}
      hr
  .row
    .col-md-6
      h3 Adresse:
      p #{activity.location}
      h4 Wegbeschreibung: 
      !{activity.directionHTML()}
      hr
      div.hidden-print
        if (typeof(user) !== 'undefined' && user.member)
          h4 Zugesagt haben:
          mixin memberlist(visitors)
          if (visitors.length > 0 && activity.registeredMembers.indexOf(user.member.id) > -1)
            a.btn.btn-primary(href="unsubscribe/#{encodeURIComponent(activity.url)}") Ich kann doch nicht…
          else
            a.btn.btn-primary(href="subscribe/#{encodeURIComponent(activity.url)}") Ich bin dabei!
        else
          p Bislang
            if (visitors.length === 0)
              |  gibt es keine Teinahmezusagen.
            else if (visitors.length === 1)
              |  hat ein Mitglied seine Teilnahme zugesagt.
            else
              |  haben #{visitors.length} Mitglieder ihre Teilnahme zugesagt.
        
      hr.hidden-print
      p.hidden-print Veranstaltet von der Gruppe: #{activity.groupName(groups)}
    .col-md-6
      mixin map(activity.location, '100%', '450px')

block scripts
  script
    $(document).ready(function () {
      $('#calendar').fullCalendar('select', $.fullCalendar.parseDate(#{activity.startUnix}), $.fullCalendar.parseDate(#{activity.endUnix}), true);
    });
  
