extends ../../../views/layout
include ../../members/views/memberlist-mixin
include ../../../views/googlemaps-component
include ../../../views/formComponents
include activities-mixins

block title
  | #{activity.title()} - Aktivitäten

block opengraph
  meta(property="og:description", content=activity.descriptionPlain().substring(0,500))
  meta(property="og:title", content=activity.title())

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          a.btn.btn-default(href="/activities/ical/#{encodeURIComponent(activity.url())}", title="Für Kalender exportieren"): i.fa.fa-calendar.fa-fw
          if (accessrights.canCreateActivity())
            a.btn.btn-default(href="/activities/newLike/#{encodeURIComponent(activity.url())}", title="Neu auf Basis dieser Aktivität"): i.fa.fa-copy.fa-fw
          if (accessrights.canEditActivity(activity))
            a.btn.btn-default(href="/mailsender/invitation/#{encodeURIComponent(activity.url())}", title="Einladung versenden"): i.fa.fa-envelope-o.fa-fw
            a.btn.btn-default(href="/activities/edit/#{encodeURIComponent(activity.url())}", title="Bearbeiten"): i.fa.fa-edit.fa-fw
        h2 #{activity.title()}
          br
          small #{activity.startDate()} (#{activity.startTime()}
            if (activity.endDate() && activity.endDate() !== activity.startDate())
              |  Uhr) - #{activity.endDate()} (#{activity.endTime()} Uhr)
            else 
              |  - #{activity.endTime()} Uhr)
  .row
    .col-md-12
      !{activity.descriptionHTML()}
      hr
  .row
    .col-md-6
      h3 Adresse:
      p #{activity.location()}
      if (activity.hasDirection())
        h4 Wegbeschreibung: 
        !{activity.directionHTML()}
      hr
      div.hidden-print
        mixin visitorCount(activity.visitors.length)
        each resourceName in activity.resourceNames()
          mixin subscriptionButtons(activity, resourceName, currentUserId)
        if (accessrights.isRegistered() && activity.visitors.length > 0)
          h4 Zugesagt haben:
          mixin memberlist(activity.visitors)

      if (activity.group)
        hr.hidden-print
        p.hidden-print Veranstaltet von der Gruppe&nbsp;
          a(href="/groups/#{activity.group.id}") #{activity.group.longName}
          if(activity.ownerNickname)
            | &nbsp;- Angelegt von&nbsp;
            a(href="/members/#{activity.ownerNickname}") #{activity.ownerNickname}
    .col-md-6
      mixin map(activity.location(), '100%', '450px')

block scripts
  script.
    displayedActivityStart = $.fullCalendar.parseDate(#{activity.startMoment().unix()});
    displayedActivityEnd = $.fullCalendar.parseDate(#{activity.endMoment().unix()});
  
