extends ../../../views/layout
block title
  | Aktivitäten

block content
  .row-fluid
    .span12
      .page-header
        h2 #{activity.title} <br> 
          small #{activity.startDate} (#{activity.startTime}
            if (activity.endDate && activity.endDate !== activity.startDate)
              |  Uhr) - #{activity.endDate} (#{activity.endTime} Uhr)
            else (activity.endTime)
              |  - #{activity.endTime} Uhr)
          if (typeof(user) !== 'undefined' && user.member.isAdmin)
            a.pull-right.btn(href="/activities/edit/#{encodeURIComponent(activity.url)}"): i.icon-edit
  .row-fluid
    .span8
      !{activity.descriptionHTML()}
      hr
      h3 Adresse:
      p #{activity.location}
      h4 Wegbeschreibung: 
      p !{activity.directionHTML()}
      hr
      p Veranstaltet von der Gruppe: #{activity.groupName(groups)}

block scripts
  script
    $(document).ready(function () {
      $('#calendar').fullCalendar('select', $.fullCalendar.parseDate(#{activity.startUnix}), $.fullCalendar.parseDate(#{activity.endUnix()}), true);      
    });
  
