extends ../../../views/layout

block title
  | Aktivit채ten

block content
  .row-fluid
    .span12
      .page-header
        h2 Aktivit채ten&nbsp;
          small #{range}
            if typeof(user) !== 'undefined' && user.member.isAdmin
              a.pull-right.btn(href="new/", title="Neue Aktivit채t"): i.icon-file
            a.pull-right.btn(href="ical/", title="F체r Kalender exportieren. Zum Abo: URL in Kalenderprogramm abonnieren"): i.icon-calendar
      dl.dl-horizontal
        for activity in activities
          dt
            | #{activity.startDate()} 
          dd
            a(href='#{encodeURIComponent(activity.url)}') #{activity.title} in #{activity.location} 
            a(href='/groups/#{activity.assignedGroup}') 
              span.badge(style="background-color: #{activity.colorFrom(groupColors, colors)};min-width:20px;text-align:right;") #{activity.groupName(groups)}
