extends ../../../views/layout

block title
  | Aktivitäten

block content
  .row-fluid
    .span12
      .page-header
        h2 Aktivitäten&nbsp;
          small #{range}
          a.pull-right.btn(href="ical/", title="In Kalender importieren"): i.icon-calendar
          if typeof(user) !== 'undefined' && user.member.isAdmin
            a.pull-right.btn(href="new/", title="Neue Aktivität"): i.icon-file
      dl.dl-horizontal
        for activity in activities
          dt
            | #{activity.startDate()} 
          dd: a(href='#{encodeURIComponent(activity.url)}') #{activity.title}
            | in #{activity.location} (#{activity.groupName(groups)})
