extends ../../../views/layout

block title
  | #{i18n.__("activity")}

block content
  .row-fluid
    .span12
      .page-header
        h2 #{i18n.__("activity")}&nbsp;
          small #{range}
          if typeof(user) !== 'undefined' && user.member.isAdmin
            a.pull-right.btn(href="new/", title='#{i18n.__("activity_new")}'): i.icon-file
      dl.dl-horizontal
        for activity in activities
          dt
            | #{activity.startDate()} 
          dd: a(href='#{encodeURIComponent(activity.url)}') #{activity.title}
            | in #{activity.location} (#{activity.groupName(groups)})
