extends ../../../views/layout

block title
  | Aktivit채ten

block content
  .row
    .col-md-12
      .page-header
        h2 Aktivit채ten&nbsp;
          .btn-group.pull-right
            a.btn.btn-default(href="ical/", title="F체r Kalender exportieren. Zum Abo: URL in Kalenderprogramm abonnieren"): i.icon-calendar
            if typeof(user) !== 'undefined' && user.member.isAdmin
              a.btn.btn-default(href="new/", title="Neue Aktivit채t"): i.icon-file
          small
            .btn-group(style="height: 40px;")
              a.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                | #{range} &nbsp;
                span.caret
              ul.dropdown-menu
                li: a(href="/activities/upcoming") Kommende
                li: a(href="/activities/past") Vergangene
                li: a(href="/activities") Alle
      dl.dl-horizontal
        for activity in activities
          dt
            | #{activity.startDate()} 
          dd
            a(href='/groups/#{activity.assignedGroup}')
              span.label(style="background-color: #{activity.colorFrom(groupColors, colors)}") #{activity.groupName(groups)}
            |  &nbsp;
            a(href='#{encodeURIComponent(activity.url)}') #{activity.title} 
