extends ../../../views/layoutOnlyMain
include ../../members/views/memberlist-mixin

mixin localdate(momentOrNull)
  | #{momentOrNull ? momentOrNull.lang(language).format('L') : '-'}

mixin buttonOrDate(momentOrNull, paymentDone, activityUrl, nickname)
  if (momentOrNull)
    | #{momentOrNull.lang(language).format('L')}
  else
    a.btn.btn-primary.btn-xs.btn-block(id='#{encodeURIComponent(nickname) + "-button"}',
      href='javascript:paymentDone(\'#{"/activities/paymentReceived/" + encodeURIComponent(activityUrl) + "/" + encodeURIComponent(nickname)}\', \'#{encodeURIComponent(nickname) + "-button"}\')') Erhalten…

block scripts
  script(src='/clientscripts/jquery.dataTables.min.js')
  script.
    function paymentDone(url, buttonid) {
      $.ajax({ url: url }).done(function(data) {
        $('#' + buttonid).parent().html(data);
      });
    }
  script.
    $(document).ready(function() {
      $('.addontable').dataTable({
        oLanguage: {
          sUrl: tableLangUrl
        },
        aoColumns: [
          { sType: 'date-eu' }, null, null, null, null, null, null, null, { sType: 'date-eu' }, { sType: 'date-eu' }, { sType: 'date-eu' }
        ],
        bPaginate: false,
        bAutoWidth: false,
        bFilter: false,
        aaSorting: [[ 4 , 'asc' ]],
        bStateSave: false
      });
    });
    $(document).ready(function() {
      $('.membertable').dataTable({
        oLanguage: {
          sUrl: tableLangUrl
        },
        aoColumns: [
          { sType: 'date-eu' }, null, null, null, null
        ],
        bPaginate: false,
        bAutoWidth: false,
        bFilter: false,
        aaSorting: [[ 0 , 'asc' ]],
        bStateSave: false
      });
    });
    $(document).ready(function() {
      $('.missingtable').dataTable({
        oLanguage: {
          sUrl: tableLangUrl
        },
        aoColumns: [
          { sType: 'date-eu' }, null, null, null, null, null, null
        ],
        bPaginate: false,
        bAutoWidth: false,
        bFilter: false,
        aaSorting: [[ 0 , 'asc' ]],
        bStateSave: false
      });
    });
    $(document).ready(function() {
      $('.tshirttable').dataTable({
        oLanguage: {
          sUrl: tableLangUrl
        },
        aoColumns: [
          null, null
        ],
        bPaginate: false,
        bAutoWidth: false,
        bFilter: false,
        aaSorting: [],
        bStateSave: false
      });
    });


block title
  | #{activity.title()} - Verwaltung

block content
  .row
    .col-md-12
      .page-header
        h2 #{activity.title()} - Verwaltung
          a.btn.pull-right.btn-default(href='#{"/activities/" + encodeURIComponent(activity.url())}') Zurück
  ul.nav.nav-tabs
    li: a(href='#main', data-toggle='tab') #{t('activities.participants')}
    li.active: a(href='#addons', data-toggle='tab') Zahlung
    li: a(href='#notPaidOrNoAddon', data-toggle='tab') Versäumnisse
    li: a(href='#groupMembership', data-toggle='tab') Gruppenmitgliedschaft
    li: a(href='#tshirtSizes', data-toggle='tab') T-Shirt-Bestellungen
  .row
    .col-md-12
      .tab-content
        .tab-pane#main
          each resourceName in activity.resourceNames()
            -var participants = activity.participantsOf(resourceName)
            h4 #{resourceName} (#{participants.length} von #{activity.resourceNamed(resourceName).limit() || 'unbegrenzt'})
            .panel
              table.table.table-condensed.table-hover.table-striped.membertable
                thead
                  tr
                    th Registriert
                    th Nickname
                    th Vorname
                    th Nachname
                    th Ort/Region
                tbody
                  for member in participants
                    tr
                      td #{member.registeredAt.lang(language).format('L')}
                      td: mixin linkedMember(member.nickname())
                      td #{member.firstname()}
                      td #{member.lastname()}
                      td #{member.location()}
            hr

        .tab-pane.active#addons
          .panel
            table.table.table-condensed.table-hover.table-striped.addontable
              thead
                tr
                  th Registriert
                  th Ressourcen
                  th Nickname
                  th Vorname
                  th Nachname
                  th Ort/Region
                  th T-Shirt
                  th Zimmer mit
                  th Überwiesen
                  th Kreditkarte
                  th Zahlungseingang
              tbody
                for line in addonLines
                  tr
                    td #{formatList(formatDates(activity.resources().registrationDatesOf(line.member.id())))}
                    td #{formatList(activity.resources().resourceNamesOf(line.member.id()))}
                    td: mixin linkedMember(line.member.nickname())
                    td #{line.member.firstname()}
                    td #{line.member.lastname()}
                    td #{line.member.location()}
                    td #{line.addon.tShirtSize()}
                    td #{line.addon.roommate()}
                    td: mixin localdate(line.addon.moneyTransferredMoment())
                    td: mixin localdate(line.addon.creditCardPaidMoment())
                    td: mixin buttonOrDate(line.addon.paymentReceivedMoment(), line.addon.paymentDone(), activity.url(), line.member.nickname())

        .tab-pane#notPaidOrNoAddon
          .panel
            table.table.table-condensed.table-hover.table-striped.missingtable
              h4 Folgende Teilnehmer haben noch nicht gezahlt bzw. die Zusatzinformationen nicht eingetragen:
              thead
                tr
                  th Registriert
                  th Zahlung fehlt
                  th Zusatzangaben fehlen
                  th Nickname
                  th Vorname
                  th Nachname
                  th Ort/Region
              tbody
                for line in addonLines
                  if((!activity.addonForMember(line.member.id()).paymentReceivedMoment() || !activity.memberEnteredAddonInformation(line.member.id())) && activity.resources().memberIsRegisteredForMoreDaysThan(0, line.member))
                    tr
                      td #{line.member.registeredAt.lang(language).format('L')}
                      if activity.addonForMember(line.member.id()).paymentReceivedMoment()
                        td.center &nbsp;
                      else
                        td.center: i.fa.fa-exclamation-triangle
                      if activity.memberEnteredAddonInformation(line.member.id())
                        td.center &nbsp;
                      else
                        td.center: i.fa.fa-exclamation-triangle
                      td: mixin linkedMember(line.member.nickname())
                      td #{line.member.firstname()}
                      td #{line.member.lastname()}
                      td #{line.member.location()}
            hr

        .tab-pane#groupMembership
          h4 Teilnehmer, die nicht in der Gruppe angemeldet sind
          .panel
            table.table.table-condensed.table-hover.table-striped.membertable
              thead
                tr
                  th Registriert
                  th Nickname
                  th Vorname
                  th Nachname
                  th Ort/Region
              tbody
                for line in addonLines
                  if !containsMember(activity.group, line.member)
                    tr
                      td #{line.member.registeredAt.lang(language).format('L')}
                      td: mixin linkedMember(line.member.nickname())
                      td #{line.member.firstname()}
                      td #{line.member.lastname()}
                      td #{line.member.location()}
          hr

        .tab-pane#tshirtSizes
          h4 Verteilungen der T-Shirt-Größen
          .panel
            table.table.table-condensed.table-hover.table-striped.tshirttable
              thead
                tr
                  th T-Shirt-Größe
                  th Anzahl
              tbody
                for tshirtsize in tshirtsizes
                  tr
                    td #{tshirtsize.size}
                    td #{tshirtsize.count}
          hr

