extends ../../../views/layout
include ../../../views/formComponents

block scripts
  script(type="text/javascript", src="https://js.stripe.com/v2/")
  script.
    Stripe.setPublishableKey('#{paymentKey}');
    $(document).ready(function() {
      $("#charge-error").hide()
      $('#paymentform').submit(function(event) {
        $("#charge-error").hide()
        var $form = $(this);
        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);
        Stripe.card.createToken($form, stripeResponseHandler);
        // Prevent the form from submitting with the default action
        return false;
        });
    });
    function stripeResponseHandler(status, response) {
      if (response.error) {
        // show the errors on the form
        $("#charge-error").show()
        $("#charge-error").text(response.error.message);
        $(".submit-button").removeAttr("disabled");
      } else {
        var form$ = $("#paymentform");
        // response contains id, last4, and card type
        // insert into the form so it gets submitted to the server
        form$.append("<input type='hidden' name='stripeId' value='" + response['id'] + "'/>");
        // and submit
        form$.get(0).submit();
      }
    }

block title
  | #{t("payment.title")}

block content
  #charge-error.alert.alert-danger
  h2 #{activity.title()} - #{t("payment.title")}
    br
    small #{t("payment.how_to_pay")}
  .row
    .col-md-12
      p.
        #{t("payment.how_to_pay_detail")}
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          h4.panel-title #{t("payment.money_transfer")}
        .panel-body
          form.form-horizontal(action='/activities/payment/submitTransfer', method='post')
            +csrf
            +hidden('url', activity.url())
            .form-group
              label.col-sm-4.control-label #{t("payment.amount")}:
              .col-sm-8
                p.form-control-static #{addonConfig.deposit()} €
            .form-group
              label.col-sm-4.control-label #{t("payment.bic")}:
              .col-sm-8
                p.form-control-static BIC here
            .form-group
              label.col-sm-4.control-label #{t("payment.iban")}:
              .col-sm-8
                p.form-control-static IBAN here
            .form-group
              label.col-sm-4.control-label #{t("payment.receiver")}:
              .col-sm-8
                p.form-control-static Nicole Rauch
            button.btn.btn-primary.pull-right(type="submit") #{t("payment.transferred")}
    .col-md-6
      .panel.panel-default
        .panel-heading
          h4.panel-title #{t("payment.credit_card")}
        .panel-body
          form#paymentform(action='/activities/payment/submitCreditCard', method='post')
            +csrf
            +hidden('url', activity.url())
            .form-group
              label.col-sm-4.control-label #{t("payment.amount")}:
              .col-sm-8
                p.form-control-static #{addonConfig.deposit()} €
            .form-group
              label.col-sm-4.control-label #{t("payment.handling_fee")}:
              .col-sm-8
                p.form-control-static #{addonConfig.fee()} €
            .form-group
              label.control-label(for="cardnumber") Kartennummer:
              input.form-control(type='text', autocomplete='off', data-stripe='number', placeholder='Card Number')
            .form-group
              label.control-label(for="cvc") Prüfziffer:
              input.form-control(type='text', autocomplete='off', data-stripe='cvc', placeholder='CVC Code')
            .form-group
              label.control-label(for="month") Gültig bis Monat:
              input.form-control(type='text', data-stripe='exp-month', placeholder='MM')
            .form-group
              label.control-label(for="year") Gültig bis Jahr:
              input.form-control(type='text', data-stripe='exp-year', placeholder='YYYY')
            button.btn.btn-primary.submit-button.pull-right(type="submit") #{t("payment.charge_credit_card")}

