extends ../../../views/layout

block title
  | Übersicht der Gruppen

block content
  .row
    .col-md-12
      .page-header
        h2 Verwaltung
          small  Aktivitäten  
  .row
    .col-md-12
      .panel.panel-default(style="overflow: scroll; max-height: 600px")
        table.table.table-condensed.table-hover.table-striped
          thead
            tr
              th.ellipsis.narrow Edit
              th.ellipsis.narrow Titel
              th.ellipsis.narrow Adress-Suffix
              th.ellipsis.narrow Start
              th.ellipsis.narrow Ende
              th.ellipsis.narrow Veranstaltungsort
              th.ellipsis.narrow Beschreibung
              th.ellipsis.narrow Wegbeschreibung
              th.ellipsis.narrow Gruppe
          tbody
            for activity in activities
              tr
                td(class="span1"): a.btn-sm(href="/activities/edit/#{encodeURIComponent(activity.url)}"): i.icon-edit
                td.ellipsis.narrow #{activity.title}
                td.ellipsis.narrow #{activity.url}
                td.ellipsis.narrow #{activity.startDate()} #{activity.startTime()}
                td.ellipsis.narrow #{activity.endDate()} #{activity.endTime()}
                td.ellipsis.narrow #{activity.location}
                td.ellipsis #{activity.description}
                td.ellipsis.narrow #{activity.direction}
                td.ellipsis.narrow #{activity.groupName(groups)}
                  
