extends ../../../views/layout

block title
  | Übersicht der Gruppen

block scripts
  script(src="/clientscripts/utilities-for-editables.js")

block content
  .span12
    .page-header
      h2 Verwaltung
        small  Aktivitäten  
        - if (typeof(user) !== 'undefined' && user.member.isAdmin)
          a.pull-right.btn(href="/activities/new/"): i.icon-file
  .row-fluid
    table(class="span 12 table table-condensed table-hover table-striped", style="overflow: auto; max-height: 600px")
      thead
        tr
          th.span1: .ellipsis.narrow Titel
          th.span1: .ellipsis.narrow URL
          th.span1: .ellipsis.narrow Startdatum
          th.span1: .ellipsis.narrow Startzeit
          th.span1: .ellipsis.narrow Enddatum
          th.span1: .ellipsis.narrow Endzeit
          th.span1: .ellipsis.narrow Ort
          th.span2: .ellipsis.narrow Beschreibung
          th.span2: .ellipsis.narrow Wegbeschreibung
          th.span1: .ellipsis.narrow Gruppe
      tbody
        for activity in activities
          tr
            td.span1: a#title(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged"): .ellipsis.narrow #{activity.title}
            td.span1: a#url(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged"): .ellipsis.narrow #{activity.url}
            td.span1: a#startDate(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged"): .ellipsis.narrow #{activity.startDate}
            td.span1: a#startTime(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged"): .ellipsis.narrow #{activity.startTime}
            td.span1: a#endDate(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged"): .ellipsis.narrow #{activity.endDate}
            td.span1: a#endTime(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged"): .ellipsis.narrow #{activity.endTime}
            td.span1: a#location(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged"): .ellipsis.narrow #{activity.location}
            td.span2: a#description(href="#", data-placement="left", data-type="textarea", data-pk="#{activity.id}", data-url="activityChanged"): .ellipsis.narrow #{activity.description}
            td.span2: a#direction(href="#", data-placement="left", data-type="textarea", data-pk="#{activity.id}", data-url="activityChanged"): .ellipsis.narrow #{activity.direction}
            td.span1: .ellipsis.narrow #{activity.groupName(groups)}
              
