extends ../../../views/layout

block title
  | Übersicht der Gruppen

block scripts
  script(src="/clientscripts/utilities-for-editables.js")

block content
  .span12
    .page-header
      h2 Verwaltung
        small  Aktivitäten  
        - if (typeof(user) !== 'undefined' && user.member.isAdmin)
          | 
          a(href="/activities/new/", class="btn") Neu
  .row-fluid
    table(class="span 12 table table-condensed table-hover table-striped", style="overflow: auto; max-height: 600px")
      thead
        tr
          th.ellipsis.narrow.span1 Titel
          th.ellipsis.narrow.span1 URL
          th.ellipsis.narrow.span1 Startdatum
          th.ellipsis.narrow.span1 Startzeit
          th.ellipsis.narrow.span1 Enddatum
          th.ellipsis.narrow.span1 Endzeit
          th.ellipsis.narrow.span1 Ort
          th.ellipsis.narrow.span2 Beschreibung
          th.ellipsis.narrow.span2 Wegbeschreibung
          th.ellipsis.narrow.span1 Gruppe
      tbody
        for activity in activities
          tr
            td.ellipsis.narrow.span1: a#title(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged") #{activity.title}
            td.ellipsis.narrow.span1: a#url(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged") #{activity.url}
            td.ellipsis.narrow.span1: a#startDate(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged") #{activity.startDate}
            td.ellipsis.narrow.span1: a#startTime(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged") #{activity.startTime}
            td.ellipsis.narrow.span1: a#endDate(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged") #{activity.endDate}
            td.ellipsis.narrow.span1: a#endTime(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged") #{activity.endTime}
            td.ellipsis.narrow.span1: a#location(href="#", data-type="text", data-pk="#{activity.id}", data-url="activityChanged") #{activity.location}
            td.ellipsis.narrow.span2: a#description(href="#", data-placement="left", data-type="textarea", data-pk="#{activity.id}", data-url="activityChanged") #{activity.description}
            td.ellipsis.narrow.span2: a#direction(href="#", data-placement="left", data-type="textarea", data-pk="#{activity.id}", data-url="activityChanged") #{activity.direction}
            td.ellipsis.narrow.span1 #{activity.groupName(groups)}
              
