extends ../../../views/layout

block scripts
  script(src="/clientscripts/jquery.dataTables.min.js")
  script.
    $(document).ready(function() {
      $("#announcementtable").dataTable({
        "oLanguage": {
          "sUrl": "/clientscripts/dataTables.german.txt"
        },
        "aoColumns": [
          { "bSortable" : false }, null, null, { "sType": "date-eu" }, { "sType": "date-eu" }, null, null
        ],
        "bPaginate": false,
        "bAutoWidth": false,
        "aaSorting": [[ 1, "asc" ]],
        "bStateSave": true
      });
      $('.tooltiplabel').each(function(each) {$(this).popover()});
    });

block title
  | Übersicht der Nachrichten

block content
  .row
    .col-md-12
      .page-header
        h2 Verwaltung
          small  Nachrichten
  .row
    .col-md-12
      .panel.pre-scrollable
        table.table.table-condensed.table-hover.table-striped#announcementtable
          thead
            tr
              th Edit
              th Titel
              th URL
              th Erstellt am
              th Anzeigen bis einschließlich
              th Text
              th Autor
          tbody
            for announcement in announcements
              tr
                td(class="span1"): a.btn-sm(href="/announcements/edit/#{encodeURIComponent(announcement.url)}"): i.fa.fa-edit.fa-fw
                td.ellipsis #{announcement.title}
                td #{announcement.url}
                td #{announcement.fromDate()}
                td #{announcement.thruDate()}
                td.ellipsis: .tooltiplabel(data-toggle="hover", data-placement="auto top", data-html="true", data-content="#{announcement.messageHTML()}"):  #{announcement.message}
                td #{announcement.author}
