extends ../../../views/layout

block title
  | Übersicht der Gruppen

block content
  .row
    .col-md-12
      .page-header
        h2 Verwaltung
          small  Gruppen
  .row
    .col-md-12
      .panel.panel-default(style="overflow: scroll; max-height: 600px")
        table.table.table-condensed.table-hover.table-striped
          thead
            tr
              th.ellipsis.narrow Edit
              th.ellipsis.narrow Name
              th.ellipsis.narrow Titel
              th.ellipsis.narrow Präfix
              th.ellipsis.narrow Beschreibung
              th.ellipsis.narrow Gruppenart
          tbody
            for group in groups
              tr
                td: a.btn-sm(href="/groups/edit/#{encodeURIComponent(group.id)}"): i.icon-edit
                th.ellipsis #{group.id}
                td.ellipsis #{group.longName}
                td.ellipsis #{group.emailPrefix}
                td.ellipsis #{group.description}
                td.ellipsis #{group.type}
                  
