extends ../../../views/layout

block title
  | Übersicht der Gruppen

block scripts
  script(src="/clientscripts/utilities-for-editables.js")
  script
    var initEditable = function () {
      $("table").find("a").filter(function () {return this.id === "type"; }).editable(
        {source: [
          {value: 0, text: "#{groupTypes[0]}"},
          {value: 1, text: "#{groupTypes[1]}"}
        ],
          showbuttons: false}
      );
    };
    $(document).ready(initEditable);


block content
  .span12
    .page-header
      h2 Verwaltung
        small  Gruppen
        - if (typeof(user) !== 'undefined' && user.member.isAdmin)
          a.pull-right.btn(href="/groupd/new/"): i.icon-file
  .row-fluid
    table(class="span 12 table table-condensed table-hover table-striped", style="overflow: auto; max-height: 600px")
      thead
        tr
          th.ellipsis.span2 Name
          th.ellipsis.span2 Titel
          th.ellipsis.span1 Präfix
          th.ellipsis.span6 Beschreibung
          th.ellipsis.span1 Gruppenart
      tbody
        for group in groups
          tr
            th.ellipsis.span2 #{group.id}
            td.ellipsis.span2: a#longName(href="#", data-type="text", data-pk="#{group.id}", data-url="groupChanged") #{group.longName}
            td.ellipsis.span1: #{group.emailPrefix}
            td.ellipsis.span6: a#description(href="#", data-placement="right", data-type="textarea", data-pk="#{group.id}", data-url="groupChanged") #{group.description}
            td.ellipsis.span1: a#type(href="#", , data-type="select", data-value="#{group.typeCode()}", data-pk="#{group.id}", data-url="groupChanged") #{group.type}
              
