extends ../../../views/layout

block scripts
  script(src="/clientscripts/jquery.dataTables.min.js")
  script.
    $(document).ready(function() {
      $("#grouptable").dataTable({
        "oLanguage": {
          "sUrl": "/clientscripts/dataTables.german.txt"
        },
        "aoColumns": [
          { "bSortable" : false }, null, null, null, null, null
        ],
        "bPaginate": false,
        "bAutoWidth": false,
        "aaSorting": [[ 1, "asc" ]],
        "bStateSave": true
      });
      $('.tooltiplabel').each(function(each) {$(this).popover()});
    });

block title
  | Übersicht der Gruppen

block content
  .row
    .col-md-12
      .page-header
        h2 Verwaltung
          small  Gruppen
  .row
    .col-md-12
      .panel.pre-scrollable
        table.table.table-condensed.table-hover.table-striped#grouptable
          thead
            tr
              th Edit
              th Name
              th Titel
              th Präfix
              th Beschreibung
              th Gruppenart
          tbody
            for group in groups
              tr
                td: a.btn-sm(href="/groups/edit/#{encodeURIComponent(group.id)}"): i.fa.fa-edit.fa-fw
                th #{group.id}
                td #{group.longName}
                td #{group.emailPrefix}
                td.ellipsis: .tooltiplabel(data-toggle="hover", data-placement="auto top", data-html="true", data-content="#{group.descriptionHTML()}"):   #{group.description}
                td #{group.type}
                  
