extends ../../../views/layout

include ../../../views/editableTableComponents

block title
  | Übersicht der Gruppen

block scripts
  script(src="/clientscripts/utilities-for-editables.js")
  script
    var initEditable = function () {
      $("table").find("a").filter(function () {return this.id === "type"; }).editable(
        {source: [
          {value: 0, text: "#{groupTypes[0]}"},
          {value: 1, text: "#{groupTypes[1]}"}
        ],
          showbuttons: false}
      );
    };
    $(document).ready(initEditable);


block content
  .row-fluid
    .span12
      .page-header
        h2 Verwaltung
          small  Gruppen
          - if (typeof(user) !== 'undefined' && user.member.isAdmin)
            a.pull-right.btn(href="/groupd/new/"): i.icon-file
  .row-fluid
    table(class="span 12 table table-condensed table-hover table-striped", style="overflow: auto; max-height: 80%")
      thead
        tr
          mixin tabHead(2, 'Name')
          mixin tabHead(3, 'Titel')
          mixin tabHead(1, 'Präfix')
          mixin tabHead(5, 'Beschreibung')
          mixin tabHead(1, 'Gruppenart')
      tbody
        for group in groups
          tr
            th.span2: .ellipsis #{group.id}
            mixin tabText(3, group, 'longName', 'groupChanged')
            td.span1: .ellipsis #{group.emailPrefix}
            mixin tabTextarea(5, group, 'description', 'groupChanged')
            td.span1: a#type(href="#", , data-type="select", data-value="#{group.typeCode()}", data-pk="#{group.id}", data-url="groupChanged"): .ellipsis #{group.type}
              
