extends ../../../views/layout

block title
  | Übersicht der Gruppen

block scripts
  script(src="/clientscripts/utilities-for-editables.js")
  script
    var initEditable = function () {
      $("table").find("a").filter(function () {return this.id === "type"; }).editable(
        {source: [
          {value: 0, text: "#{groupTypes[0]}"},
          {value: 1, text: "#{groupTypes[1]}"}
        ],
          showbuttons: false}
      );
    };
    $(document).ready(initEditable);


block content
  .span12
    .page-header
      h2 Verwaltung
        small  Gruppen
        - if (typeof(user) !== 'undefined' && user.member.isAdmin)
          a.pull-right.btn(href="/groupd/new/"): i.icon-file
  .row-fluid
    table(class="span 12 table table-condensed table-hover table-striped", style="overflow: auto; max-height: 600px")
      thead
        tr
          th.span2: .ellipsis Name
          th.span2: .ellipsis Titel
          th.span1: .ellipsis Präfix
          th.span6: .ellipsis Beschreibung
          th.span1: .ellipsis Gruppenart
      tbody
        for group in groups
          tr
            th.span2: .ellipsis #{group.id}
            td.span2: a#longName(href="#", data-type="text", data-pk="#{group.id}", data-url="groupChanged"): .ellipsis #{group.longName}
            td.span1: .ellipsis #{group.emailPrefix}
            td.span6: a#description(href="#", data-placement="right", data-type="textarea", data-pk="#{group.id}", data-url="groupChanged"): .ellipsis #{group.description}
            td.span1: a#type(href="#", , data-type="select", data-value="#{group.typeCode()}", data-pk="#{group.id}", data-url="groupChanged"): .ellipsis #{group.type}
              
