extends ../../../views/layout

block scripts
  script(src="/clientscripts/jquery.dataTables.min.js")
  script.
    $(document).ready(function() {
      $("#membertable").dataTable({
        "oLanguage": {
          "sUrl": "/clientscripts/dataTables.german.txt"
        },
        "aoColumns": [
          { "bSortable" : false }, { "sType": "date-eu" }, null, null, null, null, null, null, null, null, null, null, null
        ],
        "bPaginate": false,
        "bAutoWidth": false,
        "aaSorting": [[ 1 , "desc" ]],
        "bStateSave": true
      });
    });

block title
  | Übersicht der Mitglieder

block content
  .row
    .col-md-12
      .page-header
        h2 Verwaltung
          small  Mitglieder
      .panel.pre-scrollable
        table.table.table-condensed.table-hover.table-striped#membertable
          thead
            tr
              th Edit
              th Angelegt
              th Nickname
              th Vorname
              th Nachname
              th Ort/Region
              th Email
              th Twitter
              th Beruf
              th Interessenschwerpunkte
              th Website/Blog
              th Wie&nbsp;ich&nbsp;von&nbsp;der&nbsp;Softwerkskammer&nbsp;erfahren&nbsp;habe
              th Benutzertyp
          tbody
            for member in members
              tr
                td: a.btn-sm(href="/members/edit/#{encodeURIComponent(member.nickname)}"): i.fa.fa-edit.fa-fw
                td #{member.created}
                td: a(href="/members/#{encodeURIComponent(member.nickname)}") #{member.nickname}
                td #{member.firstname}
                td #{member.lastname}
                td #{member.location}
                td #{member.email}
                td #{member.twitter}
                td #{member.profession}
                td #{member.interests}
                td #{member.site}
                td #{member.reference}
                td #{member.adminDisplayText()}
                
    
