extends ../../../views/layout

block title
  | Übersicht der Mitglieder

block content
  .row
    .col-md-12
      .page-header
        h2 Verwaltung
          small  Mitglieder
  .row
    .col-md-12
      .panel.panel-default(style="overflow: scroll; max-height: 600px")
        table.table.table-condensed.table-hover.table-striped
          thead
            tr
              th.ellipsis.narrow Edit
              th.ellipsis.narrow Nickname
              th.ellipsis.narrow Vorname
              th.ellipsis.narrow Nachname
              th.ellipsis.narrow Email
              th.ellipsis.narrow Twitter
              th.ellipsis.narrow Ort/Region
              th.ellipsis.narrow Beruf
              th.ellipsis.narrow Interessenschwerpunkte
              th.ellipsis.narrow Website/Blog
              th.ellipsis.narrow Wie ich von…
              th.ellipsis.narrow Benutzertyp
              th.ellipsis.narrow Angelegt
          tbody
            for member in members
              tr
                td: a(href="/members/edit/#{encodeURIComponent(member.nickname)}"): i.icon-edit
                td.ellipsis.narrow #{member.nickname}
                td.ellipsis.narrow #{member.firstname}
                td.ellipsis.narrow #{member.lastname}
                td.ellipsis.narrow #{member.email}
                td.ellipsis.narrow #{member.twitter}
                td.ellipsis.narrow #{member.location}
                td.ellipsis.narrow #{member.profession}
                td.ellipsis.narrow #{member.interests}
                td.ellipsis.narrow #{member.site}
                td.ellipsis.narrow #{member.reference}
                td.ellipsis.narrow #{member.adminDisplayText()}
                td.ellipsis.narrow #{member.created}
    
