extends ../../../views/layout
include ../../members/views/memberlist-mixin
include ../../wiki/views/wiki-mixins
include ../../activities/views/activities-mixins
include ../../../views/formComponents

block head
  if (blogposts.length > 0)
    link(rel='alternate', type='application/atom+xml', href=blogpostsFeedUrl)

block title
  | #{group.longName}

block content
  .row
    .col-12
      .page-header
        form(role='form', method='POST', action='clone-from-meetup-for-group/')
          +csrf
          +hidden('groupname', group.id)
          .btn-group.float-right
            a.btn.btn-light(href='/wiki/' + group.id + '/')
              i.fas.fa-book.fa-fw
              | &nbsp;#{t('wiki.wiki')}
            a.btn.btn-light(href=webcalURL, title=t('activities.export_subscribe')): i.far.fa-calendar-alt.fa-fw
            if (accessrights.canEditGroup(group))
              if (group.meetupUrlName())
                button.btn.btn-light(type='submit', title=t('groups.meetup_clone_title')): i.fab.fa-meetup.fa-fw
              a.btn.btn-light(href='/groups/edit/' + group.id, title=t('general.edit')): i.fas.fa-edit
        h1 #{group.longName} #{' '}
          small #{group.type}
      if (accessrights.canContactTheOrganizers(group))
        p
          a.btn.btn-success(href='/mailsender/contactGroupContactPersons/' + group.id)
            i.far.fa-envelope
            | &nbsp;#{t('groups.mail_the_contact_persons')}
      if (userIsGroupMember || accessrights.isSuperuser())
        p
          a.btn.btn-success(href='/mailsender/contactMembersOfGroup/' + group.id)
            i.far.fa-envelope
            | &nbsp;#{t('groups.mail_to_group')}
  .row
    .col-lg-6
      | !{group.descriptionHTML()}

      if (accessrights.canParticipateInGroup(group))
        if (userIsGroupMember)
          form(role='form', method='POST', action='unsubscribe')
            +csrf
            +hidden('groupname', group.id)
            button.btn.btn-light(type='submit') #{t('groups.leave')}
        else
          form(role='form', method='POST', action='subscribe')
            +csrf
            +hidden('groupname', group.id)
            button.btn.btn-primary(type='submit') #{t('groups.join')}

      h4.mt-3 #{t('members.members')}:
      +memberlistHeading(t('groups.has'), users.length)
      +memberlist(users, organizers)
    .col-md-6
      if (upcomingGroupActivities.length > 0)
        h4 #{t('activities.upcoming_activities')}:
        +activityList(upcomingGroupActivities)
      +tagCloud
      if (recentGroupActivities.length > 0)
        h4.mt-3 #{t('activities.recent_activities')}:
        +activityList(recentGroupActivities)
      if (blogposts.length > 0)
         +blogposts-panel(blogposts, blogpostsFeedUrl)

block scripts
  +tagCloudScript(users, group.color)
