doctype html
html
  body
    p F체r die Aktivit채t "#{activity.title()}" (#{ressourceName}) #{content}: <br>
      a(href=url + '/members/' + encodeURIComponent(visitor.nickname())) #{visitor.firstname()} #{visitor.lastname()} (#{visitor.nickname()})
    p Damit hat die 
      a(href=url + '/activities/' + encodeURIComponent(activity.url())) Aktivit채t
      |  jetzt #{totalcount} Anmeldungen (#{count} f체r diese Ressource).
 
