doctype html
html
  body
    h3 SoCraTes Registration Confirmation
    p.
      Hello #{member.displayName()},<br>
      We have received your registration for the SoCraTes Conference 2015.
    p
      | You have booked a #{' '} 
      b #{bookingdetails.room}
      | #{' '} room for #{' '}
      b #{bookingdetails.nights}
      | #{' '} nights until #{' '} 
      b #{bookingdetails.until}
    p As soon as we recceive your payment you will receive a confirmation for your payment.
    p You can check and modify your registration data at: 
      a(href='#{url}/members/edit') #{url}/members/edit

    
