doctype html
html
  body
    h2 SoCraTes Registration Confirmation
    p.
      Hello #{member.displayName()},
    p Congratulations! You are now a participant of SoCraTes Conference 2016.

    if bookingdetails.fromWaitinglist
      p
        | Please #{' '}
        b confirm or decline #{' '}
        | your spot by replying to this e-mail within the next 48 hours.

    h3 Your Booking
    p
      | You have booked a #{' '}
      b #{bookingdetails.room}
      | #{' '} for #{' '}
      b #{bookingdetails.nights}
      | #{' '} nights until #{' '}
      b #{bookingdetails.until}
      | .
    if bookingdetails.fromWaitinglist
      p
        | If you want to stay longer, please tell us in your reply, and we will change your booking accordingly.
        | You can stay until Sunday morning, Sunday evening or Monday morning (the latter two options include participation
        | in a Coderetreat or workshop on Sunday). For pricing information please have a look at #{' '}
        a(href='#{url}/registration') the registration page
        | .
      p
        | If you cannot make it at all, please tell us straight away so that we can give your spot to the next person.

    p You can review and modify your registration data at #{' '}
      a(href='#{url}/members/edit') #{url}/members/edit

    p You can review your booking information at #{' '}
      a(href='#{url}/registration') #{url}/registration

    p You will receive a billable receipt during the event.

    p
      | If at any point in time you realize that you can't make it for some reason, please tell us
      b as soon as possible
      | so we can give the spot to the next person on the waitinglist.

    p If you do not attend SoCraTes Conference without notifying us in advance, the hotel will send you an invoice and charge you for one night!

    p If you have questions, need help or want to give feedback, just reply to this e-mail.

    p We are looking forward to seeing you in Soltau in August!

    P The SoCraTes organisers
