doctype html
html
  body
    h2 SoCraTes Registration Confirmation
    p.
      Hello #{member.displayName()},
    p Congratulations! You are now a participant of the SoCraTes Conference 2016.

    if bookingdetails.fromWaitinglist
      p If you can't make it for some reason, please tell us so we can give the spot to the next person on the waitinglist.

    h3 Your Booking
    p
      | You have booked a #{' '}
      b #{bookingdetails.room}
      | #{' '} for #{' '}
      b #{bookingdetails.nights}
      | #{' '} nights until #{' '}
      b #{bookingdetails.until}
      | .
    if bookingdetails.fromWaitinglist
      p
        | If you want to stay longer, please tell us by replying to this e-mail, and we will change your booking accordingly.
        | You can stay until Sunday morning, Sunday evening or Monday morning (the latter two options include participation
        | in a Coderetreat or workshop on Sunday). For pricing information please have a look at #{' '}
        a(href='#{url}/registration') the registration page
        | .

    p You can review and modify your registration data at #{' '}
      a(href='#{url}/members/edit') #{url}/members/edit

    p You can review your booking information at #{' '}
      a(href='#{url}/registration') #{url}/registration

    p You will receive a billable receipt during the event.

    p If you have questions, need help or want to give feedback, just reply to this e-mail.

    p We are looking forward to seeing you in Soltau in August!

    P The SoCraTes organisers
