doctype html
html
  body
    h3 Change in SoCraTes Registration
    p
      | #{member.displayName()} (#{member.nickname()}) has registered for a #{' '}
      b #{bookingdetails.room}
      | #{' '} for #{' '}
      b #{bookingdetails.nights}
      | #{' '} nights until #{' '}
      b #{bookingdetails.until}
      | .
