mixin loginMenu(forInline)
  li.dropdown(class=forInline ? 'visible-xs' : '')
    a(href='#')
      span.glyphicon.glyphicon-info-sign 
      if accessrights.isRegistered()
       | #{' ' + user.member.nickname()}
      else
       |  #{t('general.guest')}
    ul.dropdown-menu
      if accessrights.isRegistered()
        li: a(href='/members/' + encodeURIComponent(user.member.nickname()))
          span.glyphicon.glyphicon-eye-open
          | &nbsp;#{t('members.view')}
        li: a(href='/auth/logout')
          span.glyphicon.glyphicon-log-out
          | &nbsp;#{t('general.logout')}
      else
        li: a(data-toggle='modal', data-target='#login', href='/loginDialog?returnUrl=' + encodeURIComponent(currentUrl ||  '/'))
          span.glyphicon.glyphicon-log-in
          | &nbsp;#{t('general.login')}
      li: a(href='https://github.com/softwerkskammer/Agora/issues', title=t('general.what_does_not_work'), target='_blank')
        span.glyphicon.glyphicon-send
        | &nbsp;#{t('general.feedback')}

mixin notificationsBlock(notificationmessage)
  -notificationmessage.kill()
  -var contents = notificationmessage.contents()
  #notifications(class='alert alert-block hidden-print #{contents.type}')
    button.close(type='button', data-dismiss='alert') &times;
    h4 #{t(contents.title)}
    | #{t(contents.text, contents.additionalArguments)}

mixin navbar(xs)
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-brand(style='padding-top: 5px; padding-right: 0px;', title='SoCraTes 2016')
        a(href='/'): img(src='/img/socrates_no_text_40.png', alt='logo')
    .navbar-collapse.collapse
      if (!xs)
        ul.nav.navbar-nav.navbar-right
          a.btn.btn-info(href='/sponsoring.html', style='margin-bottom:5px;margin-top:5px;')
            span.glyphicon.glyphicon-thumbs-up
            |  Sponsor us
        ul.nav.navbar-nav.navbar-right
          +loginMenu
      ul.nav.navbar-nav
        li(data-nav-index=''): a(href='/', title='Home', style='padding-left: 5px') SoCraTes 2016
        li(data-nav='schedule.html'): a(href='/schedule.html', title='Format')
          span.glyphicon.glyphicon-calendar
          span.hidden-sm  Format
        li(data-nav='location.html'): a(href='/location.html', title='Location')
          span.glyphicon.glyphicon-globe
          span.hidden-sm  Location
        li(data-nav='values.html'): a(href='/values.html', title='Values')
          span.glyphicon.glyphicon-gift
          span.hidden-sm  Values
        li(data-nav='wiki')
          a(href='#', title='Wiki')
            span.glyphicon.glyphicon-book
            span.hidden-sm  #{t('wiki.wiki')}
          ul.dropdown-menu
            if (wikisubdirs && wikisubdirs.length)
              for subdir in wikisubdirs
                li: a(href='/wiki/#{subdir}/') #{subdir}
            else
              li: a(href='/') <i>none</i>
        li(data-nav='history.html'): a(href='/history.html', title='History')
          span.glyphicon.glyphicon-time
          span.hidden-sm  History
        +loginMenu(true)

      
      
mixin footer
  footer(style='margin-top: 10px')
    .container
      .row
        .col-sm-12
          hr(style='margin: 0px')
          .row(style='margin-top: 10px')
            .col-sm-6
              p.count
            .col-sm-6
              .pull-right(style='margin-bottom: 5px;')
                .btn-group
                  +contactbuttons

mixin contactbuttons
  a.btn.btn-info(href='/registration/ical', title=t('activities.export'))
    span.glyphicon.glyphicon-download-alt
    span.hidden-xs #{' ' + t('activities.ical')}
  a.btn.btn-info(href='/impressum.html', title='Impressum')
    i.fa.fa-fw.fa-info
    span.hidden-xs #{' ' + t('general.legal_notice')}
  a.btn.btn-info(href='mailto:info@socrates-conference.de', title='E-Mail')
    i.fa.fa-fw.fa-envelope
    span.hidden-xs #{' ' + t('members.email')}
  .btn-group.dropup
    a.btn.btn-info(href='https://twitter.com/intent/tweet?text=SoCraTes+2016+will+take+place+from+25+to+28+August.+More+at&url=http%3A%2F%2Fsocrates-conference.de%2F&hashtags=socrates_16&via=socrates_2016', title='Tweet')
      i.fa.fa-fw.fa-twitter
      span.hidden-xs #{' ' + t('general.tweet')}
    a.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
      i.fa.fa-caret-up
    ul.dropdown-menu(role='menu')
      li: a(href='https://twitter.com/intent/user?screen_name=socrates_2016') #{t('general.show_tweets')}
      li: a(href='https://twitter.com/intent/follow?screen_name=socrates_2016') #{t('general.follow')}
