extends commonLayout

mixin navbar
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-brand(style='padding-top: 5px; padding-right: 0px;', title='SoCraTes 2016')
        a(href='/'): img(src='/img/socrates2016_logo.png', height='40px')
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li: a.serif(href='/', style='padding-left: 0px') SoCraTes 2016

block specific
  if (browserIsTooOld)
    .alert.alert-block.alert-warning
      h2 Please note that we no longer support Internet Explorer versions 7 or 8.
      p We follow the example of #{''}
        a(href='https://help.github.com/articles/supported-browsers') github 
        | .
      p We recommend upgrading to the latest 
        a(href='https://ie.microsoft.com/') Internet Explorer #{''}
        | , 
        a(href='https://chrome.google.com') Google Chrome #{''}
        | , or 
        a(href='https://mozilla.org/firefox/') Firefox #{''}
        | .
      p If you are using IE 9 or later, make sure you #{''}
        a(href='http://windows.microsoft.com/en-US/windows7/webpages-look-incorrect-in-Internet-Explorer') turn off "Compatibility View"
        | .
  else
    block navigation
      .navbar.navbar-inverse.navbar-fixed-top.hidden-print.hidden-xs(role='navigation')
        +navbar
      .navbar.navbar-inverse.navbar-top.hidden-print.visible-xs(role='navigation')
        +navbar
    block before-container
    .container
      block content
