include ../../../../commonComponents/pug/formComponents

mixin stripeScript(paymentInfo)
  script(type='text/javascript', src='https://js.stripe.com/v2/')
  script.
    function connectHandlers() {
      $('#charge-error').hide()
      $('#paymentform').submit(function(event) {
        $('#charge-error').hide()
        var $form = $(this);
        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);
        Stripe.setPublishableKey('#{paymentInfo.paymentKey()}');
        Stripe.card.createToken($form, stripeResponseHandler);
        // Prevent the form from submitting with the default action
        return false;
      });
    };
    function stripeResponseHandler(status, response) {
      if (response.error) {
        // show the errors on the form
        $('#charge-error').show()
        $('#charge-error').text(response.error.message);
        $('.submit-button').removeAttr('disabled');
      } else {
        var form$ = $('#paymentform');
        // response contains id, last4, and card type
        // insert into the form so it gets submitted to the server
        form$.append('<input type="hidden" name="stripeId" value="' + response['id'] + '"/>');
        // and submit
        form$.get(0).submit();
      }
    };

    $(connectHandlers);

    $('.currency').each(function () {
      $(this).autoNumeric();
    });

    function amountHandler() {
      var amount = $('.currency').autoNumeric('get');
        $.get('/payment/calcFee/' + amount, null, function (fee) {
        $('.fee').each(function () { $(this).html(fee); });
      });
    }
    $('.currency').keyup(amountHandler)



mixin paymentMoneyTransfer(paymentInfo, actionUrl, amount, id)
  .panel.panel-default
    .panel-heading
      h4.panel-title #{t('payment.money_transfer')}
    .panel-body
      if(amount)
        p
          b #{t('payment.amount')}:
          span.amount.float-right #{amount.toFixed(2).replace('.', ',')} €
      p
        b #{t('payment.bic')}:
        span.float-right #{paymentInfo.bic()}
      p
        b #{t('payment.iban')}:
        span.float-right #{paymentInfo.iban()}
      p
        b #{t('payment.receiver')}:
        span.float-right #{paymentInfo.paymentReceiver()}
      if (amount)
        if (paymentInfo.paymentDone())
          if (paymentInfo.moneyTransferred())
            b.float-right #{t('payment.payment_done')}
        else
          form.form-horizontal(action=actionUrl, method='post')
            +csrf
            +hidden('id', id)
            button.btn.btn-primary.float-right(type='submit') #{t('payment.transferred')}

mixin paymentCreditCard(paymentInfo, placeholder, actionUrl, amount, fee, description, id)
  .panel.panel-default
    .panel-heading
      h4.panel-title #{t('payment.credit_card')} &nbsp;
        small powered by&nbsp;
        a(href='http://stripe.com'): .fa.fa-cc-stripe
    .panel-body
      #charge-error.alert.alert-danger
      p.float-right: img(src='/img/creditcards.png')
      .clearfix
      if (paymentInfo.paymentDone())
        if (amount)
          p
            b #{t('payment.amount')}:
            span.amount.float-right #{amount} €
        if (fee)
          p
            b #{t('payment.handling_fee')}:
            span.fee.float-right #{fee}
        if (paymentInfo.creditCardPaid())
          b.float-right #{t('payment.payment_done')}
      else
        form#paymentform(action=actionUrl, method='post')
          +csrf
          +hidden('id', id)
          if (amount)
            p
              b #{t('payment.amount')}:
              span.amount.float-right #{amount} €
              +hidden('amount', amount)
              +hidden('description', description)
          else
            +text('description', t('payment.description'), paymentInfo.description, undefined, t('payment.description'))
            +currency('amount', t('payment.amount'), '', undefined, placeholder + ' €')
          p
            b #{t('payment.handling_fee')}:
            if (fee)
              span.fee.float-right #{fee} €
            else
              span.fee.float-right
          if (paymentInfo.paymentDone())
            if (paymentInfo.creditCardPaid())
              b.float-right #{t('payment.payment_done')}
          else
            p
            .form-group
              label.control-label(for='cardnumber') #{t('payment.card_number')}:
              input.form-control(type='text', autocomplete='off', data-stripe='number', placeholder='Card Number')
            .form-group
              label.control-label(for='cvc') #{t('payment.cvc_code')}:
              input.form-control(type='text', autocomplete='off', data-stripe='cvc', placeholder='CVC Code')
            .form-group
              label.control-label(for='month') #{t('payment.valid_until_month')}:
              input.form-control(type='text', data-stripe='exp-month', placeholder='MM')
            .form-group
              label.control-label(for='year') #{t('payment.valid_until_year')}:
              input.form-control(type='text', data-stripe='exp-year', placeholder='YYYY')
            button.btn.btn-primary.submit-button.float-right(type='submit') #{t('payment.charge_credit_card')}
