mixin selectFileButton(label, extraclasses)
  span.btn.btn-primary.btn-file(class=extraclasses)
    i.fa.fa-fw.fa-camera
    | &nbsp; #{t(label)}
    input#input-file(type='file', accept='image/*', name='image')

mixin uploadButtons(btnGroupClasses)
  .btn-group(class=btnGroupClasses)
    span#btn-cancel.btn.btn-default #{t('general.cancel')}
    button.btn.btn-primary(type='submit') #{t('general.save')}

mixin imageUpload
  #selectFileButton
    +selectFileButton('general.photo')
  #uploadButtons
    +uploadButtons(['pull-right'])
  .clearfix
  #previewContainer
    div
      div(style='margin-top: 5px;')
        img#preview(style='max-width: 100%;')
