extends commonLayout
block specific
  .col-md-8
    if (statusmessage)
      +notificationsBlock(statusmessage)
    block content
    p &nbsp;
  .col-md-4.hidden-print
    .page-header.visible-xs.visible-sm
      h2 #{t('activities.activities')}
    #calendar
    .row
      .col-md-12
        h2 Wiki Links
        h4
          a(href='/wiki/events/2016') #{t('general.events_in_europe')} 2016
          br
          small.
            #{t('general.events_in_europe_desc')}

    if (latestNews)
      h2 #{t('announcements.latest_news')}&nbsp;
        if (!!displayMoreNews)
          small: a(href='/announcements/') #{t('general.more')}…
      dl
        for announcement in latestNews
          dt #{announcement.fromMoment().locale(language).format('LL')}
          dd: a(href='/announcements/#{encodeURIComponent(announcement.url)}') #{announcement.title}
