mixin administrationMenu
  if (accessrights.isSuperuser())
    ul.navbar-nav.ml-md-auto.mr-3
      li.nav-item.dropup(data-agoranav='administration')
        a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown')
          i.fa-solid.fa-gauge.fa-fw
          | &nbsp;#{t('general.administration')}&nbsp;
        ul.dropdown-menu.dropdown-menu-end
          li: a.dropdown-item.nav-link(href='/administration/activityTable')
            i.fa-regular.fa-calendar-alt.fa-fw
            | &nbsp;#{t('activities.activities')}
          li: a.dropdown-item.nav-link(href='/administration/groupTable')
            i.fa-solid.fa-users.fa-fw
            | &nbsp;#{t('groups.groups')}
          li: a.dropdown-item.nav-link(href='/administration/memberTable')
            i.fa-solid.fa-user.fa-fw
            | &nbsp;#{t('members.members')}
          li: a.dropdown-item.nav-link(href='/administration/memberAndGroupTable')
            i.fa-solid.fa-user-check.fa-fw
            | &nbsp;#{t('members.members') + ' & ' + t('groups.groups')}
          li: a.dropdown-item.nav-link(href='/administration/interests')
            i.fa-regular.fa-thumbs-up.fa-fw
            | &nbsp; Interessen

mixin loginMenu(forInline)
  li.nav-item.dropdown(class=forInline ? 'd-sm-none': '')
    a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown')
      i.fa-solid.fa-circle-info.fa-fw
      if accessrights.isRegistered()
        | &nbsp;#{user.member.nickname()}
      else
        | &nbsp;#{t('general.guest')}
    ul.dropdown-menu.dropdown-menu-end
      if accessrights.isRegistered()
        li: a.dropdown-item.nav-link(href='/members/' + encodeURIComponent(user.member.nickname()))
          i.fa-solid.fa-eye.fa-fw
          | &nbsp;#{t('members.view')}
        li: a.dropdown-item.nav-link(href='/members/edit/' + encodeURIComponent(user.member.nickname()))
          i.fa-solid.fa-pen-to-square.fa-fw
          | &nbsp;#{t('members.edit')}
        li: a.dropdown-item.nav-link(href='/auth/logout')
          i.fa-solid.fa-right-from-bracket.fa-fw
          | &nbsp;#{t('general.logout')}
        li: a.dropdown-item.nav-link(href='/mailsender/resign/' + encodeURIComponent(user.member.nickname()))
          i.fa-solid.fa-ban.fa-fw
          | &nbsp;#{t('members.resign')}
      else
        li: .modaldialog.button.dropdown-item.nav-link(data-bs-toggle='modal', data-bs-target='#login', data-link='/loginDialog?returnUrl=' + encodeURIComponent(currentUrl ||  '/'))
          i.fa-solid.fa-right-to-bracket.fa-fw
          | &nbsp;#{t('general.login')}
      li: a.dropdown-item.nav-link(href='https://github.com/softwerkskammer/Agora/issues', title=t('general.what_does_not_work'), target='_blank')
        i.fa-solid.fa-truck-medical.fa-fw
        | &nbsp;#{t('general.feedback')}
      li: include ../version
  if language === 'de'
    +languageEntry(forInline, 'en', 'switch to English', 'United-Kingdom.png')
  else
    +languageEntry(forInline, 'de', 'auf Deutsch umschalten', 'Germany.png')


mixin languageEntry(forInline, lang, title, img)
  li.nav-item(class=forInline ? 'd-sm-none': '')
    a.nav-link.ml-0(href='/language/' + lang + '?currentUrl=' + encodeURIComponent(currentUrl), title=title)
      img.fa-fw(src='/img/flags/' + img, height='16', style='vertical-align: baseline;', alt='title')
      if(forInline)
        | &nbsp;#{title}

mixin navbar-inside
  .navbar.navbar-collapse
    ul.nav.navbar-nav.md-auto.d-flex.mr-3
      li.nav-item(data-agoranav='impressum'): a.nav-link(href='/impressum.html') #{t('general.legal_notice')}
      li.nav-item(data-agoranav='wiki/hilfe'): a.nav-link(href='/help.html') #{t('general.faq')}
      li.nav-item: a.nav-link(href='/credits.html') #{t('general.credits')}
    +administrationMenu

mixin bottomNavbar
  nav.navbar.navbar-expand-sm.p-0.navbar-light.bg-light.fixed-bottom
    +navbar-inside

mixin notificationsBlock(notificationmessage)
  -notificationmessage.kill()
  -var contents = notificationmessage.contents()
  #notifications(class='alert alert-block alert-dismissible hidden-print ' + contents.type)
    h4 #{t(contents.title)}
    | #{t(contents.text, contents.additionalArguments)}
    button.btn-close(type='button', data-bs-dismiss='alert', aria-hidden='true')

mixin topNavbar()
  a.navbar-brand.py-0(href='/')
    img(src='/img/SoftwerkskammerWappenLinks.png', alt='Softwerkskammer', width='234', height='60')
  button.navbar-toggler.d-inline.d-sm-none(type='button', data-bs-toggle='collapse', data-bs-target='.collapse-top')
    span.sr-only Toggle
    i.fa-solid.fa-bars.fa-lg

  .navbar-collapse.collapse.collapse-top.align-self-end
    ul.nav.navbar-nav
      li.nav-item(data-agoranav='dashboard'): a.nav-link(href='/dashboard')
        i.fa-solid.fa-table-list.fa-fw
        span.d-sm-none.d-md-inline &nbsp;#{t('dashboard.dashboard')}
      li.nav-item(data-agoranav='activities'): a.nav-link(href='/activities/upcoming')
        i.fa-solid.fa-calendar-days.fa-fw
        span.d-sm-none.d-md-inline &nbsp;#{t('activities.activities')}
      li.nav-item(data-agoranav='groups'): a.nav-link(href='/groups')
        i.fa-solid.fa-users.fa-fw
        span.d-sm-none.d-md-inline &nbsp;#{t('groups.groups')}
      li.nav-item.dropdown(data-agoranav='wiki')
        a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown')
          i.fa-solid.fa-book.fa-fw
          span.d-sm-none.d-md-inline &nbsp;#{t('wiki.wiki')}&nbsp;
        ul.dropdown-menu
          if (structuredWikisubdirs)
            for wikisubdirs, key in structuredWikisubdirs
              li.dropdown.dropend
                a.dropdown-item.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown') #{t('groups.' + key)}
                .dropdown-menu
                  if (wikisubdirs.length)
                    for subdir in wikisubdirs
                      a.dropdown-item(href='/wiki/' + subdir + '/') #{subdir}
                  else
                    li.nav-item: a.nav-link(href='#') <i>#{t('general.none')}</i>
      if (accessrights.isRegistered())
        li.nav-item(data-agoranav='members'): a.nav-link(href='/members')
          i.fa-solid.fa-user.fa-fw
          span.d-sm-none.d-md-inline &nbsp;#{t('members.members')}
      +loginMenu(true)
    ul.navbar-nav.ms-md-auto.d-none.d-md-flex.mr-3
      +loginMenu

