extends ../../../views/layout
include ../../../../softwerkskammer/views/formComponents
include ../../../../softwerkskammer/lib/activities/views/activities-mixins
include participationinfoform

block title
  | #{activity.title()} - #{t('activities.activities')}

block content
  .row
    .col-md-12
      .page-header
        .pull-right.visible-print
          img(height='80px', src='/qrcode?url=#{encodeURIComponent(activity.fullyQualifiedUrl())}')
        .btn-group.pull-right
          if (accessrights.canEditActivity(activity))
            a.btn.btn-default(href='/activities/addons/#{encodeURIComponent(activity.url())}', title=t('activities.participants')): i.fa.fa-list-ol.fa-fw
          a.btn.btn-default(href='/registration/ical', title=t('activities.export')): i.fa.fa-calendar.fa-fw
          if (accessrights.canEditActivity(activity))
            a.btn.btn-default(href='/waitinglist/#{encodeURIComponent(activity.url())}', title=t('activities.waitinglist')): i.fa.fa-clock-o.fa-fw
            a.btn.btn-default(href='/mailsender/invitation/#{encodeURIComponent(activity.url())}', title=t('activities.invitation')): i.fa.fa-envelope-o.fa-fw
            a.btn.btn-default(href='/activities/edit/#{encodeURIComponent(activity.url())}', title=t('general.edit')): i.fa.fa-edit.fa-fw
          if (accessrights.canDeleteActivity(activity))
            +reallyDeleteModal('activities.delete', '/activities/delete/' + encodeURIComponent(activity.url()))
        h2 #{activity.title()}
          br
          small #{activity.startMoment().locale(language).format('LL')} (#{activity.startMoment().locale(language).format('LT')}
            if (activity.isMultiDay())
              | ) - #{activity.endMoment().locale(language).format('LL')} (#{activity.endMoment().locale(language).format('LT')})
            else
              |  - #{activity.endMoment().locale(language).format('LT')})
      .clearfix
      | !{activity.descriptionHTML()}
  .row
    .col-md-12
      +participationinfoform(roomOptions)
  .row
    .col-md-12
      hr
      | Registration will open in April, 2015.
    .col-md-6
      .hidden-print
        // +visitorCount(activity.participants.length)

block scripts
  script.
    displayedActivityStart = moment('#{activity.startMoment().toISOString()}');
    displayedActivityEnd = moment('#{activity.endMoment().toISOString()}');
//- cannot write "#{activity.startMoment()}" as we need to produce a string to eval in the client
