extends ../../../views/layout
include ../../../../softwerkskammer/lib/members/views/memberlist-mixin
include ../../../../softwerkskammer/views/format-mixin
include ../../../../softwerkskammer/views/formComponents
include ../../../../softwerkskammer/views/dataTables-mixin
include ajax

mixin localdate(momentOrNull)
  | #{momentOrNull ? momentOrNull.locale('de').format('L') : '-'}

mixin fromWaitinglistToParticipant(resourceName, nickname)
  +ajaxButton(nickname, "/activities/fromWaitinglistToParticipant/" + encodeURIComponent(resourceName) + "/" + encodeURIComponent(nickname), 'WLP', 'Teilnehmen lassen…')

mixin newDuration(resourceName, nickname, currentSelection)
  form(id='activityform', action='/activities/newDuration', method='post')
    +csrf
    +hidden('resourceName', resourceName)
    +hidden('nickname', nickname)
    select.form-control(name='duration', style='height: inherit;')
      option(value='0') #{' '}
      option(value='2') saturday evening
      option(value='3') sunday morning
      option(value='4') sunday evening
      option(value='5') monday morning
    button.btn.btn-default.btn-xs(type='submit') Ändern

mixin newResource(resourceName, nickname)
  form(id='activityform', action='/activities/newResource', method='post')
    +csrf
    +hidden('resourceName', resourceName)
    +hidden('nickname', nickname)
    select.form-control(name='newResourceName', style='height: inherit;')
      option(value='0') #{' '}
      option(value='single') single
      option(value='bed_in_double') bed in double
      option(value='bed_in_junior') bed in junior
      option(value='junior') junior
    button.btn.btn-default.btn-xs(type='submit') Ändern

mixin newWaitinglist(resourceName, nickname)
  form(id='activityform', action='/activities/newWaitinglist', method='post')
    +csrf
    +hidden('resourceName', resourceName)
    +hidden('nickname', nickname)
    select.form-control(name='newResourceName', style='height: inherit;')
      option(value='0') #{' '}
      option(value='single') single
      option(value='bed_in_double') bed in double
      option(value='bed_in_junior') bed in junior
      option(value='junior') junior
    button.btn.btn-default.btn-xs(type='submit') Ändern

mixin unpairedParticipantDropdown(resourceName, participant1Nick, unpairedParticipants)
  form(id='unpairedParticipantForm', action='/activities/newParticipantPair', method='post')
    +csrf
    +hidden('resourceName', resourceName)
    +hidden('participant1', participant1Nick)
    select.form-control(name='participant2', style='height: inherit;')
      option(value='0') #{' '}
      for participant2 in unpairedParticipants
        -var p2nick = participant2.nickname()
        if participant1Nick !== p2nick
          option(value=p2nick) #{participant2.displayName()} (#{p2nick}) - [Wunsch: #{participant2.subscriber.currentParticipation().roommate()}]
    button.btn.btn-default.btn-xs(type='submit') Zufügen

mixin removePair(resourceName, pair)
  form(id='removePairForm', action='/activities/removeParticipantPair', method='post')
    +csrf
    +hidden('resourceName', resourceName)
    +hidden('participant1', pair.participant1.nickname())
    +hidden('participant2', pair.participant2.nickname())
    button.btn.btn-default.btn-xs(type='submit') Entfernen

mixin removeParticipantWithModal(resourceName, participantNick)
  -var theID = 'reallyRemoveParticipant' + participantNick.replace(/\s/g, '').replace(/@/g, 'AT')
  .modal.fade(id=theID, tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3 Remove Participant
        .modal-body
          p #{t('general.are_you_sure')}
          p This will remove #{participantNick} from the list of participants.
          form(id='removeParticipantForm', action='/activities/removeParticipant', method='post')
            .btn-group
              button.btn.btn-default(type='cancel', data-dismiss='modal', aria-hidden='true') #{t('general.no')}
              +csrf
              +hidden('resourceName', resourceName)
              +hidden('participant', participantNick)
              button.btn.btn-danger(type='submit')
                i.fa.fa-trash-o.fa-fw &nbsp;
                | #{t('general.delete')}
  button.btn.btn-danger(data-toggle='modal', data-target='#' + theID): i.fa.fa-trash-o.fa-fw

mixin removeWaitinglistMemberWithModal(resourceName, waitinglistNick)
  -var theID = 'reallyRemoveWaitinglistMember' + waitinglistNick.replace(/\s/g, '').replace(/@/g, 'AT')
  .modal.fade(id=theID, tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3 Remove Waitinglist Member
        .modal-body
          p #{t('general.are_you_sure')}
          p This will remove #{waitinglistNick} from the waitinglist.
          form(id='removeWaitinglistMemberForm', action='/activities/removeWaitinglistMember', method='post')
            .btn-group
              button.btn.btn-default(type='cancel', data-dismiss='modal', aria-hidden='true') #{t('general.no')}
              +csrf
              +hidden('resourceName', resourceName)
              +hidden('waitinglistMember', waitinglistNick)
              button.btn.btn-danger(type='submit')
                i.fa.fa-trash-o.fa-fw &nbsp;
                | #{t('general.delete')}
  button.btn.btn-danger(data-toggle='modal', data-target='#' + theID): i.fa.fa-trash-o.fa-fw

block scripts
  +dataTableImport
  +ajaxFunction
  +dataTable('.addontable', '[ 4, "asc" ]', '[{targets: [0], type: "date-eu"}]')
  +dataTable('.membertable', '[ 0, "asc" ]', '[{targets: 0, type: "date-eu"}]')
  +dataTable('.unsortedtable', '[]', '[]')
  +dataTable('.addressestable', '[ 1, "asc" ]', '[]')
block title
  | #{title} - Verwaltung
block content
  .row
    .col-md-12
      .page-header
        h2 #{title} - Verwaltung
          a.btn.pull-right.btn-default(href='/registration') Zurück
    ul.nav.nav-tabs
      li: a(href='#overview', data-toggle='tab') Übersicht
      li: a(href='#main', data-toggle='tab') Teilnehmer nach Zimmern
      li: a(href='#waitinglist', data-toggle='tab') Warteliste
      li.active: a(href='#addons', data-toggle='tab') Teilnehmer
      li: a(href='#bedroomPairing', data-toggle='tab') Zimmerzuordnungen
      li: a(href='#tshirtSizes', data-toggle='tab') T-Shirt-Bestellungen
      li: a(href='#remarks', data-toggle='tab') Zusatzinformationen
      li: a(href='#unsubscribed', data-toggle='tab') Abgemeldete
      li: a(href='#addresses', data-toggle='tab') Adressen
  .row
    .col-md-12
      .tab-content
        .tab-pane#overview
          h4 Bettenbelegung
          .panel
            -var totalParticipants = 0
            -var totalFreeSpots = 0
            -var totalWaitingMembers = 0
            table.table.table-condensed.table-hover.table-striped.unsortedtable
              thead
                tr
                  th Option
                  th Teilnehmer
                  th Freie Plätze
                  th Wartende
              tbody
                for resourceName in roomOptionIds
                  -var participants = registrationReadModel.participantCountFor(resourceName)
                  -var quota = socratesReadModel.quotaFor(resourceName)
                  -var waitingMembers = registrationReadModel.waitinglistParticipantCountFor(resourceName)
                  -var freeSpots = quota ? quota - participants : undefined
                  -totalParticipants += participants
                  -totalFreeSpots = freeSpots ? totalFreeSpots + freeSpots : totalFreeSpots
                  -totalWaitingMembers += waitingMembers
                  tr
                    td #{resourceName}
                    td #{participants} von #{quota || 'unbegrenzt'}
                    td #{freeSpots}
                    td #{waitingMembers}
                tr
                  td <b>Summe</b>
                  td <b>#{totalParticipants}</b>
                  td <b>#{totalFreeSpots}</b>
                  td <b>#{totalWaitingMembers}</b>

            hr
            h4 Aufenthaltsdauer
            .panel
              table.table.table-condensed.table-hover.table-striped.unsortedtable
                thead
                  tr
                    th Option
                    th Count
                tbody
                  for duration in durations
                    tr
                      td #{duration.duration}
                      td #{duration.count} (total: #{duration.total})

        .tab-pane#main
          each resourceName in roomOptionIds
            -var participants = participantsOf[resourceName]
            -var participantCount = registrationReadModel.participantCountFor(resourceName)
            -var quota = socratesReadModel.quotaFor(resourceName)
            h4 #{resourceName} (#{participantCount} von #{quota || 'unbegrenzt'})
            .panel
              table.table.table-condensed.table-hover.table-striped.membertable
                thead
                  tr
                    th Registriert
                    th Nickname
                    th Vorname
                    th Nachname
                    th Ort/Region
                    th bleibt bis
                    th ändern in
                    th umbuchen in
                    th entfernen
                tbody
                  for member in participants
                    tr
                      td #{registrationReadModel.registeredAt(member.id()).locale('de').format('L')}
                      td: +linkedMember(member.nickname())
                      td #{member.firstname()}
                      td #{member.lastname()}
                      td #{member.location()}
                      td #{registrationReadModel.durationFor(member.id())}
                      td: +newDuration(resourceName, member.nickname(), registrationReadModel.participantEventFor(member.id()).duration)
                      td: +newResource(resourceName, member.nickname())
                      td: +removeParticipantWithModal(resourceName, member.nickname())
            hr
        .tab-pane#waitinglist
          h4 Wartende (#{waitinglistLines.length})
          .panel
            table.table.table-condensed.table-hover.table-striped.membertable
              thead
                tr
                  th Eingetragen
                  th Nickname
                  th Vorname
                  th Nachname
                  th Ort/Region
                  th Übernehmen
                  th ändern in
                  th entfernen
              tbody
                for line in waitinglistLines
                  tr
                    td #{formatDate(registrationReadModel.waitinglistParticipantEventFor(line.member.id()).timestamp)}
                    td #{+linkedMember(line.member.nickname())}
                    td #{line.member.firstname()}
                    td #{line.member.lastname()}
                    td #{line.member.location()}
                    td: +fromWaitinglistToParticipant(resourceName, member.nickname())
                    td: +newWaitinglist(resourceName, member.nickname())
                    td: +removeWaitinglistMemberWithModal(resourceName, member.nickname())
            hr
        .tab-pane.active#addons
          h4 Alle Teilnehmer
          .panel
            table.table.table-condensed.table-hover.table-striped.addontable
              thead
                tr
                  th Registriert
                  th Ressource
                  th Nickname
                  th Vorname
                  th Nachname
                  th eMail
                  th Ort/Region
                  th T-Shirt
                  th Zimmer mit
              tbody
                for line in addonLines
                  tr
                    -var event = registrationReadModel.participantEventFor(line.member.id())
                    td #{formatDate(event.timestamp)}
                    td #{event.roomType}
                    td: +linkedMember(line.member.nickname())
                    td #{line.member.firstname()}
                    td #{line.member.lastname()}
                    td #{line.member.email()}
                    td #{line.member.location()}
                    td #{line.addon.tShirtSize()}
                    td #{line.participation.roommate()}

        .tab-pane#bedroomPairing
          for resourceName in ['bed_in_double', 'bed_in_junior']
            h4 Zuordnung der Belegungen für #{resourceName}
            .panel
              table.table.table-condensed.table-hover.table-striped.unsortedtable
                thead
                  tr
                    th 1. Teilnehmer
                    th 2. Teilnehmer
                    th Zuordnung entfernen
                tbody
                  for pair in rooms[resourceName].roomPairs
                    tr
                      td #{pair.participant1.displayName()} (#{pair.participant1.nickname()}) - [Wunsch: #{pair.participant1.subscriber.currentParticipation().roommate()}]
                      td #{pair.participant2.displayName()} (#{pair.participant2.nickname()}) - [Wunsch: #{pair.participant2.subscriber.currentParticipation().roommate()}]
                      td: +removePair(resourceName, pair)
                  for participant in rooms[resourceName].unpairedParticipants
                    tr
                      td #{participant.displayName()} (#{participant.nickname()}) - [Wunsch: #{participant.subscriber.currentParticipation().roommate()}]
                      td: +unpairedParticipantDropdown(resourceName, participant.nickname(), rooms[resourceName].unpairedParticipants)
                      td #{' '}

        .tab-pane#tshirtSizes
          h4 Verteilungen der T-Shirt-Größen
          .panel
            -var totalShirtCount = 0
            -var totalShirtCountPlusBuffer = 0
            table.table.table-condensed.table-hover.table-striped.unsortedtable
              thead
                tr
                  th T-Shirt-Größe
                  th Anzahl
                  th Anzahl + 10%
              tbody
                for tshirtsize in tshirtsizes
                  -var count = tshirtsize.count
                  -var countPlusBuffer = Math.ceil(tshirtsize.count * 1.1)
                  -totalShirtCount += count
                  -totalShirtCountPlusBuffer += countPlusBuffer
                  tr
                    td #{tshirtsize.size}
                    td #{count}
                    td #{countPlusBuffer}
            hr
            p Gesamtzahl T-Shirts: #{totalShirtCount} (Plus 10 %: #{totalShirtCountPlusBuffer})
          hr
        .tab-pane#remarks
          h4 Remarks
          .panel
            table.table.table-condensed.table-hover.table-striped.unsortedtable
              thead
                tr
                  th Nickname
                  th Vorname
                  th Nachname
                  th Bemerkung
              tbody
                for line in addonLines
                  tr
                    td: +linkedMember(line.member.nickname())
                    td #{line.member.firstname()}
                    td #{line.member.lastname()}
                    td #{line.addon.remarks()}
          hr
        .tab-pane#unsubscribed
          h4 Abgemeldete
          .panel
            table.table.table-condensed.table-hover.table-striped.unsortedtable
              thead
                tr
                  th Nickname
                  th Vorname
                  th Nachname
              tbody
                for line in addonLinesOfUnsubscribedMembers
                  tr
                    if line.member
                      td: +linkedMember(line.member.nickname())
                      td #{line.member.firstname()}
                      td #{line.member.lastname()}
                    else
                      td gelöscht
                      td &nbsp;
                      td &nbsp;
          hr
        .tab-pane#addresses
          h4 Adressen der Teilnehmer
          .panel
            table.table.table-condensed.table-hover.table-striped.addressestable
              thead
                tr
                  th Vorname
                  th Nachname
                  th E-Mail
                  th Heimatadresse
                  th Rechnungsadresse
                  th Ressource
              tbody
                for line in addonLines
                  tr
                    td #{line.member.firstname()}
                    td #{line.member.lastname()}
                    td #{line.member.email()}
                    td: +formatAsLines(line.addon.homeAddressLines())
                    td: +formatAsLines(line.addon.billingAddressLines())
                    td #{registrationReadModel.participantEventFor(line.member.id()).roomType}

          h4 Adressen der Wartenden
          .panel
            table.table.table-condensed.table-hover.table-striped.addressestable
              thead
                tr
                  th Vorname
                  th Nachname
                  th E-Mail
                  th T-Shirt
                  th Zimmer mit
                  th Heimatadresse
                  th Rechnungsadresse
                  th Ressource
              tbody
                for line in waitinglistLines
                  tr
                    td #{line.member.firstname()}
                    td #{line.member.lastname()}
                    td #{line.member.email()}
                    td #{line.addon.tShirtSize()}
                    td #{line.participation.roommate()}
                    td: +formatAsLines(line.addon.homeAddressLines())
                    td: +formatAsLines(line.addon.billingAddressLines())
                    td #{formatList(registrationReadModel.waitinglistParticipantEventFor(line.member.id()).desiredRoomTypes)}
          hr
