include ../../../../commonComponents/pug/formComponents
mixin participationinfoform(roomOptions, registration)
  .row
    .col-md-6
      h3 How it works.
      p The tickets will be given out in a lottery.
      p.
        To avoid "rush hour" traffic, all registrations (except for the guaranteed sponsor slots)
        will end up on the waiting list initially. It will not matter if you register on the first day or
        on the last one. Five days after we open the registration, there will be a draw to distribute the
        slots to the people on the waiting lists.
      p Please note that the draw will be (pseudo-)random and we will not influence the draw in any way.
      p After the draft you will be notified if you are in.
      p.
        If you are not, you stay on the waiting list as usual. But, don't hesitate.
        Cancelations and other issues will make slots available and we will draw them away at regular intervals.

      h3 Room Options
      p.
        We offer three kinds of rooms. Please choose the room you'd like and tell us for how long you will be our guest.
        All rooms need to be booked from Thursday evening. There will be no exceptions.
      ul
        li Single bed room
        li Double bed room, can only be shared
        li Junior double bed room (one bed, 160cm wide), can be shared or occupied exclusively
      p If you stay at least until Sunday evening, we assume that you want to participate in the Coderetreat or in one of the workshops on Sunday.
      p All prices are per person and include:
      ul
        li participation in the SoCraTes conference (including the Sunday Coderetreat or workshop, if you like)
        li the hotel room
        li meals, snacks and coffee
      p The final prices depend on our sponsors and may be slightly lower than announced here.

      h3 Payment and Invoice
      p.
        You will pay the full amount (as given below) to the venue on checkout, and you will receive an invoice from the venue.

    .col-md-6
      h3 Room Choice
      p You can select a room and/or as many waitinglists as you like.
      ul
        li If you select more than one waitinglist (and no rooms), this means you are happy with any of the rooms you selected.
        | We will move you to one of the rooms if they become available.
        li If you select a room and one or more waitinglists, this indicates that you would prefer any of the waitinglist rooms to the one you actually selected.
        | We will look into moving you to one of the waitinglist rooms if they become available. This will probably only happen closer to the date.
      p Generally speaking: The more waitinglist options you select, the better your chances are to get a spot or to improve your selected room.
      p Please be aware that we will move you to the next available room without checking back with you first. So please select only those waitinglists that you are happy with!

    .col-md-6
      h3 I'm in and now?
      p.
        Some of you have booked a spot in a double shared or in a junior shared room, now ist the time to specify your desired roommate.
        Please do it as soon as possible. You can check or set your roommate in your SoCraTes profile site.
      p.
        All those who do not choose a roommate until end of July 2017 will be assigned to one.
        We will fill the shared rooms with people of the same gender (as far as we know and is possible)
      p.
        Please verify the duration of your stay. If anything needs to be changed, send an email to
        registration@socrates-conference.de with your desired changes. You can check this data on the registration site
        after log in (https://www.socrates-conference.de/registration)
      p.
        To book until Sunday evening means participation in the workshops or code retreat - as sponsorship money is being
        used to make this possible, please be fair and do not unnecessarily specify the Sun evening if you don't want to
        attend some of the workshops / code retreat.
      p.
        Specify the correct size in the T-shirt order. Check it and change it, if necessary. If you don't want to have a
        T-Shirt please select the "No Shirt" option.
      p.
        Also check your home and billing addresses at the edit profile site. You can also tell us about your food preferences / dietary restrictions
        in the remarks and please remove old or misplaced information from it (for example room type, roommate, ...)

      h3 Deposit
      p.
        This year we decided against collecting a deposit. We trust that you will notify us if you cannot participate.
        If you do not notify us until 24th August, you will be charged for the first night.
  .row
    .col-sm-12

      -var disabled = (!registration.isPossible || registration.alreadyRegistered || registration.alreadyOnWaitinglist)
      form#participationinfoform.relaxed(action='/registration/startRegistration', method='post')
        fieldset(disabled=disabled, class=(disabled ? 'disabled-text' : ''))
          .table-responsive
            table.table.table-striped.table-condensed.table-bordered
              thead
                tr
                  th Room until
                  th.text-center
                    .radio-inline
                      label
                        input(type='radio', name='nightsOption', value='2')
                        b Sat evening
                  th.text-center
                    .radio-inline
                      label
                        input(type='radio', name='nightsOption', value='3')
                        b Sun morning
                  th.text-center
                    .radio-inline
                      label
                        input(type='radio', name='nightsOption', value='4')
                        b Sun evening*
                  th.text-center
                    .radio-inline
                      label
                        input(type='radio', name='nightsOption', value='5')
                        b Mon morning*
              tbody
                for option in roomOptions
                  tr
                    th
                      .radio-inline
                        label
                          input(type='checkbox', name='roomsOptions', value=option.id)
                          b &nbsp; #{option.name}
                    td.text-center
                      span(id=option.id + '2', style='margin-left:20px;') #{option.two}&nbsp;€
                    td.text-center
                      span(id=option.id + '3', style='margin-left:20px;') #{option.three}&nbsp;€
                    td.text-center
                      span(id=option.id + '4', style='margin-left:20px;') #{option.threePlus}&nbsp;€
                    td.text-center
                      span(id=option.id + '5', style='margin-left:20px;') #{option.four}&nbsp;€

        .row(style='margin-top:-15px; margin-bottom:15px')
          .col-xs-12
            small * including participation in Sunday Coderetreat or Workshop
              +csrf
        if registration.alreadyRegistered
          .btn.pull-right.btn.btn-success You are already registered.
        else if registration.alreadyOnWaitinglist
          .btn.pull-right.btn.btn-success You are already on the waitinglist.
        else
          .row.hidden-print(style='margin-bottom: 10px')
            .col-sm-12
              button.pull-right.btn.btn-primary(type='submit', disabled)
                if (registration.isPossible)
                  | I really do want to participate!
                else
                  | Registration will open #{registration.opening.format("dddd, Do MMMM YYYY, HH:mm [GMT]Z")}
                if (!registration.isPossible)
                  .row
                  p.pull-right (i.e. in #{registration.opensIn.days} days, #{registration.opensIn.hours} hours, #{registration.opensIn.minutes} minutes)
