include  ../../../views/formComponents
include ../../members/views/userinfoform
include participationinfoform
  
extends ../../../views/layout

block scripts
  script(src='/clientscripts/check-memberform.js')
  script(src='/clientscripts/check-socrates-memberform.js')

block title 
  | Registration - SoCraTes
block content
  -var asParticipant = registrationTuple.roomType && registrationTuple.duration
  .page-header
    if(asParticipant)
      h1 Registration #{' '}
        small Personal Information
    else
      h1 Waitinglist Registration<br>
    if (!!expiresAt)
      -var spotWhere = asParticipant ? 'at SoCraTes' : 'on the SoCraTes waitinglist'
      p.
        You now have a reserved spot #{spotWhere}. This reservation is held for #{expiresIn} minutes
        (i.e. until #{expiresAt.locale('en-gb').format('LT')}). If you do not fill in and submit this form until then,
        you will have to restart the registration from the previous page.
      
  form#participationform.relaxed(action='/registration/completeRegistration', method='post')
    .row(style='margin-bottom: 10px')
      .col-sm-12
        +csrf
        +hidden('activityUrl', registrationTuple.activityUrl)
        +hidden('roomType', registrationTuple.roomType)
        +hidden('duration', registrationTuple.duration)
        +hidden('desiredRoomTypes', registrationTuple.desiredRoomTypes)
        fieldset
          +memberinfoform(member, subscriber, 'members.edit_registration')
          +userinfoform(addon, participation, registrationTuple.roomType && registrationTuple.roomType.indexOf('bed_in_') > -1)
    
    .row(style='margin-bottom: 10px')
      .col-sm-12
        p Our conference is dedicated to providing a harassment-free conference experience for everyone. We do 
          | not tolerate harassment of conference participants in any form. With your registration, you accept this and 
          a(href='/values.html', target='_blank') our code of conduct
          | #{' '} in general.
        if(registrationTuple.roomType && registrationTuple.duration)
          +memberSubmitButtons('I really do want to participate!')
        else
          +memberSubmitButtons('Put me on the waitinglist!')
