include  ../../../views/formComponents
mixin participationinfoform(roomOptions, registration)
  .row
    .col-md-6
      h3 Room Options
      p.
        We offer three kinds of rooms. Please choose the room you'd like and tell us for how long you will be our guest.
        All rooms need to be booked from Thursday evening. There will be no exceptions.
      ul
        li Single bed room
        li Double bed room, can only be shared
        li Junior double bed room (one bed, 160cm wide), can be shared or occupied exclusively
      p If you stay at least until Sunday evening, we assume that you want to participate in the Coderetreat or in one of the workshops on Sunday.
      p All prices are per person and include:
      ul
        li participation in the SoCraTes conference (including the Sunday Coderetreat or workshop, if you like)
        li the hotel room
        li meals, snacks and coffee
      p The final prices depend on our sponsors and may be slightly lower than announced here.

      h3 Payment and Invoice
      p.
        You will pay the full amount (as given below) to the venue on checkout, and you will receive an invoice from the venue.

    .col-md-6
      h3 Room Choice
      p You can select a room and/or as many waitinglists as you like.
      ul
        li If you select more than one waitinglist (and no rooms), this means you are happy with any of the rooms you selected.
        | We will move you to one of the rooms if they become available.
        li If you select a room and one or more waitinglists, this indicates that you would prefer any of the waitinglist rooms to the one you actually selected.
        | We will look into moving you to one of the waitinglist rooms if they become available. This will probably only happen closer to the date.
      p Generally speaking: The more waitinglist options you select, the better your chances are to get a spot or to improve your selected room.
      p Please be aware that we will move you to the next available room without checking back with you first. So please select only those waitinglists that you are happy with!

      h3 Deposit
      p.
        This year we decided against collecting a deposit. We trust that you will notify us if you cannot participate.
        If you do not notify us until 24th August, you will be charged for the first night.

  .row
    .col-sm-12

      -var disabled = (!registration.isPossible || registration.alreadyRegistered || registration.alreadyOnWaitinglist)
      form#participationinfoform.relaxed(action='/registration/startRegistration', method='post')
        fieldset(disabled=disabled class=(disabled ? 'disabled-text' : ''))
          .table-responsive
            table.table.table-striped.table-condensed.table-bordered
              thead
                tr
                  th Room until
                  th.text-center Sat evening
                  th.text-center Sun morning
                  th.text-center Sun evening*
                  th.text-center Mon morning*
              tbody
                for option in roomOptions
                  if option.displayRegistrationCheckboxes
                    tr
                      th #{option.name}
                      td.text-center
                        .radio-inline
                          label
                            input(type='radio', name='nightsOptions', value=option.id + ',2')
                            | #{option.two}&nbsp;€
                      td.text-center
                        .radio-inline
                          label
                            input(type='radio', name='nightsOptions', value=option.id + ',3')
                            | #{option.three}&nbsp;€
                      td.text-center
                        .radio-inline
                          label
                            input(type='radio', name='nightsOptions', value=option.id + ',4')
                            | #{option.threePlus}&nbsp;€
                      td.text-center
                        .radio-inline
                          label
                            input(type='radio', name='nightsOptions', value=option.id + ',5')
                            | #{option.four}&nbsp;€
                  else
                    tr
                      th #{option.name}
                        .radio-inline.pull-right
                          label
                            input(type='checkbox', name='nightsOptions', value=option.id + ',waitinglist')
                            |  Waitinglist
                      td.text-center.disabled-text
                        span(style='margin-left:20px;') #{option.two}&nbsp;€
                      td.text-center.disabled-text
                        span(style='margin-left:20px;') #{option.three}&nbsp;€
                      td.text-center.disabled-text
                        span(style='margin-left:20px;') #{option.threePlus}&nbsp;€
                      td.text-center.disabled-text
                        span(style='margin-left:20px;') #{option.four}&nbsp;€

        .row(style='margin-top:-15px; margin-bottom:15px')
          .col-xs-12
            small * including participation in Sunday Coderetreat or Workshop
              +csrf
        +hidden('registrationParam', registration.queryParam)
        if registration.alreadyRegistered
          .btn.pull-right.btn.btn-success You are already registered.
        else if registration.alreadyOnWaitinglist
          .btn.pull-right.btn.btn-success You are already on the waitinglist.
        else
          .row.hidden-print(style='margin-bottom: 10px')
            .col-sm-12
              button.pull-right.btn.btn-primary(type='submit', disabled)
                if (registration.isPossible)
                  | I really do want to participate!
                else
                  | Registration will open #{registration.opening.format("dddd, Do MMMM YYYY, HH:mm [GMT]Z")}
                if (!registration.isPossible)
                  .row
                  p.pull-right (i.e. in #{registration.opensIn.days} days, #{registration.opensIn.hours} hours, #{registration.opensIn.minutes} minutes)

        script.
          $(function () {
            var selectedOptions = '#{registration.selectedOptions}'.split(';');
            console.log(selectedOptions)
            selectedOptions.forEach(function (option) {
              var selectedInput = $('input[value="' + option + '"]')
              selectedInput.attr('checked', 'checked');
              selectedInput.parent().parent().parent().addClass('bg-success')
              selectedInput.parent().addClass('text-success')
            });
          })
                                
