include ../../../../commonComponents/pug/formComponents
mixin participationinfoform(roomOptions, registration)
  .row
    .col-md-6
      h3 How it works.
      p The tickets will be given out in a lottery.
      p.
        To avoid "rush hour" traffic, all registrations (except for guaranteed sponsor slots) will end up on the
        waiting list, initially. It will not matter, if you register on the first day, or on the last.
        On April 18, 2017 there will be a draw to distribute the slots to people on the waiting list.
      p Please note that the draw will be (pseudo-) random, and we will not influence the results in any way.
      p After the draw, you will be notified, if you are in.
      p.
        If you are not, you stay on the waiting list (as was previous practice). But don’t give up just yet:
        Cancelations and other issues always cause some slots to become available again, and we will draw those away
        at regular intervals.

      h3 Room Options
      p.
        We offer three kinds of rooms. Please choose the room you'd like and tell us for how long you will be our guest.
        All rooms need to be booked from Thursday evening. There will be no exceptions.
      ul
        li Single bed room
        li Double bed room, can only be shared
        li Junior double bed room (one bed, 160 cm x 200 cm), can be shared or occupied exclusively
      p If you stay at least until Sunday evening, we assume that you want to participate in the Coderetreat or in one of the workshops on Sunday.
      p All prices are per person and include:
      ul
        li participation in the SoCraTes conference (including the Sunday Coderetreat or workshop, if you like)
        li the hotel room
        li meals, snacks and coffee
      p The final prices depend on our sponsors and may be slightly lower than announced here.

      h3 Room Choice
      p You can select as many room waitinglists as you like.
      p.
        If you select more than one waitinglist this means you are happy with any of the rooms you selected.
        We will move you to one of the rooms if they become available.
      p Generally speaking: The more waitinglist options you select, the better your chances are to get a spot or to improve your selected room.
      p.
        Please be aware that we will move you to the next available room without checking back with you first. So please
        select only those waitinglists that you are happy with!

    .col-md-6
      h3 Payment and Invoice
      p.
        You will pay the full amount (as given below) to the venue on checkout, and you will receive an invoice from the venue.
      h3 I'm in, and now?
      p.
        Some of you have booked a spot in a double shared, or junior shared room. Now is the time to specify your desired
        roommate. Please do so as soon as possible. You can check or set your roommate in your SoCraTes profile.
      p.
        All those who do not choose a roommate until the end of July 2017 will be assigned one. We will usually fill the
        spot with someone matching your own gender, unless you told us to do otherwise, and of course providing enough
        matching pairs exist. However the draw turns out, though, we want you to be sure that there is no way we will
        force you to share the room with someone you dislike or have doubts about - please contact us, if this should be
        the case, and we will try our best to find a mutually agreeable solution.
      p.
        Please verify the duration of your stay. If anything needs to be changed, send an email to
        registration@socrates-conference.de, along with your desired changes. You can check this data on the registration
        page, after logging in (https://www.socrates-conference.de/registration).
      p.
        To book until Sunday evening means participation in the workshops or code retreat - as sponsorship money is being
        used to make this possible, please be fair and do not unnecessarily specify the Sunday evening, unless you want
        to participate in these activities.
      p.
        Specify the correct size of your SoCraTes t-shirt. Check and change this setting, if necessary. If you don’t want
        a t-shirt, please select the “no shirt” option.
      p.
        Also check your home and billing addresses on the profile page. You may tell us about your food preferences/dietary
        restrictions, whether you have any special needs, or any other information you want to share with us.
      p.
        Please make sure that your profile fields are up to date, if this isn’t your first SoCraTes
        (roommate from last year, room type, etc).
      h3 Deposit
      p.
        This year we decided against collecting a deposit. We trust that you will notify us if you cannot participate.
        If you do not notify us until 24th August, you will be charged for the first night.
  .row
    .col-sm-12

      -var disabled = (!registration.isPossible || registration.alreadyRegistered || registration.alreadyOnWaitinglist)
      form#participationinfoform.relaxed(action='/registration/startRegistration', method='post')
        fieldset(disabled=disabled, class=(disabled ? 'disabled-text' : ''))
          .table-responsive
            table.table.table-striped.table-condensed.table-bordered
              thead
                tr
                  th Room until
                  th.text-center
                    .radio-inline
                      label
                        input(type='radio', name='nightsOption', value='2')
                        b Sat evening
                  th.text-center
                    .radio-inline
                      label
                        input(type='radio', name='nightsOption', value='3')
                        b Sun morning
                  th.text-center
                    .radio-inline
                      label
                        input(type='radio', name='nightsOption', value='4')
                        b Sun evening*
                  th.text-center
                    .radio-inline
                      label
                        input(type='radio', name='nightsOption', value='5')
                        b Mon morning*
              tbody
                for option in roomOptions
                  tr
                    th
                      .radio-inline
                        label
                          input(type='checkbox', name='roomsOptions', value=option.id)
                          b &nbsp; #{option.name}
                    td.text-center
                      span(id=option.id + '2', style='margin-left:20px;') #{option.two}&nbsp;€
                    td.text-center
                      span(id=option.id + '3', style='margin-left:20px;') #{option.three}&nbsp;€
                    td.text-center
                      span(id=option.id + '4', style='margin-left:20px;') #{option.threePlus}&nbsp;€
                    td.text-center
                      span(id=option.id + '5', style='margin-left:20px;') #{option.four}&nbsp;€

        .row(style='margin-top:-15px; margin-bottom:15px')
          .col-xs-12
            small * including participation in Sunday Coderetreat or Workshop
              +csrf
        if registration.alreadyRegistered
          .btn.pull-right.btn.btn-success You are already registered.
        else if registration.alreadyOnWaitinglist
          .btn.pull-right.btn.btn-success You are already on the waitinglist.
        else
          .row.hidden-print(style='margin-bottom: 10px')
            .col-sm-12
              button.pull-right.btn.btn-primary(type='submit', disabled)
                if (registration.isPossible)
                  | I really do want to participate!
                else
                  | Registration will open #{registration.opening.format("dddd, Do MMMM YYYY, HH:mm [GMT]Z")}
                if (!registration.isPossible)
                  .row
                  p.pull-right (i.e. in #{registration.opensIn.days} days, #{registration.opensIn.hours} hours, #{registration.opensIn.minutes} minutes)
