include  ../../../views/formComponents
mixin participationinfoform(activity, roomOptions, registrationPossible, alreadyRegistered, alreadyOnWaitinglist, registrationOpening, registrationOpensIn)
  .row
    .col-md-6
      h3 Room Options
      p.
        We offer three kinds of rooms. Please choose the room you'd like and tell us for how long you will be our guest.
        All rooms need to be booked from Thursday evening. There will be no exceptions.
      ul
        li Single bed room
        li Double bed room, can only be shared
        li Junior double bed room (one 160cm bed), can be shared or occupied exclusively
      p If you stay at least until Sunday evening, we assume that you want to participate in the Coderetreat or in one of the workshops on Sunday.
      p All prices are per person and include:
      ul
        li participation in the SoCraTes conference (including the Sunday Coderetreat or workshop, if you like)
        li the hotel room
        li meals, snacks and coffee
      p The final prices depend on our sponsors and may be slightly lower than announced here.

    .col-md-6
      h3 Deposit
      p.
        We require you to pay a (non-refundable) deposit of 100 &euro; as soon as you finish your registration.
      p.
        Your registration is considered
        pending until we receive the deposit. You will not receive an invoice for the deposit, so you might have to pay it
        from your private money.
        However, we will return your deposit to you in cash at the conference.
      p The deposit can be paid in two ways:
      ul
        li Via bank transfer to a German bank account
        li Via credit card (+ 3,30 &euro; non-refundable fee, does not appear on the invoice)
      p You can delegate the paying to somebody else, but you need to register yourself. Deposit payments can be merged (for multiple participants).
      p.
        If you cannot participate in the event, you can provide another participant to substitute you &ndash; your deposit will
        then be counted towards the replacing participant. Please contact us in this case.

      h3 Payment and Invoice
      p.
        We will return your deposit to you in cash at the conference.
        You will pay the full amount (as given below) to the venue on checkout, and you will receive an invoice from the venue.

  .row
    .col-sm-12
      -var disabled = (!registrationPossible || alreadyRegistered || alreadyOnWaitinglist)
      form#participationinfoform.relaxed(action='/registration/startRegistration', method='post')
        fieldset(disabled=disabled class=(disabled ? 'disabled-text' : ''))
          .table-responsive
            table.table.table-striped.table-condensed.table-bordered
              thead
                tr
                  th Room until
                  th.text-center Sat evening
                  th.text-center Sun morning
                  th.text-center Sun evening*
                  th.text-center Mon morning*
              tbody
                for option in roomOptions
                  if option.displayRegistrationCheckboxes
                    tr
                      th #{option.name}
                      td.text-center
                        .radio-inline
                          label
                            input(type='radio', name='nightsOptions', value=option.id + ',2')
                            | #{option.two}&nbsp;€
                      td.text-center
                        .radio-inline
                          label
                            input(type='radio', name='nightsOptions', value=option.id + ',3')
                            | #{option.three}&nbsp;€
                      td.text-center
                        .radio-inline
                          label
                            input(type='radio', name='nightsOptions', value=option.id + ',4')
                            | #{option.threePlus}&nbsp;€
                      td.text-center
                        .radio-inline
                          label
                            input(type='radio', name='nightsOptions', value=option.id + ',5')
                            | #{option.four}&nbsp;€
                  else
                    tr
                      th #{option.name}
                        .radio-inline.pull-right
                          label
                            input(type='radio', name='nightsOptions', value=option.id + ',waitinglist')
                            |  Waitinglist
                      td.text-center.disabled-text
                        span(style='margin-left:20px;') #{option.two}&nbsp;€
                      td.text-center.disabled-text
                        span(style='margin-left:20px;') #{option.three}&nbsp;€
                      td.text-center.disabled-text
                        span(style='margin-left:20px;') #{option.threePlus}&nbsp;€
                      td.text-center.disabled-text
                        span(style='margin-left:20px;') #{option.four}&nbsp;€

        .row(style='margin-top:-15px; margin-bottom:15px')
          .col-xs-12
            small * including participation in Sunday Coderetreat or Workshop
              +csrf
        if alreadyRegistered
          .btn.pull-right.btn.btn-success You are already registered.
        else if alreadyOnWaitinglist
          .btn.pull-right.btn.btn-success You are already on the waitinglist.
        else
          .row.hidden-print(style='margin-bottom: 10px')
            .col-sm-12
              button.pull-right.btn.btn-primary(type='submit', disabled)
                if (registrationPossible)
                  | I really do want to participate!
                else
                  | Registration will open #{registrationOpening.format("dddd, Do MMMM YYYY, HH:mm [GMT]Z")}
              if(registrationOpensIn)
                .row
                p.pull-right (i.e. in #{registrationOpensIn.days} days, #{registrationOpensIn.hours} hours, #{registrationOpensIn.minutes} minutes)

        script.
          $(function () {
            var selectedInput = $('input[value="' + '#{activity.selectedOptionFor(accessrights.memberId())}"]')
            selectedInput.attr('checked', 'checked');
            selectedInput.parent().parent().parent().addClass('bg-success')
            selectedInput.parent().addClass('text-success')
          })
                                
