include  ../../../views/formComponents

mixin activityform(activity, groups, editorNames, participantNames)
  form#activityform(action='/activities/submit', method='post')
    +csrf
    if (activity.id())
      +hidden('id', activity.id())
    if (activity && activity.version && activity.version())
      +hidden('version', activity.version())
    +hidden('previousUrl', activity.url())
    fieldset
      .row
        .col-12
          +submitButtons('general.save')
          legend
            if (activity.id())
              | #{t('activities.edit')}
            else
              | #{t('activities.create')}
          if (activity.clonedFromMeetup())
            p #{t('activities.cloned_from_meetup_text')}
          else
            p #{t('activities.helptext')}
              a(href='/wiki/hilfe/activities-hilfe') #{t('activities.helplink')}
      .row
        .col-md-6
          +text('title', t('activities.title'), activity.title(), t('activities.tooltip.title'), '', activity.clonedFromMeetup())
          .row
            .col-6.pe-0
              .row.mx-0
                .col-6.pl-0.pe-1.ps-0
                  +date('startDate', t('activities.start'), activity.startDateTime().setLocale(language).toLocaleString(DateTime.DATE_SHORT), t('activities.tooltip.start'), activity.clonedFromMeetup())
                .col-6.px-1
                  +time('startTime', activity.startDateTime().setLocale(language).toLocaleString(DateTime.TIME_24_SIMPLE), activity.clonedFromMeetup())
            .col-6.pl-1
              .row.mx-0
                .col-6.px-1
                  +date('endDate', t('activities.end'), activity.endDateTime().setLocale(language).toLocaleString(DateTime.DATE_SHORT), t('activities.tooltip.end'), activity.clonedFromMeetup())
                #dates.col-6.ps-1.pe-0
                  +time('endTime', activity.endDateTime().setLocale(language).toLocaleString(DateTime.TIME_24_SIMPLE), activity.clonedFromMeetup())
          +textarea('description', t('general.description'), activity.description(), '', '', activity.clonedFromMeetup())
          +textarea('direction', t('activities.directions'), activity.direction(), '', '', activity.clonedFromMeetup())
          +editableMultiselect('editorIds', t('activities.editors'), editorNames, participantNames)
        .col-md-6
          .form-group
            +controlLabel('url', t('activities.address_suffix'), t('activities.tooltip.address_suffix'))
            input.form-control#url(type='text', name='url', value=activity.url(), disabled=activity.clonedFromMeetup())
          +text('location', t('activities.location'), activity.location(), '', '', activity.clonedFromMeetup())
          .form-group
            +controlLabel('preview', 'Preview')
            #map.hidden-print(style='width: ' + '100%' + '; height: ' + '420px')
          .form-group
            label.control-label(for='assignedGroup') #{t('groups.group')}:
            select#assignedGroup.form-control.enhance(name='assignedGroup', disabled=activity.clonedFromMeetup())
              for group in groups
                option(value=group.id, selected = (activity.assignedGroup() !== undefined && activity.assignedGroup() === group.id)) #{group.longName}
      .row
        .col-md-12
          #resources
            -var resource = activity.veranstaltung()
            .row
              .col-3
                .form-group
                  +controlLabel('resources[limits]', t('activities.count'), t('activities.tooltip.count'))
                  input.form-control(name='resources[limits]', value=resource.limit(), type='text', placeholder=t('activities.unlimited'))
              .col-3
                .form-group
                  +controlLabel('resources[isRegistrationOpen]', t('activities.registration'), t('activities.tooltip.registration'))
                  select.form-control.enhance(name='resources[isRegistrationOpen]')
                    option(value='yes', selected=(resource.isRegistrationOpen())) #{t('activities.possible')}
                    option(value='no', selected=(!resource.isRegistrationOpen())) #{t('activities.impossible')}
              .col-3
                .form-group
                  +controlLabel('resources[canUnsubscribe]', t('activities.deregistration'), t('activities.tooltip.deregistration'))
                  select.form-control.enhance(name='resources[canUnsubscribe]')
                    option(value='yes', selected=resource.canUnsubscribe()) #{t('activities.possible')}
                    option(value='no', selected=!resource.canUnsubscribe()) #{t('activities.impossible')}
              .col-3
                .form-group
                  +controlLabel('resources[hasWaitinglist]', t('activities.waitinglist'), t('activities.tooltip.waitinglist'))
                  select.form-control.enhance(name='resources[hasWaitinglist]')
                    option(value='yes', selected=resource.hasWaitinglist()) #{t('general.yes')}
                    option(value='no', selected=!resource.hasWaitinglist()) #{t('general.no')}
            +hidden('resources[names]', name)

      .row
        .col-md-12
          hr
          +submitButtons('general.save')
