mixin subscriptionButtons(activity, resourceName, resourceRegistrationRenderer)
  -var result = resourceRegistrationRenderer.htmlRepresentationOf(activity, resourceName, accessrights.memberId())
  -var btnClass = result.isWithdrawal() ? 'btn-default' : 'btn-primary'
  if (activity.resourceNames().length === 1)
    if (!result.representsButton())
      | #{t(result.displayText)}
    else
      form(role='form', method='POST', action=result.type)
        +csrf
        +hidden('url', result.url)
        +hidden('resource', result.resourcename)
        button.btn(type='submit', class='#{btnClass}') #{t(result.displayText)}
  else
    .form-horizontal
      .form-group
        label.control-label.col-xs-6(style='text-align: left;') #{resourceName}:
        if (!result.representsButton())
          span.col-xs-6.control-label(style='text-align: center;') #{t(result.displayText)}
        else
          span.col-xs-6
            form(role='form', method='POST', action=result.type)
              +csrf
              +hidden('url', result.url)
              +hidden('resource', result.resourcename)
              button.btn(type='submit', class='#{btnClass}') #{t(result.displayText)}

mixin activityList(activities, member)
  dl.dl-horizontal
    for activity in activities
      dt
        | #{activity.startMoment().locale(language).format('LL')}
      dd
        a(href='/groups/#{activity.assignedGroup()}')
          span.label(style='background-color: #{activity.colorRGB}') #{activity.groupName()}
        | &nbsp;
        a(href=activity.fullyQualifiedUrl()) #{activity.title()}
        if (member && activity.allRegisteredMembers().indexOf(member.id()) > -1)
          | &nbsp;(Angemeldet)
