include  ../../../../commonComponents/pug/formComponents

mixin activityform(activity, groups, editorNames, participantNames)
  form#activityform(action='/activities/submit', method='post')
    +csrf
    if (activity.id())
      +hidden('id', activity.id())
    +hidden('previousUrl', activity.url())
    fieldset
      .row
        .col-md-12
          +submitButtons('general.save')
          legend
            if (activity.id())
              | #{t('activities.edit')}
            else
              | #{t('activities.create')}
      .row
        .col-md-6
          +text('title', t('activities.title'), activity.title(), t('activities.tooltip.title'))
          .row
            .col-xs-6(style='padding-right:5px')
              .col-xs-6(style='padding-left:0px;padding-right:3px')
                +date('startDate', t('activities.start'), activity.startMoment().locale(language).format('L'), t('activities.tooltip.start'))
              .col-xs-6(style='padding-left:3px;padding-right:0px')
                +time('startTime', activity.startMoment().locale(language).format('LT'))
            .col-xs-6(style='padding-left:5px')
              .col-xs-6(style='padding-left:0px;padding-right:3px')
                +date('endDate', t('activities.end'), activity.endMoment().locale(language).format('L'), t('activities.tooltip.end'))
              #dates.col-xs-6(style='padding-left:3px;padding-right:0px')
                +time('endTime', activity.endMoment().locale(language).format('LT'))
          +textarea('description', t('general.description'), activity.description())
          +textarea('direction', t('activities.directions'), activity.direction())
          +editableMultiselect('editorIds', t('activities.editors'), editorNames, participantNames)
        .col-md-6
          .form-group
            +controlLabel('url', t('activities.address_suffix'), t('activities.tooltip.address_suffix'))
            input.form-control#url(type='text', name='url', value=activity.url())
          +text('location', t('activities.location'), activity.location())
          .form-group
            +controlLabel('preview', 'Preview')
            #map.hidden-print(style='width: ' + '100%' + '; height: ' + '420px')
          .form-group
            label.control-label(for='assignedGroup') #{t('groups.group')}:
            select#assignedGroup.form-control.enhance(name='assignedGroup')
              for group in groups
                option(value=group.id, selected = (activity.assignedGroup() != undefined && activity.assignedGroup() == group.id)) #{group.longName}
      .row
        .col-md-12
          #resources
            -var resource = activity.veranstaltung()
            .row
              .col-xs-3
                .form-group
                  +controlLabel('resources[limits]', t('activities.count'), t('activities.tooltip.count'))
                  input.form-control(name='resources[limits]', value=resource.limit(), type='text', placeholder=t('activities.unlimited'))
              .col-xs-3
                .form-group
                  +controlLabel('resources[isRegistrationOpen]', t('activities.registration'), t('activities.tooltip.registration'))
                  select.form-control.enhance(name='resources[isRegistrationOpen]')
                    option(value='yes', selected=(resource.isRegistrationOpen())) #{t('activities.possible')}
                    option(value='no', selected=(!resource.isRegistrationOpen())) #{t('activities.impossible')}
              .col-xs-3
                .form-group
                  +controlLabel('resources[canUnsubscribe]', t('activities.deregistration'), t('activities.tooltip.deregistration'))
                  select.form-control.enhance(name='resources[canUnsubscribe]')
                    option(value='yes', selected=resource.canUnsubscribe()) #{t('activities.possible')}
                    option(value='no', selected=!resource.canUnsubscribe()) #{t('activities.impossible')}
              .col-xs-3
                .form-group
                  +controlLabel('resources[hasWaitinglist]', t('activities.waitinglist'), t('activities.tooltip.waitinglist'))
                  select.form-control.enhance(name='resources[hasWaitinglist]')
                    option(value='yes', selected=resource.hasWaitinglist()) #{t('general.yes')}
                    option(value='no', selected=!resource.hasWaitinglist()) #{t('general.no')}
            +hidden('resources[names]', name)

      .row
        .col-md-12
          hr
          +submitButtons('general.save')
