extends ../../../views/layout

include ../../groups/views/group-mixins

mixin activitylist(activities)
  ul.list-unstyled
    for activity in activities
      li
        a(href='/groups/' + activity.assignedGroup())
          span.badge.text-white(style='background-color: ' + activity.colorRGB) #{activity.groupName()}
        | &nbsp;
        span.popover-highlight(rel='tooltip-in-body', data-content=activity.descriptionHTML().substring(0,500))
          a(href=activity.fullyQualifiedUrl()) #{activity.title()}

block title
  | #{t('general.gdcr')} #{year}

block head
  +addMapStyle

block content
  .row
    .col-12
      .page-header
        h1 #{t('general.gdcr_activities')} #{year}
      p  #{t('general.gdcr_text')}&nbsp;
        span.urlify http://gdcr.coderetreat.org/
      h2 #{activities.length} Coderetreats
  .row
    .col-lg-6
      +activitylist(activities)
    .col-lg-6.groupsmap
      +placeGroupLabelsForActivities(activities)

  .row
    .col-12
      if previousYears.length > 0
        h2 #{t('activities.previous_gdcr')}
        each year in previousYears
          p: a(href='/activities/gdcr' + year) #{year}


block scripts
  +adjustMapScript

  if (activities.length > 0)
    script.
      displayedActivityStart = '#{activities[0].startMoment().toISOString()}';
//- cannot write "#{activity.startMoment()}" as we need to produce a string to eval in the client
