extends ../../../views/layout
include activities-mixins

block title
  | #{t('activities.activities')}

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          .btn-group
            a.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
              | #{range} &nbsp;
              span.caret
            ul.dropdown-menu
              li: a(href='/activities/upcoming') #{t('activities.upcoming')}
              li: a(href='/activities/past') #{t('activities.past')}
              li: a(href='/activities') #{t('general.all')}
              li: a(href='/activities/gdcr') #{t('general.gdcr_activities')}
          a.btn.btn-default(href='#{webcalURL}', title=t('activities.export_subscribe')): i.fa.fa-calendar.fa-fw
          if (accessrights.canCreateActivity())
            a.btn.btn-default(href='new/', title=t('activities.new')): i.fa.fa-file-o.fa-fw
        h2 #{t('activities.activities')}
      +activityList(activities)
