extends ../../../views/layout
include ../../../../commonComponents/pug/formComponents
include activities-mixins

block title
  | #{t('activities.activities')}

block content
  .row
    .col-12
      .page-header
        form(role='form', method='POST', action='clone-from-meetup/')
          +csrf
          .btn-group.float-right
            .dropdown
              a.btn.btn-light.dropdown-toggle(data-toggle='dropdown')
                | #{range} &nbsp;
                span.caret
              .dropdown-menu
                a.dropdown-item(href='/activities/upcoming') #{t('activities.upcoming')}
                a.dropdown-item(href='/activities/past') #{t('activities.past')}
                a.dropdown-item(href='/activities') #{t('general.all')}
                a.dropdown-item(href='/activities/gdcr') #{t('general.gdcr_activities')}
            a.btn.btn-light(href=webcalURL, title=t('activities.export_subscribe')): i.fa.fa-calendar.fa-fw
            if (accessrights.isSuperuser())
              button.btn.btn-light(type='submit'): i.fa.fa-meetup.fa-fw
            if (accessrights.canCreateActivity())
              a.btn.btn-light(href='new/', title=t('activities.new')): i.fa.fa-file-o.fa-fw
        h2 #{t('activities.activities')}
      +activityList(activities)
