extends ../../../views/layoutOnlyMain
include ../../members/views/memberlist-mixin
include ../../../views/format-mixin
include ../../../views/dataTables-mixin

block scripts
  +dataTableImport
  +dataTable('.membertable', '[ 0, "asc" ]', '[{targets: 0, type: "date-eu"}]')
block title
  | #{activity.title()} - Verwaltung

block content
  .row
    .col-md-12
      .page-header
        h2 #{activity.title()} - Verwaltung
          a.btn.pull-right.btn-default(href=activity.fullyQualifiedUrl()) Zurück
  ul.nav.nav-tabs
    li.active: a(href='#main', data-toggle='tab') #{t('activities.participants')}
  .row
    .col-md-12
      .tab-content
        .tab-pane.active#main
          each resourceName in activity.resourceNames()
            -var participants = activity.participantsOf(resourceName)
            h4 #{resourceName} (#{participants.length} von #{activity.resourceNamed(resourceName).limit() || 'unbegrenzt'})
            .panel
              table.table.table-condensed.table-hover.table-striped.membertable
                thead
                  tr
                    th Registriert
                    th Nickname
                    th Vorname
                    th Nachname
                    th Ort/Region
                tbody
                  for member in participants
                    tr
                      td #{member.registeredAt.locale(language).format('L')}
                      td: +linkedMember(member.nickname())
                      td #{member.firstname()}
                      td #{member.lastname()}
                      td #{member.location()}
            hr
