include ../../../views/formComponents
include ../../payment/views/paymentFormComponents
doctype html
html
  head
  body
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') #{t('general.close')}&nbsp;&times
      h3 #{activity.title()} - #{t('payment.title')}
        br
        small #{t('payment.how_to_pay')}
    .modal-body#paymentbody
      .row
        .col-md-12
          p.
            #{t('payment.how_to_pay_detail')}
      if (!!addonConfig.deposit())
        .row
          .col-md-6
            +paymentMoneyTransfer(paymentInfo, '/activities/payment/submitTransfer', addonConfig.deposit(), activity.url())
          .col-md-6
            +paymentCreditCard(paymentInfo, 'notNeededWhenAmountIsGiven', '/activities/payment/submitCreditCard', addonConfig.deposit(), fee, activity.title(), activity.url())
