extends ../../../views/layout

include mailheader-mixin

block title
  | #{group} #{t('mailarchive.emails')}

block content
  .page-header
    .btn-group.pull-right
      a.btn.btn-default(href='javascript:history.back()', type='cancel') #{t('general.back')}
    h3 #{mail.subject} 
      small: +mailattributes(mail, true)
  | !{mail.getHtml()}
