extends ../../../views/layout

block title
  | File browser

block content
  .span12
    .page-header
      h2 Root #{root}
      div Path #{path}
    ul
      -if (pathFragment != "")
        li
          -if(isDirectory)
            a(href="..") parent directory
          -else
            a(href=".") directory
      for dir in dirs
        li
          | dir&nbsp;
          a(href=dir) #{dir}
    ul
      for file in files
        li
          | file&nbsp;
          a(href=file) #{file}
  - if (content != "")
    h2 File content
    | !{content}
